<!-- analysis start --> 

 

<div class="center">


<!--Базовая версия start --> 
  <a href="#" class="analysis" style="background-color: #A95066;">
    <div class="analysis__background"></div>
    <div class="analysis__content">
      <div class="analysis__table">
        <div class="analysis__tr">
          <div class="analysis__announcement">
            <div class="announcement">
              <div class="announcement__time">
                <span>14:58</span><span>1 мая 2017 г.</span>
              </div>
              <div href="#" class="announcement__title opacity">
                    Кто обладает правами на  памятники?
                  </div> 
              <div class="announcement__autor">
                <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                <span class="announcement__autorname">Алексей Луговской</span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="analysis__table2">
        <div class="analysis__tr">
          <div class="analysis__description">
            <div class="announcement__description"> 
              Мишень излучает экситон, при этом дефект массы не образуется
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="analysis__img" style="background-image: url(assets/media/dogs.png);"></div>
    <div class="analysis__more"></div>
  </a> 

<!--Базовая версия end -->
 
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
      
      <!--modification 2 start -->
        <a href="#" class="analysis analysis_flat"> 
          <div class="analysis__content">
            <div class="analysis__table">
              <div class="analysis__tr">
                <div class="analysis__announcement">
                  <div class="announcement">
                    <div class="announcement__time">
                      <span>14:58</span><span>1 мая 2017 г.</span>
                    </div>
                    <div href="#" class="announcement__title opacity">
                          Isla de Pasсua, тресотлетние моаи
                        </div> 
                    <div class="analysis__description">
                      <div class="announcement__description"> 
                        Мишень излучает экситон, при этом дефект массы не образуется
                      </div>
                    </div>
                    <div class="announcement__autor">
                      <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                      <span class="announcement__autorname">Алексей Луговской</span>
                    </div>
                  </div>
                </div>

              </div>
            </div> 
          </div> 
          <div class="analysis__img" style="background-image: url(assets/media/background_anali.png);">
            <img src="assets/media/background_anali.png" alt="#">
          </div>
          <div class="analysis__more"></div>
        </a> 
      <!--modification 2 end -->

  
    </div>




    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      
      <!--modification 3 start -->
      <a href="#" class="analysis analysis_text"> 
        <div class="analysis__content"> 
              <div class="analysis__announcement">
                <div class="announcement">
                  <div class="announcement__time">
                    <span>14:58</span><span>1 мая 2017 г.</span>
                  </div>
                  <div href="#" class="announcement__title opacity">Одиночество Брэда Питта. Разбор</div> 
                  <div class="announcement__autor">
                    <span class="announcement__autorname">Алексей Луговской</span>
                  </div>
                  <div class="analysis__description">
                    <div class="announcement__description clearfix"> 
                      <img src="assets/media/bredpit.jpg" alt="Bred">
                      <p>
                        Актер впервые рассказал о разводе с Анджелиной Джоли и о том, как бросил пить. Журнал GQ  опубликовал первый откровенный разговор с актером Брэдом Питтом 
                      </p>
                    </div>
                  </div> 
                </div>
              </div> 
        </div>  
      </a> 
      <!--modification 3 end -->
 
    </div>




  </div>
 

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
 
      <!--modification 2 start -->
        <div class="category">
          <div class="category__first"></div>
          <a href="#" class="analysis analysis_flat analysis_squeeze"> 
            <div class="analysis__content">
              <div class="analysis__table">
                <div class="analysis__tr">
                  <div class="analysis__announcement">
                    <div class="announcement">
                      <div class="announcement__time">
                        <span>14:58</span><span>1 мая 2017 г.</span>
                      </div>
                      <div href="#" class="announcement__title opacity">
                          Джон Керри посоветовал американцам учить русский язык
                       </div> 
                      <div class="analysis__description">
                        <div class="announcement__description"> 
                          Мишень излучает экситон, при этом дефект массы не образуется
                        </div>
                      </div>
                      <div class="announcement__autor">
                        <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                        <span class="announcement__autorname">Алексей Луговской</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div> 
            </div> 
            <div class="analysis__img" style="background-image: url(assets/media//anali2.jpg);">
              <img src="assets/media//anali2.jpg" alt="#">
            </div>
            <div class="analysis__more"></div>
          </a> 
          
        </div>
      <!--modification 2 end -->









    </div>
  </div>



</div>





<!--analysis end-->