<!--band start --> 

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

    <!--Базовая версия start -->
      <div class="band">
        <div class="band__title">Жизнь</div>
        <ul class="band__list">
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В аэропорт Геленджика открываются 5 новых рейсов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div>
              <!-- <div class="band__img"></div> -->
          </li>
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div>
              <!-- <div class="band__img"></div> -->
          </li>
        </ul>
      </div>
    <!--Базовая версия end -->
    
  </div>


  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
  
    <!--modification 3  start -->
 
      <div class="band band_img   band_gray">
        <div class="band__title">Политика</div>
        <ul class="band__list">
          <li class="band__item  clearfix">
            <div class="band__img">
              <img src="assets/media/band.jpg" alt="#">
            </div>
            <div class="band__content">
              <a href="#" class="band__name title">
                Губернаторы отчитаются Путину о выполнении его указов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li> 
          <li class="band__item  clearfix">
            <div class="band__img">
              <img src="assets/media/band.jpg" alt="#">
            </div>
            <div class="band__content">
              <a href="#" class="band__name title">
                Губернаторы отчитаются Путину о выполнении его указов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li> 
          <li class="band__item  clearfix">
            <div class="band__img">
              <img src="assets/media/band.jpg" alt="#">
            </div>
            <div class="band__content">
              <a href="#" class="band__name title">
                Губернаторы отчитаются Путину о выполнении его указов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li> 
          <li class="band__item  clearfix">
            <div class="band__img">
              <img src="assets/media/band.jpg" alt="#">
            </div>
            <div class="band__content">
              <a href="#" class="band__name title">
                Губернаторы отчитаются Путину о выполнении его указов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li> 
        </ul>
      </div>
    <!--modification 3  end -->

  </div>  
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <!--modification 4  start -->
 
      <div class="band band_img band_border">
        <div class="band__title">Политика</div>
        <ul class="band__list">
          <li class="band__item  clearfix">
            <div class="band__img">
              <img src="assets/media/band.jpg" alt="#">
            </div>
            <div class="band__content">
              <a href="#" class="band__name title">
                Губернаторы отчитаются Путину о выполнении его указов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item  clearfix">
            <div class="band__img">
              <img src="assets/media/band.jpg" alt="#">
            </div>
            <div class="band__content">
              <a href="#" class="band__name title">
                Губернаторы отчитаются Путину о выполнении его указов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item  clearfix">
            <div class="band__img">
              <img src="assets/media/band.jpg" alt="#">
            </div>
            <div class="band__content">
              <a href="#" class="band__name title">
                Губернаторы отчитаются Путину о выполнении его указов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item  clearfix">
            <div class="band__img">
              <img src="assets/media/band.jpg" alt="#">
            </div>
            <div class="band__content">
              <a href="#" class="band__name title">
                Губернаторы отчитаются Путину о выполнении его указов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
  
        </ul>
      </div>
    <!--modification 4  end -->

  </div> 
</div> 

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!--Базовая версия start -->
      <div class="band band_horizontal"> 
        <ul class="band__list"> 
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В аэропорт Геленджика открываются 5 новых рейсов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В аэропорт Геленджика открываются 5 новых рейсов
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>
          <li class="band__item">
            <div class="band__content">
              <a href="#" class="band__name title">
                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
              </a>
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
            </div> 
          </li>  
        </ul>
      </div>
    <!--Базовая версия end -->
    </div>
  </div>
 
 <div class="row" style="background-color: #000;">
      <div class="band band_transparent"> 
        <ul class="band__list">
          <li class="band__item">
            <div class="band__content">
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
              <a href="#" class="band__name title">
                В аэропорт Геленджика открываются 5 новых рейсов
              </a>
              <div class="band__tags">
                <a href="#" class="tag tag_white">Город</a>
              </div>
            </div> 
          </li> 
          <li class="band__item">
            <div class="band__content">
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
              <a href="#" class="band__name title">
                В аэропорт Геленджика открываются 5 новых рейсов
              </a>
              <div class="band__tags">
                <a href="#" class="tag tag_white">Город</a>
              </div>
            </div> 
          </li> 
          <li class="band__item">
            <div class="band__content">
              <div class="band__time">
                <div class="time"> 
                  <span class="time__ego">20 минут назад</span>
                </div>
              </div>
              <a href="#" class="band__name title">
                В аэропорт Геленджика открываются 5 новых рейсов
              </a>
              <div class="band__tags">
                <a href="#" class="tag tag_white">Город</a>
              </div>
            </div> 
          </li> 
        </ul>
      </div>
 </div>
 
</div> 

<!-- band end  -->
