<!--card start --> 

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

    <!--Базовая версия start -->
    <a href="#" class="card card_standart card_background_gray">
      <div class="card__photo">
        <img src="assets/media/card.jpg" alt="#">
      </div>
      <div class="card__content"> 
        <div class="card__tags">
          <span href="#" class="tag tag_events">события</span>
        </div>
        <div class="card__titlebox">
          <span class="card__title title">
            Краснодар снова тонет в мусоре. В одной картинке
          </span> 
        </div>
        <div class="card__time">
          <div class="time">
            <span class="time__time">14:58</span>
            <span class="time__ego">20 минут назад</span>
          </div>
        </div>  
      </div>
    </a>
    <!--Базовая версия end -->
    
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
  
    <!--modification 2  start -->
    <a href="#" class="card card_medium card_border">
      <div class="card__photo">
        <img src="assets/media/card.jpg" alt="#">
      </div>
      <div class="card__content"> 

        <div class="card__titlebox">
          <div class="card__title title">
            Краснодар снова тонет в мусоре. В одной картинке
          </div> 
        </div>
        <div class="card__time">
          <div class="time">
            <span class="time__time">14:58</span>
            <span class="time__ego">20 минут назад</span>
          </div>
        </div>
        <div class="card__tags">
          <span href="#" class="tag tag_events">события</span>
        </div>
      </div>
    </a>
    <!--modification 2  end -->

  </div>
</div> 

<div class="row"> 
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  
    <!--modification 3  start -->
    <a href="#" class="card card_full">
      <div class="card__photo">
        <img src="assets/media/card-full.jpg" alt="#">
        <div class="card__content">  
          <div class="card__titlebox">
            <div class="card__title title">
              Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
            </div> 
          </div>
          <div class="card__time">
            <div class="time">
              <span class="time__time">14:58</span>
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
          <div class="card__tags">
            <span href="#" class="tag  tag_white">события</span>
          </div>
        </div>
      </div>
    </a>
    <!--modification 3  end -->

  </div> 

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
  
    <!--modification 2  start -->
    <a href="#" class="card card_small">
      <div class="card__photo">
        <img src="assets/media/card.jpg" alt="#">
      </div>
      <div class="card__content"> 
        <div class="card__time">
          <div class="time">
            <span class="time__time">14:58</span>
            <span class="time__ego">1 мая 2017 г. </span>
          </div>
        </div> 

        <div class="card__titlebox">
          <div class="card__title title">
            Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
          </div> 
        </div>

      </div>
    </a>
    <!--modification 2  end -->

  </div>

  <div class="col-xss-12 col-xs-4 col-sm-4 col-md-2 col-lg-2">
  
    <!--modification 2  start -->
    <a href="#" class="card card_small">
      <div class="card__photo">
        <img src="assets/media/card.jpg" alt="#">
      </div>
      <div class="card__content"> 
        <div class="card__time">
          <div class="time">
            <span class="time__time">14:58</span>
            <span class="time__ego">1 мая 2017 г. </span>
          </div>
        </div> 

        <div class="card__titlebox">
          <div class="card__title title">
            Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
          </div> 
        </div>

      </div>
    </a>
    <!--modification 2  end -->

  </div>


 
</div> 

<!-- card end  -->
