<!--clipping start --> 

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

    <!--Базовая версия start -->
      <div class="clipping clipping_mosaic">
        <div class="clipping__photo clearfix" >
          <div class="clipping__background" style="background-color: #101620;"></div>
          <img src="assets/media/clipping1.png" alt="#">
          <div class="clipping__tags">
            <a href="#" class="tag tag_white">Город</a>
          </div>
        </div>
        <div class="clipping__time">
          <div class="time"> 
            <span class="time__ego">20 минут назад</span>
          </div>
        </div>
        <a class="clipping__title title" href="#">
          Сегодня увидел бы свет новый Apple
        </a>
      </div>
    <!--Базовая версия end -->
    
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
  
    <!--modification 2  start -->
      <a  href="#" class="clipping clipping_card">
        <div class="clipping__photo">
          <img src="assets/media/clipping3.png" alt="#">
          <div class="clipping__content">
            <div class="clipping__title title">
              Эмигранты, вернувшиеся в Россию
            </div> 
            <div class="clipping__time">
              <div class="time">
                <span class="time__time">14:58</span>
                <span class="time__ego">20 минут назад</span>
              </div>
            </div> 
          </div>
        </div>
      </a>
    <!--modification 2  end -->

  </div>
</div> 

<!-- clipping end  -->
