      <!-- == ПОДБОРКА РЕДАКЦИИ == start -->
      <!-- Дизайнер замыслил чтобы блоки выводились для дестоп версий в одном виде, а для мобильных совершенно в другом. Делать это все стредствами css большая боль, тем более что html структуры у них совершенно разные, поэтому мы пойдем другим путем. Продублируем эти блоки а css будет отображать и прятать их в нужный момент -->


      <!-- DESCTOP ВЕРСИЯ start -->
      <div  class="grid__block grid__selection cedition cedition__desctop">
        <div class="grid_border">
          <hr style="background: #222;">
        </div>
        <div class="center">
          <div class="row">
            
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <h3>Обсуждают</h3>
              <div class="grid__item"> 
                <div class="clipping clipping_mosaic">
                  <div class="clipping__photo clearfix">
                    <div class="clipping__background" style="background-color: #101620;"></div>
                    <img src="assets/media/clipping1.png" alt="#">
                    <div class="clipping__tags">
                      <a href="#" class="tag tag_white">Город</a>
                    </div>
                  </div>
                  <div class="clipping__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                  <a class="clipping__title title" href="#">
                    Сегодня увидел бы свет новый Apple
                  </a>
                </div> 
              </div>
              <div class="grid__item">
                <div class="band band_img band_paddingnone"> 
                  <ul class="band__list">
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
            
                  </ul>
                </div>
              </div>
            </div> 
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <h3>Читают</h3>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_small">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">1 мая 2017 г. </span>
                            </div>
                          </div>
                          <div class="card__titlebox">
                            <div class="card__title title">
                              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
                            </div> 
                          </div> 
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_small">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">1 мая 2017 г. </span>
                            </div>
                          </div>
                          <div class="card__titlebox">
                            <div class="card__title title">
                              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
                            </div> 
                          </div> 
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
            
              <div class="grid__item">
                <div class="band band_paddingnone"> 
                  <ul class="band__list">
                    <li class="band__item">
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          В аэропорт Геленджика открываются 5 новых рейсов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item">
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li> 
                  </ul>
                </div>
              </div>
              <div class="grid__item">
                <div class="clipping clipping_mosaic">
                  <div class="clipping__photo clearfix">
                    <div class="clipping__background" style="background-color: #F2F2F2;"></div>
                    <img src="assets/media/clipping4.png" alt="#">
                    <div class="clipping__tags">
                      <a href="#" class="tag tag_white">Город</a>
                    </div>
                  </div>
                  <div class="clipping__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                  <a class="clipping__title title" href="#">
                    Новая история старых моаи
                  </a>
                </div> 
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <h3>Выбор редакции</h3>
              <div class="grid__item"> 
                <div class="clipping clipping_mosaic">
                  <div class="clipping__photo clearfix">
                    <div class="clipping__background" style="background-color: #F2F2F2;"></div>
                    <img src="assets/media/clipping4.png" alt="#">
                    <div class="clipping__tags">
                      <a href="#" class="tag tag_white">Город</a>
                    </div>
                  </div>
                  <div class="clipping__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                  <a class="clipping__title title" href="#">
                    Новая история старых моаи
                  </a>
                </div> 
              </div>
                <div class="grid__item">
                <div class="band band_img band_paddingnone"> 
                  <ul class="band__list">
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li> 
                  </ul>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <!-- DESCTOP ВЕРСИЯ  --> 


      <!-- MOBILE ВЕРСИЯ start --> 
      <div  class="grid__block grid__selection cedition cedition__mobile">
        <div class="grid_border">
          <hr style="background: #222;">
        </div>
        <div class="center">
          <div class="row"> 
            <div class="col-xs-12">
              <h3 class="cedition__title">Обсуждают</h3> 
              <div>
                <div class="band band_img band_paddingnone"> 
                  <ul class="band__list">
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
            
                  </ul>
                </div>
              </div>
            </div>  
            <div class="col-xs-12">
              <h3 class="cedition__title">Читают</h3> 
              <div>
                <div class="band band_img band_paddingnone"> 
                  <ul class="band__list">
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
            
                  </ul>
                </div>
              </div>
            </div>  
            <div class="col-xs-12">
              <h3 class="cedition__title">Выбор редакции</h3> 
              <div>
                <div class="band band_img band_paddingnone"> 
                  <ul class="band__list">
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
            
                  </ul>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
      <!-- MOBILE ВЕРСИЯ start --> 


      <!-- == ПОДБОРКА РЕДАКЦИИ == end -->