<!--comments start -->
<div class="comments">
    <div class="comments__header">
        <div class="clearfix">
          <div class="comments__logo"></div>
          <div class="comments__title">Комментарии</div>
          <a href="#" class="comments__close"></a></div>
          <form class="comments__form" action="#">
            <div class="form-group">
            <textarea name="commentuser" id="commentuser" class="input comments__textarea comments__textarea-js" placeholder="Расскажите, что вы думаете об этом"></textarea>
            </div>
            <input type="text" class="input comments__username" name="username" placeholder="Ваше имя">
            <button class="btn btn_big btn_brown btn_inline btn_compact comments__submit" type="submit">ОТПРАВИТЬ</button>
          </form>
    </div>
    <div class="comments__box">
        <div class="comments__content">
            <div class="comments__list">
              <div class="comment">
                <div class="comment__header clearfix">
                  <div class="comment__username">Umbero Pereira</div>
                  <div class="comment__data">26 июня 2017 г.</div>
                </div>
                <div class="comment__content">
                  Химическое соединение, в рамках ограничений классической механики, однородно тормозит барионный объект. Туманность, если рассматривать процессы в рамках специальной теории относительности, квазипериодично излучает вихрь так, как это могло бы происходить в полупроводнике с широкой запрещенной зоной. Силовое поле, как и везде в пределах наблюдаемой вселенной, синхронно
                </div>
              </div>
              <div class="comment">
                <div class="comment__header clearfix">
                  <div class="comment__username">Серёжа </div>
                  <div class="comment__data">26 июня 2017 г.</div>
                </div>
                <div class="comment__content">
                  Химическое соединение, на первый взгляд, пространственно неоднородно
                </div>
              </div>
              <div class="comment">
                <div class="comment__header clearfix">
                  <div class="comment__username">Umbero Pereira</div>
                  <div class="comment__data">26 июня 2017 г.</div>
                </div>
                <div class="comment__content">
                  Химическое соединение, в рамках ограничений классической механики, однородно тормозит барионный объект. Туманность, если рассматривать процессы в рамках специальной теории относительности, квазипериодично излучает вихрь так, как это могло бы происходить в полупроводнике с широкой запрещенной зоной. Силовое поле, как и везде в пределах наблюдаемой вселенной, синхронно
                </div>
              </div>
              <div class="comment">
                <div class="comment__header clearfix">
                  <div class="comment__username">Серёжа </div>
                  <div class="comment__data">26 июня 2017 г.</div>
                </div>
                <div class="comment__content">
                  Химическое соединение, на первый взгляд, пространственно неоднородно
                </div>
              </div>
              <div class="comment">
                <div class="comment__header clearfix">
                  <div class="comment__username">Umbero Pereira</div>
                  <div class="comment__data">26 июня 2017 г.</div>
                </div>
                <div class="comment__content">
                  Химическое соединение, в рамках ограничений классической механики, однородно тормозит барионный объект. Туманность, если рассматривать процессы в рамках специальной теории относительности, квазипериодично излучает вихрь так, как это могло бы происходить в полупроводнике с широкой запрещенной зоной. Силовое поле, как и везде в пределах наблюдаемой вселенной, синхронно
                </div>
              </div>
              <div class="comment">
                <div class="comment__header clearfix">
                  <div class="comment__username">Серёжа </div>
                  <div class="comment__data">26 июня 2017 г.</div>
                </div>
                <div class="comment__content">
                  Химическое соединение, на первый взгляд, пространственно неоднородно
                </div>
              </div>
              <div class="comment">
                <div class="comment__header clearfix">
                  <div class="comment__username">Umbero Pereira</div>
                  <div class="comment__data">26 июня 2017 г.</div>
                </div>
                <div class="comment__content">
                  Химическое соединение, в рамках ограничений классической механики, однородно тормозит барионный объект. Туманность, если рассматривать процессы в рамках специальной теории относительности, квазипериодично излучает вихрь так, как это могло бы происходить в полупроводнике с широкой запрещенной зоной. Силовое поле, как и везде в пределах наблюдаемой вселенной, синхронно
                </div>
              </div>
              <div class="comment">
                <div class="comment__header clearfix">
                  <div class="comment__username">Серёжа </div>
                  <div class="comment__data">26 июня 2017 г.</div>
                </div>
                <div class="comment__content">
                  Химическое соединение, на первый взгляд, пространственно неоднородно
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="comments_substrate"></div>
<!--comments end -->