<!--first start -->
<div class="first first_js" style="background-image: url(assets/media/welcom.jpg);">
  <div class="first__content">
    <div class="center clearfix first_height_js">
      <div class="first__shock first__shock_js">
        <div class="first__time">
          <div class="announcement__time">
            <i class="icon-time"></i><span>13:29</span><span>4 мая 2017 г.</span>
          </div>
        </div>
        <div class="first__shocktable first__shocktable-js">
          <div class="first__shockmiddle">
            <div class="announcement">
              <a href="#" class="announcement__title opacity">
                  В микрорайоне Гидростроителей горит здание
                </a>
              <div class="announcement__date">
                20 минут назад
              </div>
              <div class="announcement__description">
                Крупный пожар произошел в частном доме на улице Мачуги. Огонь вспыхнул около 9 часов вечера в среду, 3 мая
              </div>
              <div class="announcement__tags">
                <a href="#" class="tag tag_transparent">ГОРОД</a>
              </div>
              <div class="announcement__autor">
                <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                <span class="announcement__autorname">Алексей Луговской</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="first__additional first__additional-js">

        <div class="clipping clipping_mosaic">
          <div class="clipping__photo clearfix">
            <div class="clipping__background" style="background-color: #101620;"></div>
            <img src="assets/media/clipping1.png" alt="#">
            <div class="clipping__tags">
              <a href="#" class="tag tag_white">Город</a>
            </div>
          </div>
          <div class="clipping__time">
            <div class="time"> 
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
          <a class="clipping__title title" href="#">
            Сегодня увидел бы свет новый Apple
          </a>s
        </div> 
        
        <div class="first__band">
          <div class="band band_transparent"> 
            <ul class="band__list">
              <li class="band__item">
                <div class="band__content">
                  <div class="band__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                  <a href="#" class="band__name title">
                    В аэропорт Геленджика открываются 5 новых рейсов
                  </a>
                  <div class="band__tags">
                    <a href="#" class="tag tag_white">Город</a>
                  </div>
                </div> 
              </li> 
              <li class="band__item">
                <div class="band__content">
                  <div class="band__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                  <a href="#" class="band__name title">
                    В аэропорт Геленджика открываются 5 новых рейсов
                  </a>
                  <div class="band__tags">
                    <a href="#" class="tag tag_white">Город</a>
                  </div>
                </div> 
              </li> 
              <li class="band__item">
                <div class="band__content">
                  <div class="band__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                  <a href="#" class="band__name title">
                    В аэропорт Геленджика открываются 5 новых рейсов
                  </a>
                  <div class="band__tags">
                    <a href="#" class="tag tag_white">Город</a>
                  </div>
                </div> 
              </li> 
            </ul>
          </div>
          <div class="first__all">
            <a href="#" class="btn btn_inline btn_big btn_transparent">Вся лента</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--first end -->
