<!--first start -->
<div class="first first_analistic first_js" style="background-color: #0C0D11;">
  <div class="first__content">
    <div class="clearfix first_height_js">
      <div class="first__shock first__shock_js"> 
        <div class="first__shocktable first__shocktable-js">
          <div class="first__shockmiddle">

            <div class="announcement">
              <div class="announcement__autor">
                <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                <span class="announcement__autorname">Алексей Луговской</span>
              </div>
              <a href="#" class="announcement__title opacity">
                  «Чужой: Завет» Ридли Скотта. Все пропало?
                </a>
              <div class="announcement__date">
                20 минут назад
              </div>
              <div class="announcement__description">
                Крупный пожар произошел в частном доме на улице Мачуги. Огонь вспыхнул около 9 часов вечера в среду, 3 мая
              </div>
              <div class="announcement__tags">
                <a href="#" class="tag tag_transparent">ГОРОД</a>
                <a href="#" class="tag tag_transparent">ЛЮДИ</a>
              </div>

            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="first_backimage" style="background-image: url(assets/media/analistic_page.jpg);">
    
  </div>
</div>
<!--first end -->
