<!-- footer start -->
  <footer class="footer">
    <div class="center">
      <div class="footer__top clearfix">
          <div class="footer__subscription">
            <a href="#" class="subscription clearfix" data-popup="subscribe">
              <span href="#" class="subscription__icon">
                <img src="assets/images/subscription.jpg" alt="subscription">
              </span>
              <span class="subscription__description">
                    <span class="subscription__action">Подписаться</span>
              <span class="subscription__number">20 416 читателей</span>
              </span>
            </a>
          </div>
          <div class="footer__social">
            <a href="#" target="_blank" class="socialbutton-facebook"></a>
            <a href="#" target="_blank" class="socialbutton-vk"></a>
            <a href="#" target="_blank" class="socialbutton-ok"></a>
            <a href="#" target="_blank" class="socialbutton-inst"></a>
          </div>
          <div class="footer__logocenter">
            <a href="/" class="footer__logo"></a>  
          </div>
      </div>  
      <div class="footer__menus clearfix">
        <ul class="footer__navigation mainnavigation">
           <li>
             <a href="#">Новости</a>
           </li>
           <li>
             <a href="#">События</a>
           </li>
           <li>
             <a href="#">Люди</a>
           </li>
           <li>
             <a href="#">Город</a>
           </li>
           <li>
             <a href="#">Политика</a>
           </li>
           <li>
             <a href="#">Жизнь</a>
           </li>
           <li>
             <a href="#">История</a>
           </li>
           <li>
             <a href="#">Мнения</a>
           </li>
           <li>
             <a href="#">Спорт</a>
           </li>
           <li>
             <a href="#">Досуг</a>
           </li>
        </ul>
        <ul class="footer__submenu mainnavigation">
           <li>
             <a href="#">О редакции</a>
           </li>
           <li>
             <a href="#">Предложить сотрудничество</a>
           </li>
           <li>
             <a href="#">Предложить новость</a>
           </li>
        </ul>
      </div>
      <div class="footer__bottom clearfix">
        <div class="footer__copy">
          © 2017. Краснодарские известия. При любом использовании материалов газеты в электронных изданиях обязательны гиперссылка на сайт www.ki-gazeta.ru
        </div>
        <div class="footer__develop">
          <a href="#" class="develop">
            <span class="develop__logo">
              <img src="assets/images/develop.png" alt="">
            </span>
            <span class="develop__create">Создание сайта —</span>
            <span class="develop__name"> Very Good</span>
          </a>
        </div>
      </div>
    </div>
  </footer>  
<!-- footer end -->
