<!--header start -->
<!-- Возможные дополнительные классы header_show_burger header_need_trasparent-js -->
<header class="header header_roubrick header_show_burger">
  <div class="header__pantry">
    <div class="center clearfix">
      <!--header burger start -->
      <div class="header__burger">
        <a href="#" class="burger opacity">
          <span class="burger__lines">
                  <span class="burger__1"></span>
          <span class="burger__2"></span>
          <span class="burger__3"></span>
          </span>
        </a>
      </div>
      <!--header burger end -->
      <!--header logo start -->
      <a href="/" class="header__logo"></a>
      <!--header logo end -->
      <!--header navigatoin start -->
      <ul class="header__navigation mainnavigation">
        <li class="active">
          <a href="#">Новости</a>
        </li>
        <li class="">
          <a href="#">События</a>
        </li>
        <li class="">
          <a href="#">Люди</a>
        </li>
        <li class="">
          <a href="#">Город</a>
        </li>
        <li class="">
          <a href="#">Политика</a>
        </li>
        <li class="">
          <a href="#">Жизнь</a>
        </li>
        <li class="">
          <a href="#">История</a>
        </li>
        <li class="">
          <a href="#">Мнения</a>
        </li>
        <li class="">
          <a href="#">Спорт</a>
        </li>
        <li class="">
          <a href="#">Досуг</a>
        </li>
      </ul>
      <!--header navigatoin end -->
      <!--header tools start -->
      <div class="header__tools clearfix">
        <div class="header__subscription opacity">
          <a href="#" class="subscription clearfix" data-popup="subscribe">
            <span href="#" class="subscription__icon">
                  <img src="assets/images/subscription.jpg" alt="subscription">
                </span>
            <span class="subscription__description">
                  <span class="subscription__action">Подписаться</span>
            <span class="subscription__number">20 416 читателей</span>
            </span>
          </a>
        </div>
        <a href="#" class="header__search opacity" data-popup="search"></a>
      </div>
      <!--header tools end -->
      <!--header category start -->
      <div class="header__category clearfix">
        <div class="header__title">
          Политика
        </div>
        <div class="header__choice">
          <a href="#" class="marked" id="datepicker">Май 2017</a>
          <a href="#" class="">Авторы</a>

        </div>
      </div>
      <!--header category end -->
    </div>
  </div>


<div class="dataselect">
  <div class="dataselect__header">
    <div class="dataselect__day">
      Понедельник
    </div>
    <div class="dataselect__month">
      Июн
    </div>
    <div class="dataselect__number">
      26
    </div>
    <div class="dataselect__year">
      2017
    </div>
  </div>
  <div class="dataselect__datapicker">
    
  </div> 
</div> 
<div class="dataselect__back">
  
</div>
</header>
<!--header end -->

<!--main news tape - mnt start -->
<div class="mnt">
  <!-- SLIDER OWL / CAROUSEL -->
  
  <div class="owl-carousel owl-theme mnt__list  mnt_js">
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SLIDER OWL / CAROUSEL -->
</div>
<!--main news tape - mnt end -->

