<!--header start -->
<!-- Возможные дополнительные классы header_show_burger header_need_trasparent-js header_need_scroll-js-->
<header class="header header_need_burger-js  header_need_scroll-js ">
  <div class="header__pantry">
    <div class="center clearfix">
      <!--header burger start -->
      <div class="header__burger">
        <a href="#" class="burger opacity">
          <span class="burger__lines">
                  <span class="burger__1"></span>
          <span class="burger__2"></span>
          <span class="burger__3"></span>
          </span>
        </a>
      </div>
      <!--header burger end -->
      <!--header logo start -->
      <a href="/" class="header__logo"></a>
      <!--header logo end -->
      <!--header navigatoin start -->
      <ul class="header__navigation mainnavigation">
        <li class="active">
          <a href="#">Новости</a>
        </li>
        <li class="">
          <a href="#">События</a>
        </li>
        <li class="">
          <a href="#">Люди</a>
        </li>
        <li class="">
          <a href="#">Город</a>
        </li>
        <li class="">
          <a href="#">Политика</a>
        </li>
        <li class="">
          <a href="#">Жизнь</a>
        </li>
        <li class="">
          <a href="#">История</a>
        </li>
        <li class="">
          <a href="#">Мнения</a>
        </li>
        <li class="">
          <a href="#">Спорт</a>
        </li>
        <li class="">
          <a href="#">Досуг</a>
        </li>
      </ul> 
      <!--header navigatoin end -->
      <!--header tools start -->
      <div class="header__tools clearfix">
        <div class="header__subscription opacity">
          <a href="#" class="subscription clearfix" data-popup="subscribe">
            <span href="#" class="subscription__icon">
                  <img src="assets/images/subscription.jpg" alt="subscription">
                </span>
            <span class="subscription__description">
                  <span class="subscription__action">Подписаться</span>
            <span class="subscription__number">20 416 читателей</span>
            </span>
          </a>
        </div>
        <a href="#" class="header__search opacity" data-popup="search"></a>
      </div>
      <!--header tools end -->
      <!--header intertal   start --> 
      <div class="header__intertal">

        <div class="header__social"> 
          <div class="social__list">
            <a href="#" class="social__item">
              <img src="assets/images/shar_tweet.png" alt="#">
              <span class="social__number">1 011</span>
            </a>
            <a href="#" class="social__item">
              <img src="assets/images/shar_facebook.png" alt="#">
              <span class="social__number">236</span>
            </a>
            <a href="#" class="social__item">
              <img src="assets/images/shar_vk.png" alt="#">
              <span class="social__number">1 011</span>
            </a>
            <a href="#" class="social__item">
              <img src="assets/images/shar_ok.png" alt="#">
              <span class="social__number">31</span>
            </a>
            <a href="#" class="social__item">
              <img src="assets/images/shar_telegram.png" alt="#">
              <span class="social__number">31</span>
            </a>
            <a href="#" class="social__item">
              <img src="assets/images/shar_comment.png" alt="#">
              <span class="social__number">Обсудить</span>
              <span class="social__conmment">63</span>
            </a>
          </div> 
        </div>
        <div class="header__title">
          <span>Власти продолжают решать проблему «закрытых» пляжей</span>
        </div>
      </div>
      <!--header intertal   end -->
    </div>
  </div>
</header>
<!--header end -->


<!--main news tape - mnt start -->
<div class="mnt">
  <!-- SLIDER OWL / CAROUSEL -->
  
  <div class="owl-carousel owl-theme mnt__list  mnt_js">
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SLIDER OWL / CAROUSEL -->
</div>
<!--main news tape - mnt end -->
