<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-extension.css">
<link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl.theme.mini.css">
<link rel="stylesheet" type="text/css" href="assets/css/main.css">
<link rel="stylesheet" type="text/css" href="assets/css/ui.css">
<link rel="stylesheet" type="text/css" href="assets/css/grid.css">
<link rel="stylesheet" type="text/css" href="assets/css/mainnavigation.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/subscription.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/burger.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/header.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/related.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/more.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/social.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/pagecontent.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/minislider.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/videoplay.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/note.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/sign.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/mainnews.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/survey.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/figure.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/autor.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/autors.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/menu.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/comments.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/popup.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/search.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/subscribe.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/found.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/collectioneditor.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/first.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/roubric.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/analysis.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/clipping.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/cards.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/band.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/mnt.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/dataselect.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/footer.block.css">
<link rel="stylesheet" type="text/css" href="assets/css/form.css">
<link rel="stylesheet" type="text/css" href="assets/css/print.css">
<link rel="stylesheet" type="text/css" href="assets/css/animate.css">
<link rel="stylesheet" type="text/css" href="assets/css/icons.css">
<!-- <link rel="stylesheet" type="text/css" href="assets/css/styles.css"> -->
<!--[if IE 9]> 
  <link rel="stylesheet" type="text/css" href="assets/css/ie9.css">
<![endif]-->