<!--menu start -->

<div class="menu">
  <div class="menu__header">
    <div class="menu__logo"></div>
    <a href="#" class="menu__close"></a>
  </div>
  <div class="menu__box">
    <div class="menu__content">
      <ul class="menu__list">
        <li><a href="#">Новости</a></li>
        <li><a href="#">События</a></li>
        <li><a href="#">Люди</a></li>
        <li><a href="#">Город</a></li>
        <li><a href="#">Политика</a></li>
        <li><a href="#">Жизнь</a></li>
        <li><a href="#">История</a></li>
        <li><a href="#">Мнения</a></li>
        <li><a href="#">Спорт</a></li>
        <li><a href="#">Досуг</a></li>
      </ul>
      <ul class="menu__list">
        <li><a href="#">О редакции</a></li>
        <li><a href="#">Предложить сотрудничество</a></li>
        <li><a href="#">Предложить новость</a></li> 
      </ul>
    </div>
  </div>
</div>
<div class="menu_substrate"></div>
<!--menu end -->