<!--main news tape - mnt start -->
<div class="mnt">
  <!-- SLIDER OWL / CAROUSEL -->
  
  <div class="owl-carousel owl-theme mnt__list  mnt_js">
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mnt__item item">
      <div class="band__item  clearfix">
        <div class="band__img">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="band__content">
          <a href="#" class="band__name title">
              Губернаторы отчитаются Путину о выполнении его указов
            </a>
          <div class="band__time">
            <div class="time">
              <span class="time__ego">20 минут назад</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SLIDER OWL / CAROUSEL -->
</div>
<!--main news tape - mnt end -->
