<!--related card  start -->
<div class="related related_card">
  <h3 class="related__title">Еще по теме</h3>
  <div class="row">
    <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-4 col-md-2 col-lg-2">
      <a href="#" class="card card_small card_miracle">
        <div class="card__photo">
          <img src="assets/media/card.jpg" alt="#">
        </div>
        <div class="card__thumbnail">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="card__content">
          <div class="card__time">
            <div class="time">
              <span class="time__time">14:58</span>
              <span class="time__ego">1 мая 2017 г. </span>
            </div>
          </div>
          <div class="card__titlebox">
            <div class="card__title title">
              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-4 col-md-2 col-lg-2">
      <a href="#" class="card card_small card_miracle">
        <div class="card__photo">
          <img src="assets/media/card.jpg" alt="#">
        </div>
        <div class="card__thumbnail">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="card__content">
          <div class="card__time">
            <div class="time">
              <span class="time__time">14:58</span>
              <span class="time__ego">1 мая 2017 г. </span>
            </div>
          </div>
          <div class="card__titlebox">
            <div class="card__title title">
              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-4 col-md-2 col-lg-2">
      <a href="#" class="card card_small card_miracle">
        <div class="card__photo">
          <img src="assets/media/card.jpg" alt="#">
        </div>
        <div class="card__thumbnail">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="card__content">
          <div class="card__time">
            <div class="time">
              <span class="time__time">14:58</span>
              <span class="time__ego">1 мая 2017 г. </span>
            </div>
          </div>
          <div class="card__titlebox">
            <div class="card__title title">
              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-4 col-md-2 col-lg-2">
      <a href="#" class="card card_small card_miracle">
        <div class="card__photo">
          <img src="assets/media/card.jpg" alt="#">
        </div>
        <div class="card__thumbnail">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="card__content">
          <div class="card__time">
            <div class="time">
              <span class="time__time">14:58</span>
              <span class="time__ego">1 мая 2017 г. </span>
            </div>
          </div>
          <div class="card__titlebox">
            <div class="card__title title">
              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-4 col-md-2 col-lg-2">
      <a href="#" class="card card_small card_miracle">
        <div class="card__photo">
          <img src="assets/media/card.jpg" alt="#">
        </div>
        <div class="card__thumbnail">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="card__content">
          <div class="card__time">
            <div class="time">
              <span class="time__time">14:58</span>
              <span class="time__ego">1 мая 2017 г. </span>
            </div>
          </div>
          <div class="card__titlebox">
            <div class="card__title title">
              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-4 col-md-2 col-lg-2">
      <a href="#" class="card card_small card_miracle">
        <div class="card__photo">
          <img src="assets/media/card.jpg" alt="#">
        </div>
        <div class="card__thumbnail">
          <img src="assets/media/band.jpg" alt="#">
        </div>
        <div class="card__content">
          <div class="card__time">
            <div class="time">
              <span class="time__time">14:58</span>
              <span class="time__ego">1 мая 2017 г. </span>
            </div>
          </div>
          <div class="card__titlebox">
            <div class="card__title title">
              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!--related card  end -->
