<!--second start -->
<div class="grid">
  <div class="second">
    <div class="center">
      <div class="row">
        <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-12 col-md-7 col-lg-7">
          <div class="second__time">
            <div class="announcement__time">
              <i class="icon-time-black"></i><span style="">13:29</span><span>4 мая 2017 г.</span>
            </div>
          </div>
          <div class="grid__item"> 
            <div href="#" class="analysis analysis_detector"> 
              <div class="analysis__content">
                <div class="analysis__table">
                  <div class="analysis__tr">
                    <div class="analysis__announcement">
                      <div class="announcement">

                        <a href="#" class="announcement__title opacity">
                          В Сочи продолжают решать проблему «закрытых» пляжей 
                        </a>
                        <div class="analysis__data">
                          <a href="#" class="tag tag_policy">политика</a>
                          <span class="announcement__time">
                            <span>20 минут назад</span>
                          </span>
                        </div>
                        <div class="analysis__description">
                          <div class="announcement__description"> 
                            Мишень излучает экситон, при этом дефект массы не образуется
                          </div>
                        </div>  
                        <div class="announcement__autor">
                          <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                          <span class="announcement__autorname">Алексей Луговской</span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div> 
              </div> 
              <div class="analysis__img" style="background-image: url(assets/media/background_anali3.jpg);">
                <img src="assets/media/background_anali3.jpg" alt="#">
              </div> 
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-12 col-md-5 col-lg-5">
          <div class="grid__item"> 
            <div href="#" class="analysis analysis_transparent"> 
              <div class="analysis__content">
                <div class="analysis__table">
                  <div class="analysis__tr">
                    <div class="analysis__announcement">
                      <div class="announcement">
                        <a href="#" class="announcement__title opacity">
                          Упавшее дерево полностью перегородило въезд в Сочи
                        </a>
                        <div class="analysis__data"> 
                          <span class="announcement__time">
                            <span>20 минут назад</span>
                          </span>
                        </div>
                        <div class="analysis__description">
                          <div class="announcement__description"> 
                            Трасса на въезде в Сочи утром 14 мая была полностью блокирована поваленным деревом. Произошло это на серпантине, в тридцати километрах от города
                          </div>
                        </div>  
                        <div class="announcement__autor">
                          <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                          <span class="announcement__autorname">Алексей Луговской</span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div> 
              </div> 
              <div class="analysis__img" style="background-image: url(assets/media/background_anali4.jpg);">
                <img src="assets/media/background_anali4.jpg" alt="#">
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="second__band">
        <div class="grid__item">
          <div class="band band_horizontal"> 
            <ul class="band__list"> 
              <li class="band__item">
                <div class="band__content">
                  <a href="#" class="band__name title">
                    В аэропорт Геленджика открываются 5 новых рейсов
                  </a>
                  <div class="band__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                </div> 
              </li>
              <li class="band__item">
                <div class="band__content">
                  <a href="#" class="band__name title">
                    В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                  </a>
                  <div class="band__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                </div> 
              </li>
              <li class="band__item">
                <div class="band__content">
                  <a href="#" class="band__name title">
                    В аэропорт Геленджика открываются 5 новых рейсов
                  </a>
                  <div class="band__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                </div> 
              </li>
              <li class="band__item">
                <div class="band__content">
                  <a href="#" class="band__name title">
                    В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                  </a>
                  <div class="band__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                </div> 
              </li>  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--second end -->
