<!--social start -->
<div class="social social_content clearfix">
  <div class="social__autor">
    <div class="announcement__autor">
      <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
      <span class="announcement__autorname">Алексей Луговской</span>
    </div>
  </div>
  <div class="social__time">
    <div class="time">
      <span class="time__time">4 мая 2017 г.</span>
      <span class="time__ego">13:29</span>
    </div>
  </div>   
  <div class="social__content ">
    <span class="social__title">
      Поделиться в соцсетях
    </span>
    <div class="social__list">
      <a href="#" class="social__item">
        <img src="assets/images/shar_tweet.png" alt="#">
        <span class="social__number">1 011</span>
      </a>
      <a href="#" class="social__item">
        <img src="assets/images/shar_facebook.png" alt="#">
        <span class="social__number">236</span>
      </a>
      <a href="#" class="social__item">
        <img src="assets/images/shar_vk.png" alt="#">
        <span class="social__number">1 011</span>
      </a>
      <a href="#" class="social__item">
        <img src="assets/images/shar_ok.png" alt="#">
        <span class="social__number">31</span>
      </a>
      <a href="#" class="social__item">
        <img src="assets/images/shar_telegram.png" alt="#">
        <span class="social__number">31</span>
      </a>
      <a href="#" class="social__item">
        <img src="assets/images/shar_comment.png" alt="#">
        <span class="social__number">Обсудить</span>
        <span class="social__conmment">63</span>
      </a>
    </div>
  </div>
</div>
<!--social end -->
