<!--social start -->
<div class="social">
  <div class="social__content clearfix">
    <span class="social__title">
      Поделиться в соцсетях
    </span>
    <div class="social__list">
      <a href="#" class="social__item">
        <img src="assets/images/shar_tweet.png" alt="#">
        <span class="social__number">1 011</span>
      </a>
      <a href="#" class="social__item">
        <img src="assets/images/shar_facebook.png" alt="#">
        <span class="social__number">236</span>
      </a>
      <a href="#" class="social__item">
        <img src="assets/images/shar_vk.png" alt="#">
        <span class="social__number">1 011</span>
      </a>
      <a href="#" class="social__item">
        <img src="assets/images/shar_ok.png" alt="#">
        <span class="social__number">31</span>
      </a>
      <a href="#" class="social__item">
        <img src="assets/images/shar_telegram.png" alt="#">
        <span class="social__number">31</span>
      </a>
      <a href="#" class="social__item social__comments-js">
        <img src="assets/images/shar_comment.png" alt="#">
        <span class="social__number">Обсудить</span>
        <span class="social__conmment">63</span>
      </a>
    </div>
  </div>
</div>
<!--social end -->
