<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>content-small</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
  <div class="wrapper">
    {% include '../b/header.html' %}  
    {% include '../b/mnt.block.html' %} 
    <div class="center">
      <div class="autors">
        <h1 class="h1">
          Наши авторы
        </h1>
        <div class="autors__list clearfix">
          <div class="row">
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor1.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor2.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor3.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor1.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor2.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor3.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor1.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor2.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor3.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor1.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor2.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
              <div class="autors__item clearfix">
                <div class="autors__img">
                  <img src="assets/media/autor3.jpg" alt="#">
                </div>
                <div class="autors__description">
                  <div class="autors__name">
                    Усть-Константинопольский <br> Святослав 
                  </div>
                  <div class="autors__articles">
                    217 статей
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>


    {% include '../b/collection_edition.block.html' %}


    {% include '../b/footer.html' %}   
  </div>
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

  