<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>content-small</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
  <div class="wrapper wrapper_gray">

    {% include '../b/header.html' %}
     
    <div class="autor">
      <div class="center">
        <div class="autor__info clearfix">
          <div class="autor__photo"><img src="assets/media/autor-big.jpg" alt="Константинопольский Владислав"></div>
          <div class="autor__name">
            Константинопольский <br> Владислав
          </div>
          <div class="autor__written">
            <b>217</b> статей
          </div>
         <div class="autor__all">
          <a href="#" class="btn btn_inline btn_white">Все авторы</a>
         </div>
        </div>
        <div class="autor__footer clearfix">
          <div class="autor__related">
            <div class="related">
              <h3 class="related__title">Материалы по темам:</h3>
              <a href="#" class="btn btn_inline btn_light">Отпуск</a>
              <a href="#" class="btn btn_inline btn_light">Сочи</a>
              <a href="#" class="btn btn_inline btn_light">Отдых на пляже</a>
            </div>
          </div>
         <div class="autor__all">
          <a href="#" class="btn btn_inline btn_white">Все авторы</a>
         </div>
        </div>
        <div class="autor__articles">
          <div class="grid">
            <div class="row">
              <div class="col-xs-12 col-xxsm-6 col-xsm-6 col-sm-6 col-md-3 col-lg-3">
                <div class="grid__item">
                  <a href="#" class="card card_standart card_background_gray">
                    <div class="card__photo">
                      <img src="assets/media/card.jpg" alt="#">
                    </div>
                    <div class="card__content"> 
                      <div class="card__titlebox">
                        <span class="card__title title">
                          Краснодар снова тонет в мусоре. В одной картинке
                        </span> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div>
                      <div class="card__tags">
                        <span href="#" class="tag tag_events">события</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
              <div class="col-xs-12 col-xxsm-6 col-xsm-6 col-sm-6 col-md-3 col-lg-3">
                <div class="grid__item">
                  <a href="#" class="card card_standart card_background_gray">
                    <div class="card__photo">
                      <img src="assets/media/card.jpg" alt="#">
                    </div>
                    <div class="card__content"> 
                      <div class="card__titlebox">
                        <span class="card__title title">
                          Краснодар снова тонет в мусоре. В одной картинке
                        </span> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div>
                      <div class="card__tags">
                        <span href="#" class="tag tag_events">события</span>
                        <span href="#" class="tag tag_events">события</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
              <div class="col-xs-12 col-xxsm-6 col-xsm-6 col-sm-6 col-md-3 col-lg-3">
                <div class="grid__item">
                  <a href="#" class="card card_standart card_background_gray">
                    <div class="card__photo">
                      <img src="assets/media/card.jpg" alt="#">
                    </div>
                    <div class="card__content"> 
                      <div class="card__titlebox">
                        <span class="card__title title">
                          Краснодар снова тонет в мусоре. В одной картинке
                        </span> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div>
                      <div class="card__tags">
                        <span href="#" class="tag tag_events">события</span>
                        <span href="#" class="tag tag_events">события</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
              <div class="col-xs-12 col-xxsm-6 col-xsm-6 col-sm-6 col-md-3 col-lg-3">
                <div class="grid__item">
                  <a href="#" class="card card_standart card_background_gray">
                    <div class="card__photo">
                      <img src="assets/media/card.jpg" alt="#">
                    </div>
                    <div class="card__content"> 
                      <div class="card__titlebox">
                        <span class="card__title title">
                          Краснодар снова тонет в мусоре. В одной картинке
                        </span> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div>
                      <div class="card__tags">
                        <span href="#" class="tag tag_events">события</span>
                        <span href="#" class="tag tag_events">события</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
            </div>
            <div class="row">
              <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
                <div class="grid__item">
                  <a href="#" class="card card_full card_full_biggest" style="background-image:url('assets/media/biggest.jpg');">
                    <div class="card__photo">
                      <img src="assets/media/biggest.jpg" alt="#">
                      <div class="card__content">  
                        <div class="card__tags">
                          <span href="#" class="tag  tag_white">события</span>
                        </div>
                        <div class="card__titlebox">
                          <div class="card__title title">
                            Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                          </div> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
                <div class="grid__item">
                  <a href="#" class="card card_full card_full_biggest" style="background-image: url(assets/media/biggest.jpg);">
                    <div class="card__photo">
                      <img src="assets/media/biggest.jpg" alt="#">
                      <div class="card__content">
                        <div class="card__tags">
                          <span href="#" class="tag  tag_white">события</span>
                        </div>
                        <div class="card__titlebox">
                          <div class="card__title title">
                            Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                          </div> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-xxsm-6 col-xsm-6 col-sm-6 col-md-3 col-lg-3">
                <div class="grid__item">
                  <a href="#" class="card card_standart card_background_gray">
                    <div class="card__photo">
                      <img src="assets/media/card.jpg" alt="#">
                    </div>
                    <div class="card__content"> 
                      <div class="card__titlebox">
                        <span class="card__title title">
                          Краснодар снова тонет в мусоре. В одной картинке
                        </span> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div>
                      <div class="card__tags">
                        <span href="#" class="tag tag_events">события</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
              <div class="col-xs-12 col-xxsm-6 col-xsm-6 col-sm-6 col-md-3 col-lg-3">
                <div class="grid__item">
                  <a href="#" class="card card_standart card_background_gray">
                    <div class="card__photo">
                      <img src="assets/media/card.jpg" alt="#">
                    </div>
                    <div class="card__content"> 
                      <div class="card__titlebox">
                        <span class="card__title title">
                          Краснодар снова тонет в мусоре. В одной картинке
                        </span> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div>
                      <div class="card__tags">
                        <span href="#" class="tag tag_events">события</span>
                        <span href="#" class="tag tag_events">события</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
              <div class="col-xs-12 col-xxsm-6 col-xsm-6 col-sm-6 col-md-3 col-lg-3">
                <div class="grid__item">
                  <a href="#" class="card card_standart card_background_gray">
                    <div class="card__photo">
                      <img src="assets/media/card.jpg" alt="#">
                    </div>
                    <div class="card__content"> 
                      <div class="card__titlebox">
                        <span class="card__title title">
                          Краснодар снова тонет в мусоре. В одной картинке
                        </span> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div>
                      <div class="card__tags">
                        <span href="#" class="tag tag_events">события</span>
                        <span href="#" class="tag tag_events">события</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
              <div class="col-xs-12 col-xxsm-6 col-xsm-6 col-sm-6 col-md-3 col-lg-3">
                <div class="grid__item">
                  <a href="#" class="card card_standart card_background_gray">
                    <div class="card__photo">
                      <img src="assets/media/card.jpg" alt="#">
                    </div>
                    <div class="card__content"> 
                      <div class="card__titlebox">
                        <span class="card__title title">
                          Краснодар снова тонет в мусоре. В одной картинке
                        </span> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div>
                      <div class="card__tags">
                        <span href="#" class="tag tag_events">события</span>
                        <span href="#" class="tag tag_events">события</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="autor__more">
        <a href="#" class="more">
          <span class="more__icon"></span>
            Показать еще
        </a>
      </div>
    </div>


    {% include '../b/footer.html' %}   
  </div>
    {% include '../b/menu.block.html' %} 
    {% include '../b/popups.block.html' %}
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

  