<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>Главная</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
  <div class="wrapper">
 
   
    <div class="center">
      <center><h1>BLOCKS</h1></center>
      <ul>
        <li> >> <a href="#analysis">Аналитический блоки</a></li>
        <li> >> <a href="#clipping">Обтравочные блоки</a></li>
        <li> >> <a href="#card">Карточные блоки</a></li>
        <li> >> <a href="#band">Ленты</a></li>
      </ul> 

      <hr>
      <a name="analysis"></a>
      <h2 style="background: #ccc;">ANALYSIS <small>(аналитические материалы)</small></h2> 
      <!-- analysis -->
         {% include '../b/analysis.block.html' %}
      <!-- analysis -->
      
      <hr>
      <a name="clipping"></a>
      <h2 style="background: #ccc;">CLIPPING <small>(обтравочные блоки)</small></h2> 
      <!-- clipping -->
         {% include '../b/clipping.block.html' %}
      <!-- clipping -->

      <hr>
      <a name="card"></a>
      <h2 style="background: #ccc;">CARD <small>(карточные блоки)</small></h2> 
      <!-- CARD -->
         {% include '../b/card.block.html' %}
      <!-- CARD -->


      <hr>
      <a name="band"></a>
      <h2 style="background: #ccc;">BAND <small>(ленты)</small></h2> 
      <!-- BAND -->
         {% include '../b/band.block.html' %}
      <!-- BAND -->



    </div>


  <style type="text/css">
    .contrast {
      background: #000;
      padding: 4px;
      border-radius: 4px;
      margin:5px 0 ;
    }
  </style>

    {% include '../b/footer.html' %}   
  </div>
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

  
 