<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>Главная</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
  <div class="wrapper">
 
   
    <div class="center"> 
  

      <hr>
      <a name="card"></a>
      <h2 style="background: #ccc;">CARD <small>(Карточные блоки)</small></h2> 
      <!-- CARD -->
         {% include '../b/card.block.html' %}
      <!-- CARD -->



    </div>


  <style type="text/css">
    .contrast {
      background: #000;
      padding: 4px;
      border-radius: 4px;
      margin:5px 0 ;
    }
  </style>

    {% include '../b/footer.html' %}   
  </div>
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

  
 