  <!DOCTYPE html>
<html lang="ru">
<head> 
  <title>content-big</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
<div class="advert" style="background:url('assets/images/baner.jpg') center no-repeat;">
  <a href="#" class="advert__close">
    <img src="assets/images/close_advert.png" alt="Закрыть">
  </a>
</div>
  <div class="wrapper">

    {% include '../b/header_internal.html' %}
     
 
    <div class="grid">
      <div class="center pagecontent">
        <div class="pagecontent__header">
          <div class="pagecontent__tags">
            <div class="tags">
              <a href="#" class="tag tag_policy">политика</a>
            </div>
          </div>
          <h1 class="pagecontent__title">
            50 лет с громкого открытия пульсаров. Что такое пульсары? 
          </h1>
        </div>
        <div class="pagecontent__socialtop">
          {% include '../b/social_content.block.html' %}
        </div>
          <div class="row">
            <div class="pagecontent__material col-xs-12 col-xxsm-12 col-xsm-12 col-sm-7 col-md-7 col-lg-7">
              <div class="">

                <div class="content">
                  <p>
                    <i>Когда в июне 1967 года был открыт первый пульсар, его всерьез приняли за искусственный космический объект. Уж слишком необычным он был. Главная его особенность, за что он и получил свое название – периодические вспышки излучения, причем со строго определенным периодом. Этакий радиомаяк в космосе. Сначала предполагали, что это пульсирующая звезда, которая меняет свои размеры — такие давно известны. А обнаружила его Джоселин Белл, аспирантка Кембриджского университета, с помощью радиотелескопа.</i>
                  </p> 
                  <div class="minislider owl-carousel owl-mini">
                    <div class="item">
                      <div class="minislider__title">
                        Пульсар Vela NASA's Chandra X-Ray</div>
                      <div class="minislider__resource">
                        Фото: www.nasa.gov
                      </div>
                      <img src="assets/media/content-img.jpg">
                    </div>
                    <div class="item">
                      <div class="minislider__title">
                        Пульсар Vela NASA's Observatory</div>
                      <div class="minislider__resource">
                        Фото: www.nasa.gov
                      </div>
                      <img src="assets/media/content-img.jpg">
                    </div>
                    <div class="item">
                      <div class="minislider__title">
                        Пульсар Vela NASA's Chandra X-Ray Observatory</div>
                      <div class="minislider__resource">
                        Фото: www.nasa.gov
                      </div>
                      <img src="assets/media/content-img.jpg">
                    </div>
                    <div class="item">
                      <div class="minislider__title">
                        Пульсар Chandra X-Ray Observatory</div>
                      <div class="minislider__resource">
                        Фото: www.nasa.gov
                      </div>
                      <img src="assets/media/content-img.jpg">
                    </div>
                    <div class="item">
                      <div class="minislider__title">
                        Vela NASA's Chandra X-Ray Observatory</div>
                      <div class="minislider__resource">
                        Фото: www.nasa.gov
                      </div>
                      <img src="assets/media/content-img.jpg">
                    </div>
                    <div class="item">
                      <div class="minislider__title">
                        Пульсар Observatory</div>
                      <div class="minislider__resource">
                        Фото: www.nasa.gov
                      </div>
                      <img src="assets/media/content-img.jpg">
                    </div>
                  </div>
                  <div>
                    <p>
                      Что интересно, первый пульсар назвали LGM-1, что на английском означает «маленьк ие зеленые человечки». Однако постепенно выяснилось, что пульсары — естественные объекты нашей Вселенной, да и открыто их уже довольно много — под две тысячи.
                    </p>
                    <p class="important">
                      <b>3 687 159 млрд. км</b> На таком расстоянии находится самый близкий к нам пульсар (390 световых лет)
                    </p>
                    <p>Итак, что же представляет собой пульсар? Это очень маленькая, но очень плотная нейтронная звезда. Такие звезды образуются после взрыва звезды – гиганта, гораздо большей, чем наше Солнце – карлик. В результате прекращения термоядерной реакции вещество звезды сжимается в очень плотный объект – это называется коллапсом, а во время этого электроны – отрицательные частицы, вдавливаются внутрь ядер и соединяются с протонами – положительными частицами. В конце концов, все вещество звезды оказывается состоящим из одних нейтронов, что и дает огромную плотность – нейтроны не имеют заряда и могут располагаться очень тесно, практически друг на друге.
                    </p>
                    <div class="important-minor clearfix">
                      <p>
                        Вся материя огромной звезды умещается в одной нейтронной звезде, которая имеет размеры всего в несколько километров
                      </p>
                      <p>Первый пульсар, открытый Джоселин Белл, посылал в космос электромагнитные вспышки с частотой 1.33733 секунды. Другие пульсары имеют другие периоды, но частота их излучения остается постоянной, хотя и может лежать в различных диапазонах – от радиоволн до рентгеновского излучения. Почему так происходит?</p>
                    </div>
                    <p>Дело в том, что нейтронная звезда размером с город очень быстро вращается. Она может совершить тысячу оборотов вокруг своей оси за одну секунду. При этом она имеет очень мощное магнитное поле. По силовым полям этого поля движутся протоны и электроны, а около полюсов, где магнитное поле особенно сильное и где эти частицы достигают очень больших скоростей, они выделяют кванты энергии в различных диапазонах. Получается как бы естественный синхрофазотрон – ускоритель частиц, только в природе. Вот так на поверхности звезды образуется две области, из которых идет очень мощное излучение.</p>
                    <p>Положите на стол фонарик и начните его вращать. Луч света вращается вместе с ним, освещая все по кругу. Так и пульсар, вращаясь, посылает свое излучение с периодом своего вращения, а оно у него очень быстрое. Когда на пути луча оказывается Земля, мы видим всплеск радиоизлучения. Притом идет этот луч из пятна на звезде, размер которого всего-навсего 250 метров! Это какая же мощность, если мы можем обнаружить сигнал за сотни и тысячи световых лет! Магнитные полюса и ось вращения у пульсара не совпадают, поэтому излучающие пятна вращаются, а не стоят на месте. </p>
                    <div class="videoplay">
                      <div class="videoplay__video">
                        <div style="position:relative;height:0;padding-bottom:56.25%">
                          <iframe src="https://www.youtube.com/embed/0fB9x6aYGKM?rel=0?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>
                        </div>
                      </div>
                      <div class="videoplay__back">
                        <img src="assets/media/cosmos.jpg" alt="#">
                      </div>
                      <div class="videoplay__description clearfix">
                        <div class="videoplay__icon"></div>
                        <div class="videoplay__title">
                          Пульсар Vela NASA's Chandra X-Ray Observatory
                        </div>
                        <div class="videoplay__resource">Видео: www.nasa.gov</div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="survey">
                        <h4 class="survey__title">А вы бы хотели себе пульсар?</h4>
                        <div class="survey__list">
                          <a href="#" class="survey__answer survey__answer_select">Да, я бы очень хотел себе личный пульсар</a>
                          <a href="#" class="survey__answer">Не особо</a>
                          <a href="#" class="survey__answer">Так-то да, но как-то не очень. Гаража нет</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pagecontent__socialbottom">
                  {% include '../b/social.block.html' %}
                </div>
              </div>
              <div class="pagecontent__related">
                <div class="related">
                  <h3 class="related__title">Материалы по темам:</h3>
                  <a href="#" class="btn btn_inline btn_light">Отпуск</a>
                  <a href="#" class="btn btn_inline btn_light">Сочи</a>
                  <a href="#" class="btn btn_inline btn_light">Отдых на пляже</a>
                </div>
              </div>
            </div>
            <div class="pagecontent__righthand col-sm-4 col-md-4 col-lg-4 col-xs-push-1">
              <div class="mainnews">
                <h3 class="mainnews__title">Главные новости</h3>
                <div class="clipping clipping_mosaic">
                  <div class="clipping__photo clearfix">
                    <div class="clipping__background" style="background-color: #F2F2F2;"></div>
                    <img src="assets/media/clipping4.png" alt="#">
                    <div class="clipping__tags">
                      <a href="#" class="tag tag_white">Город</a>
                    </div>
                  </div>
                  <div class="clipping__time">
                    <div class="time"> 
                      <span class="time__ego">20 минут назад</span>
                    </div>
                  </div>
                  <a class="clipping__title title" href="#">
                    Новая история старых моаи
                  </a>
                </div> 
                 
                <div class="band band_img band_paddingnone"> 
                  <ul class="band__list">
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item  clearfix">
                      <div class="band__img">
                        <img src="assets/media/band.jpg" alt="#">
                      </div>
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          Губернаторы отчитаются Путину о выполнении его указов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
            
                  </ul>
                </div>
              </div>
              <a href="#" target="_blank" class="advert_clipping">
                <img src="assets/media/advert_clipping.jpg" alt="advert">
              </a>
            </div>
          </div> 
          <div class="pagecontent__relatedcard">
            {% include '../b/related_card.block.html' %} 
          </div>
      </div> 
      <div class="pagecontent__more">
        <a href="#" class="more">
          <span class="more__icon"></span>
            Показать еще
        </a>
      </div>
    </div>


    {% include '../b/footer.html' %}   
  </div>

  

    {% include '../b/menu.block.html' %}
    {% include '../b/comments.block.html' %}
    {% include '../b/popups.block.html' %}
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

 	