<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>Главная</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
  <div class="wrapper"> 

    <div class="icons">
      <span class="icon-advatages1"></span>
      <span class="icon-advatages2"></span>
      <span class="icon-advatages3"></span>
      <span class="icon-advatages4"></span>
      <span class="icon-advatages5"></span>
      <span class="icon-advatages6"></span>
      <span class="icon-mail"></span>
      <span class="icon-map"></span>
      <span class="icon-mapmini"></span>
      <span class="icon-phone"></span>
      <span class="icon-phonemini"></span>
      <span class="icon-row-down"></span>
      <span class="icon-row-right"></span>
      <span class="icon-sevice1"></span>
      <span class="icon-sevice2"></span>
      <span class="icon-sevice3"></span>
      <span class="icon-sevice4"></span>
      <span class="icon-skype"></span>
      <span class="icon-user"></span>
    </div>
    
 
  </div>
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

 	