<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>Главная</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
<div class="advert" style="background:url('assets/images/baner.jpg') center no-repeat;">
  <a href="#" class="advert__close">
    <img src="assets/images/close_advert.png" alt="Закрыть">
  </a>
</div>
  <div class="wrapper page_home">

    {% include '../b/header.html' %} 

    {% include '../b/second.block.html' %} 

    <div class="grid"> 

        <!-- == (ready) ПЕРВЫЕ НОВОСТИ == НА ГЛАВНОЙ  start -->

        <div class="grid_gray first__bandmobile">
          <div class="center">
              <!-- == НОВОСТИ ИЗ ПРАВОЙ КОЛОНКИ ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ == НА ГЛАВНОЙ  start -->
              <div>
                <div class="row">
                  <div class="col-xs-12">
                    <div>
                      <div class="band band_gray band_light band_no_gradient">
                        <div class="band__title">Главное</div>
                        <ul class="band__list clearfix">
                          <li class="band__item">
                            <div class="band__content">
                              <a href="#" class="band__name title">
                                В аэропорт Геленджика открываются 5 новых рейсов
                              </a>
                              <div class="band__time">
                                <div class="time"> 
                                  <span class="time__ego">20 минут назад</span>
                                </div>
                              </div>
                            </div>
                              <!-- <div class="band__img"></div> -->
                          </li>
                          <li class="band__item">
                            <div class="band__content">
                              <a href="#" class="band__name title">
                                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                              </a>
                              <div class="band__time">
                                <div class="time"> 
                                  <span class="time__ego">20 минут назад</span>
                                </div>
                              </div>
                            </div> 
                          </li>
                          <li class="band__item">
                            <div class="band__content">
                              <a href="#" class="band__name title">
                                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                              </a>
                              <div class="band__time">
                                <div class="time"> 
                                  <span class="time__ego">20 минут назад</span>
                                </div>
                              </div>
                            </div> 
                          </li>
                          <li class="band__item">
                            <div class="band__content">
                              <a href="#" class="band__name title">
                                В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                              </a>
                              <div class="band__time">
                                <div class="time"> 
                                  <span class="time__ego">20 минут назад</span>
                                </div>
                              </div>
                            </div> 
                          </li> 
                        </ul>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
              <!-- ==  НОВОСТИ ИЗ ПРАВОЙ КОЛОНКИ ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ == НА ГЛАВНОЙ  end -->
          </div>
        </div>
        
        <div class="grid__block grid_gray">
          <div class="center">



              <div class="row"> 
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
              </div> 
              <div class="row">
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
                  <div class="grid__item">
                    <a href="#" class="card card_full card_full_biggest" style="background-image:url('assets/media/biggest.jpg');">
                      <div class="card__photo">
                        <img src="assets/media/biggest.jpg" alt="#">
                        <div class="card__content">  
                          <div class="card__tags">
                            <span href="#" class="tag  tag_white">события</span>
                          </div>
                          <div class="card__titlebox">
                            <div class="card__title title">
                              Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                            </div> 
                          </div>
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div> 
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
                  <div class="grid__item">
                    <a href="#" class="card card_full card_full_biggest" style="background-image: url(assets/media/biggest.jpg);">
                      <div class="card__photo">
                        <img src="assets/media/biggest.jpg" alt="#">
                        <div class="card__content">
                          <div class="card__tags">
                            <span href="#" class="tag  tag_white">события</span>
                          </div>
                          <div class="card__titlebox">
                            <div class="card__title title">
                              Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                            </div> 
                          </div>
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12  col-xxsm-12 col-xsm-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
              </div>

               
          </div>
        </div> 
        <!-- == (ready) ПЕРВЫЕ НОВОСТИ == НА ГЛАВНОЙ  end -->

        <!-- == (ready) ПЕРВАЯ АНАТИЛИЧЕСКАЯ == НА ГЛАВНОЙ  start -->
        <div class="grid__block">
          <div class="grid_border">
            <hr style="background: #222;">
          </div> 
          <div class="center">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="grid__analysis">
                  <a href="#" class="analysis analysis_full" style="background-color: #FAD7D3;">
                    <div class="analysis__background"></div>
                    <div class="analysis__content">
                      <div class="analysis__table">
                        <div class="analysis__tr">
                          <div class="analysis__announcement">
                            <div class="announcement">
                              <div class="announcement__time">
                                <span>14:58</span><span>1 мая 2017 г.</span>
                              </div>
                              <div href="#" class="announcement__title opacity">
                                    За что мы любим Scarlett Johansson. Разбор
                                  </div> 
                              <div class="announcement__autor">
                                <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                                <span class="announcement__autorname">Алексей Луговской</span>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="analysis__table2">
                        <div class="analysis__tr">
                          <div class="analysis__description">
                            <div class="announcement__description"> 
                              Мишень излучает экситон, при этом дефект массы не образуется
                            </div>
                            <div class="announcement__descriptionsmall">
                              Излучение растягивает фотон. Как легко получить из самых общих соображений
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="analysis__img" style="background-image: url(assets/media/dogs.png);"></div>
                    <div class="analysis__more"></div>
                  </a> 
                </div>
              </div>  
            </div> 
          </div>
        </div>
        <!-- == (ready) ПЕРВАЯ АНАТИЛИЧЕСКАЯ == НА ГЛАВНОЙ  end -->
         
        <!-- == (ready) НОВОСТИ == НА ГЛАВНОЙ  start -->
        <div class="grid__block grid_paddingnone">
          <div class="grid_border">
            <hr style="background: #DA610C;">
          </div> 
          <div class="center">
            <div class="row">
              <!-- band start -->  
                <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-4 col-md-3 col-lg-3">
                  <div class="grid__item"> 
                    <div class="band band_gray band_media band_set_height-js">
                      <div class="band__title">Новости</div>
                      <ul class="band__list clearfix">
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В аэропорт Геленджика открываются 5 новых рейсов
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div>
                            <!-- <div class="band__img"></div> -->
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div>
                            <!-- <div class="band__img"></div> -->
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> 
              <!-- band end --> 

              <!-- cards start --> 
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                  <div class="row">
                    <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="grid__item"> 
                        <a href="#" class="card card_standart card_border">
                          <div class="card__photo">
                            <img src="assets/media/card.jpg" alt="#">
                          </div>
                          <div class="card__content"> 

                            <div class="card__titlebox">
                              <div class="card__title title">
                                Краснодар снова тонет в мусоре. В одной картинке
                              </div> 
                            </div>
                            <div class="card__time">
                              <div class="time">
                                <span class="time__time">14:58</span>
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                            <div class="card__tags">
                              <span href="#" class="tag tag_events">события</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-8 col-lg-8">
                      <div class="grid__item"> 
                        <a href="#" class="card card_full" style="background-image: url(assets/media/card-full2.jpg)">
                          <div class="card__photo">
                            <img src="assets/media/card-full.jpg" alt="#">
                            <div class="card__content">  
                              <div class="card__titlebox">
                                <div class="card__title title">
                                  Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                                </div> 
                              </div>
                              <div class="card__time">
                                <div class="time">
                                  <span class="time__time">14:58</span>
                                  <span class="time__ego">20 минут назад</span>
                                </div>
                              </div>
                              <div class="card__tags">
                                <span href="#" class="tag  tag_white">события</span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="grid__item"> 
                        <a href="#" class="card card_standart card_border">
                          <div class="card__photo">
                            <img src="assets/media/card.jpg" alt="#">
                          </div>
                          <div class="card__content"> 

                            <div class="card__titlebox">
                              <div class="card__title title">
                                Краснодар снова тонет в мусоре. В одной картинке
                              </div> 
                            </div>
                            <div class="card__time">
                              <div class="time">
                                <span class="time__time">14:58</span>
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                            <div class="card__tags">
                              <span href="#" class="tag tag_events">события</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="grid__item"> 
                        <a href="#" class="card card_standart card_border">
                          <div class="card__photo">
                            <img src="assets/media/card.jpg" alt="#">
                          </div>
                          <div class="card__content"> 

                            <div class="card__titlebox">
                              <div class="card__title title">
                                Краснодар снова тонет в мусоре. В одной картинке
                              </div> 
                            </div>
                            <div class="card__time">
                              <div class="time">
                                <span class="time__time">14:58</span>
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                            <div class="card__tags">
                              <span href="#" class="tag tag_events">события</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="grid__item"> 
                        <a href="#" class="card card_standart card_border">
                          <div class="card__photo">
                            <img src="assets/media/card.jpg" alt="#">
                          </div>
                          <div class="card__content"> 

                            <div class="card__titlebox">
                              <div class="card__title title">
                                Краснодар снова тонет в мусоре. В одной картинке
                              </div> 
                            </div>
                            <div class="card__time">
                              <div class="time">
                                <span class="time__time">14:58</span>
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                            <div class="card__tags">
                              <span href="#" class="tag tag_events">события</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>  
              <!-- cards end -->
  
            </div> 
          </div>
        </div>
        <!-- == (ready) НОВОСТИ == НА ГЛАВНОЙ  end -->

        <!-- == (ready) ЖИЗНЬ == НА ГЛАВНОЙ  start -->
        <div class="grid__block grid_paddingtop grid_gray">
          <div class="grid_border">
            <hr style="background: #4785B3;">
          </div> 
          <div class="center">
            <div class="row">
 
              <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-4 col-md-4 col-lg-4 col-band">
                <div class="grid__item"> 
                  <div class="band band_light band_set_height-js">
                    <div class="band__title">Жизнь</div>
                    <ul class="band__list">
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В аэропорт Геленджика открываются 5 новых рейсов
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div>
                          <!-- <div class="band__img"></div> -->
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                    </ul>
                  </div>
                </div>
              </div> 
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="grid__item"> 
                      <a href="#" class="analysis analysis_flat"> 
                        <div class="analysis__content">
                          <div class="analysis__table">
                            <div class="analysis__tr">
                              <div class="analysis__announcement">
                                <div class="announcement">
                                  <div class="announcement__time">
                                    <span>14:58</span><span>1 мая 2017 г.</span>
                                  </div>
                                  <div href="#" class="announcement__title opacity">
                                        Isla de Pasсua, тресотлетние моаи
                                      </div> 
                                  <div class="analysis__description">
                                    <div class="announcement__description"> 
                                      Мишень излучает экситон, при этом дефект массы не образуется
                                    </div>
                                  </div>
                                  <div class="announcement__autor">
                                    <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                                    <span class="announcement__autorname">Алексей Луговской</span>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div> 
                        </div> 
                        <div class="analysis__img" style="background-image: url(assets/media/background_anali.png);">
                          <img src="assets/media/background_anali.png" alt="#">
                        </div>
                        <div class="analysis__more"></div>
                      </a>
                    </div>
                  </div> 
                </div> 
                <div class="row">

                <div class="">
                  
                </div>
                  <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_standart card_background_gray">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__tags">
                            <span href="#" class="tag tag_events">события</span>
                          </div>
                          <div class="card__titlebox">
                            <span class="card__title title">
                              Краснодар снова тонет в мусоре. В одной картинке
                            </span> 
                          </div>
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>  
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_standart card_background_gray">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__tags">
                            <span href="#" class="tag tag_events">события</span>
                          </div>
                          <div class="card__titlebox">
                            <span class="card__title title">
                              Краснодар снова тонет в мусоре. В одной картинке
                            </span> 
                          </div>
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>  
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <!-- == (ready) ЖИЗНЬ == НА ГЛАВНОЙ  end -->

        <!-- == (ready) ПОЛИТИКА == НА ГЛАВНОЙ  start -->
        <div class="grid__block">
          <div class="grid_border">
            <hr style="background: #222;">
          </div> 
          <div class="center">

            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <div class="grid__item">
                    <div class="band band_img band_border">
                      <div class="band__title">Политика</div>
                      <ul class="band__list">
                        <li class="band__item  clearfix">
                          <div class="band__img">
                            <img src="assets/media/band.jpg" alt="#">
                          </div>
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              Губернаторы отчитаются Путину о выполнении его указов
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item  clearfix">
                          <div class="band__img">
                            <img src="assets/media/band.jpg" alt="#">
                          </div>
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              Губернаторы отчитаются Путину о выполнении его указов
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item  clearfix">
                          <div class="band__img">
                            <img src="assets/media/band.jpg" alt="#">
                          </div>
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              Губернаторы отчитаются Путину о выполнении его указов
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item  clearfix">
                          <div class="band__img">
                            <img src="assets/media/band.jpg" alt="#">
                          </div>
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              Губернаторы отчитаются Путину о выполнении его указов
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                
                      </ul>
                    </div>
                 </div>
              </div> 
              <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                <div class="grid__item">
                  <a href="#" class="analysis analysis_text"> 
                    <div class="analysis__content"> 
                          <div class="analysis__announcement">
                            <div class="announcement">
                              <div class="announcement__time">
                                <span>14:58</span><span>1 мая 2017 г.</span>
                              </div>
                              <div href="#" class="announcement__title opacity">Одиночество Брэда Питта. Разбор</div> 
                              <div class="announcement__autor">
                                <span class="announcement__autorname">Алексей Луговской</span>
                              </div>
                              <div class="analysis__description">
                                <div class="announcement__description clearfix"> 
                                  <img src="assets/media/bredpit.jpg" alt="Bred">
                                  <p>
                                    Актер впервые рассказал о разводе с Анджелиной Джоли и о том, как бросил пить. Журнал GQ  опубликовал первый откровенный разговор с актером Брэдом Питтом 
                                  </p>
                                </div>
                              </div> 
                            </div>
                          </div> 
                    </div>  
                  </a>
                </div> 
              </div> 
              <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                <div class="row">
                  <div class="col-xs-12 col-xxsm-6 col-xsm-3  col-sm-3 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_small">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">1 мая 2017 г. </span>
                            </div>
                          </div> 

                          <div class="card__titlebox">
                            <div class="card__title title">
                              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
                            </div> 
                          </div>

                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-xxsm-6 col-xsm-3  col-sm-3 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_small">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">1 мая 2017 г. </span>
                            </div>
                          </div> 

                          <div class="card__titlebox">
                            <div class="card__title title">
                              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
                            </div> 
                          </div>

                        </div>
                      </a>
                    </div>
                  </div>
 
                  <div class="col-xs-12 col-xxsm-12 col-xsm-6  col-sm-6 col-md-12 col-lg-12">
                    <div class="grid__item">
                      <a href="#" class="clipping clipping_card">
                        <div class="clipping__photo">
                          <img src="assets/media/clipping3.png" alt="#">
                          <div class="clipping__content">
                            <div class="clipping__title title">
                              Эмигранты, вернувшиеся в Россию
                            </div> 
                            <div class="clipping__time">
                              <div class="time">
                                <span class="time__time">14:58</span>
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div> 
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                </div>
              </div> 
            </div> 
            <div class="row"> 
              <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-6 col-lg-6">
                <div class="grid__item">
                  <a href="#" class="card card_full card_full_biggest" style="background-image: url('assets/media/biggest.jpg');">
                    <div class="card__photo">
                      <img src="assets/media/biggest.jpg" alt="#">
                      <div class="card__content">  
                        <div class="card__tags">
                          <span href="#" class="tag  tag_white">события</span>
                        </div>
                        <div class="card__titlebox">
                          <div class="card__title title">
                            Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                          </div> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
              <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-6 col-lg-6">
                <div class="grid__item">
                  <a href="#" class="card card_full card_full_biggest" style="background-image: url('assets/media/biggest.jpg');">
                    <div class="card__photo">
                      <img src="assets/media/biggest.jpg" alt="#">
                      <div class="card__content">  
                        <div class="card__tags">
                          <span href="#" class="tag  tag_white">события</span>
                        </div>
                        <div class="card__titlebox">
                          <div class="card__title title">
                            Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                          </div> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
            </div>
 
          </div>
        </div>
        <!-- == (ready) ПОЛИТИКА == НА ГЛАВНОЙ  end -->

        <!-- == (ready) ВТОРАЯ АНАТИЛИЧЕСКАЯ == НА ГЛАВНОЙ  start -->
        <div class="grid__block">
          <div class="grid_border">
            <hr style="background: #222;">
          </div> 
          <div class="center">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="grid__analysis">
                  <a href="#" class="analysis analysis_full" style="background-color: #A95066;">
                      <div class="analysis__background"></div>
                      <div class="analysis__content">
                        <div class="analysis__table">
                          <div class="analysis__tr">
                            <div class="analysis__announcement">
                              <div class="announcement">
                                <div class="announcement__time">
                                  <span>14:58</span><span>1 мая 2017 г.</span>
                                </div>
                                <div href="#" class="announcement__title opacity">
                                      Кто обладает правами на  памятники?
                                    </div> 
                                <div class="announcement__autor">
                                  <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                                  <span class="announcement__autorname">Алексей Луговской</span>
                                </div>
                              </div>
                            </div> 
                          </div>
                        </div>
                        <div class="analysis__table2">
                          <div class="analysis__tr">
                            <div class="analysis__description">
                              <div class="announcement__description"> 
                                Мишень излучает экситон, при этом дефект массы не образуется
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="analysis__img" style="background-image: url(assets/media/dogs.png);"></div>
                      <div class="analysis__more"></div>
                    </a>
                </div>
              </div>  
            </div> 
          </div>
        </div> 
        <!-- == (ready) ВТОРАЯ АНАТИЛИЧЕСКАЯ == НА ГЛАВНОЙ  end -->
 
        <!-- == (ready) ГОРОД == НА ГЛАВНОЙ  start -->
        <div class="grid__block grid_paddingnone">
          <div class="grid_border">
            <hr style="background: #DA610C;">
          </div> 
          <div class="center">
            <div class="row">
              <!-- band start -->  
                <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-4 col-md-3 col-lg-3">
                  <div class="grid__item"> 
                    <div class="band band_gray band_media band_set_height-js">
                      <div class="band__title">Город</div>
                      <ul class="band__list clearfix">
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В аэропорт Геленджика открываются 5 новых рейсов
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div>
                            <!-- <div class="band__img"></div> -->
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item">
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div>
                            <!-- <div class="band__img"></div> -->
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> 
              <!-- band end --> 

              <!-- cards start --> 
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                  <div class="row">
                    <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="grid__item"> 
                        <a href="#" class="card card_standart card_border">
                          <div class="card__photo">
                            <img src="assets/media/card.jpg" alt="#">
                          </div>
                          <div class="card__content"> 

                            <div class="card__titlebox">
                              <div class="card__title title">
                                Краснодар снова тонет в мусоре. В одной картинке
                              </div> 
                            </div>
                            <div class="card__time">
                              <div class="time">
                                <span class="time__time">14:58</span>
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                            <div class="card__tags">
                              <span href="#" class="tag tag_events">события</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-8 col-lg-8">
                      <div class="grid__item"> 
                        <a href="#" class="card card_full" style="background-image: url(assets/media/card-full2.jpg)">
                          <div class="card__photo">
                            <img src="assets/media/card-full2.jpg" alt="#">
                            <div class="card__content">  
                              <div class="card__titlebox">
                                <div class="card__title title">
                                  Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                                </div> 
                              </div>
                              <div class="card__time">
                                <div class="time">
                                  <span class="time__time">14:58</span>
                                  <span class="time__ego">20 минут назад</span>
                                </div>
                              </div>
                              <div class="card__tags">
                                <span href="#" class="tag  tag_white">события</span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="grid__item"> 
                        <a href="#" class="card card_standart card_border">
                          <div class="card__photo">
                            <img src="assets/media/card.jpg" alt="#">
                          </div>
                          <div class="card__content"> 

                            <div class="card__titlebox">
                              <div class="card__title title">
                                Краснодар снова тонет в мусоре. В одной картинке
                              </div> 
                            </div>
                            <div class="card__time">
                              <div class="time">
                                <span class="time__time">14:58</span>
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                            <div class="card__tags">
                              <span href="#" class="tag tag_events">события</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="grid__item"> 
                        <a href="#" class="card card_standart card_border">
                          <div class="card__photo">
                            <img src="assets/media/card.jpg" alt="#">
                          </div>
                          <div class="card__content"> 

                            <div class="card__titlebox">
                              <div class="card__title title">
                                Краснодар снова тонет в мусоре. В одной картинке
                              </div> 
                            </div>
                            <div class="card__time">
                              <div class="time">
                                <span class="time__time">14:58</span>
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                            <div class="card__tags">
                              <span href="#" class="tag tag_events">события</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="grid__item"> 
                        <a href="#" class="card card_standart card_border">
                          <div class="card__photo">
                            <img src="assets/media/card.jpg" alt="#">
                          </div>
                          <div class="card__content"> 

                            <div class="card__titlebox">
                              <div class="card__title title">
                                Краснодар снова тонет в мусоре. В одной картинке
                              </div> 
                            </div>
                            <div class="card__time">
                              <div class="time">
                                <span class="time__time">14:58</span>
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                            <div class="card__tags">
                              <span href="#" class="tag tag_events">события</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>  
              <!-- cards end -->
  
            </div> 
          </div>
        </div>
        <!-- == (ready) ГОРОД == НА ГЛАВНОЙ  end --> 

        <!-- == (ready) ЖИЗНЬ == НА ГЛАВНОЙ  start -->
        <div class="grid__block grid_gray grid_paddingtop ">
          <div class="grid_border">
            <hr style="background: #4785B3;">
          </div> 
          <div class="center">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-band">
                <div class="grid__item"> 
                  <div class="band band_light band_set_height-js">
                    <div class="band__title">Жизнь</div>
                    <ul class="band__list">
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В аэропорт Геленджика открываются 5 новых рейсов
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div>
                          <!-- <div class="band__img"></div> -->
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                    </ul>
                  </div>
                </div>
              </div> 
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="grid__item"> 
                      <a href="#" class="analysis analysis_flat"> 
                        <div class="analysis__content">
                          <div class="analysis__table">
                            <div class="analysis__tr">
                              <div class="analysis__announcement">
                                <div class="announcement">
                                  <div class="announcement__time">
                                    <span>14:58</span><span>1 мая 2017 г.</span>
                                  </div>
                                  <div href="#" class="announcement__title opacity">
                                    Почему важно сохранить Аврору
                                  </div> 
                                  <div class="analysis__description">
                                    <div class="announcement__description"> 
                                      Мишень излучает экситон, при этом дефект массы не образуется
                                    </div>
                                  </div>
                                  <div class="announcement__autor">
                                    <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                                    <span class="announcement__autorname">Алексей Луговской</span>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div> 
                        </div> 
                        <div class="analysis__img" style="background-image: url(assets/media/background_anali2.png);">
                          <img src="assets/media/background_anali2.png" alt="#">
                        </div>
                        <div class="analysis__more"></div>
                      </a>
                    </div>
                  </div> 
                </div> 
                <div class="row"> 
                  <div class="col-xs-12 col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_standart card_background_gray">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__tags">
                            <span href="#" class="tag tag_events">события</span>
                          </div>
                          <div class="card__titlebox">
                            <span class="card__title title">
                              Краснодар снова тонет в мусоре. В одной картинке
                            </span> 
                          </div>
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>  
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_standart card_background_gray">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__tags">
                            <span href="#" class="tag tag_events">события</span>
                          </div>
                          <div class="card__titlebox">
                            <span class="card__title title">
                              Краснодар снова тонет в мусоре. В одной картинке
                            </span> 
                          </div>
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>  
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div> 
          </div>
        </div>
        <!-- == (ready) ЖИЗНЬ == НА ГЛАВНОЙ  end -->

        <!-- == (ready) ПОЛИТИКА == НА ГЛАВНОЙ  start -->
        <div class="grid__block">
          <div class="grid_border">
            <hr style="background: #222;">
          </div> 
          <div class="center">

            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <div class="grid__item">
                    <div class="band band_img band_border">
                      <div class="band__title">Политика</div>
                      <ul class="band__list">
                        <li class="band__item  clearfix">
                          <div class="band__img">
                            <img src="assets/media/band.jpg" alt="#">
                          </div>
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              Губернаторы отчитаются Путину о выполнении его указов
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item  clearfix">
                          <div class="band__img">
                            <img src="assets/media/band.jpg" alt="#">
                          </div>
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              Губернаторы отчитаются Путину о выполнении его указов
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item  clearfix">
                          <div class="band__img">
                            <img src="assets/media/band.jpg" alt="#">
                          </div>
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              Губернаторы отчитаются Путину о выполнении его указов
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                        <li class="band__item  clearfix">
                          <div class="band__img">
                            <img src="assets/media/band.jpg" alt="#">
                          </div>
                          <div class="band__content">
                            <a href="#" class="band__name title">
                              Губернаторы отчитаются Путину о выполнении его указов
                            </a>
                            <div class="band__time">
                              <div class="time"> 
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div>
                          </div> 
                        </li>
                
                      </ul>
                    </div>
                 </div>
              </div> 
              <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                <div class="grid__item">
                  <a href="#" class="analysis analysis_text"> 
                    <div class="analysis__content"> 
                          <div class="analysis__announcement">
                            <div class="announcement">
                              <div class="announcement__time">
                                <span>14:58</span><span>1 мая 2017 г.</span>
                              </div>
                              <div href="#" class="announcement__title opacity">Одиночество Брэда Питта. Разбор</div> 
                              <div class="announcement__autor">
                                <span class="announcement__autorname">Алексей Луговской</span>
                              </div>
                              <div class="analysis__description">
                                <div class="announcement__description clearfix"> 
                                  <img src="assets/media/bredpit.jpg" alt="Bred">
                                  <p>
                                    Актер впервые рассказал о разводе с Анджелиной Джоли и о том, как бросил пить. Журнал GQ  опубликовал первый откровенный разговор с актером Брэдом Питтом 
                                  </p>
                                </div>
                              </div> 
                            </div>
                          </div> 
                    </div>  
                  </a>
                </div> 
              </div> 
              <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                <div class="row">
                  <div class="col-xs-12 col-xxsm-6 col-xsm-3  col-sm-3 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_small">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">1 мая 2017 г. </span>
                            </div>
                          </div> 

                          <div class="card__titlebox">
                            <div class="card__title title">
                              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
                            </div> 
                          </div>

                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-xxsm-6 col-xsm-3  col-sm-3 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_small">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">1 мая 2017 г. </span>
                            </div>
                          </div> 

                          <div class="card__titlebox">
                            <div class="card__title title">
                              Григорий Пенжоян: «Во второй краевой лечатся даже европейцы»
                            </div> 
                          </div>

                        </div>
                      </a>
                    </div>
                  </div>
 
                  <div class="col-xs-12 col-xxsm-12 col-xsm-6  col-sm-6 col-md-12 col-lg-12">
                    <div class="grid__item">
                      <a href="#" class="clipping clipping_card">
                        <div class="clipping__photo">
                          <img src="assets/media/clipping3.png" alt="#">
                          <div class="clipping__content">
                            <div class="clipping__title title">
                              Эмигранты, вернувшиеся в Россию
                            </div> 
                            <div class="clipping__time">
                              <div class="time">
                                <span class="time__time">14:58</span>
                                <span class="time__ego">20 минут назад</span>
                              </div>
                            </div> 
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                </div>
              </div> 
            </div> 
            <div class="row"> 
              <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-6 col-lg-6">
                <div class="grid__item">
                  <a href="#" class="card card_full card_full_biggest" style="background-image: url('assets/media/biggest5.jpg');">
                    <div class="card__photo">
                      <img src="assets/media/biggest5.jpg" alt="#">
                      <div class="card__content">  
                        <div class="card__tags">
                          <span href="#" class="tag  tag_white">события</span>
                        </div>
                        <div class="card__titlebox">
                          <div class="card__title title">
                            Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                          </div> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
              <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-6 col-lg-6">
                <div class="grid__item">
                  <a href="#" class="card card_full card_full_biggest" style="background-image: url('assets/media/biggest3.jpg');">
                    <div class="card__photo">
                      <img src="assets/media/biggest3.jpg" alt="#">
                      <div class="card__content">  
                        <div class="card__tags">
                          <span href="#" class="tag  tag_white">события</span>
                        </div>
                        <div class="card__titlebox">
                          <div class="card__title title">
                            Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                          </div> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
            </div>
 
          </div>
        </div>
        <!-- == (ready) ПОЛИТИКА == НА ГЛАВНОЙ  end -->

        {% include '../b/collection_edition.block.html' %}
 
    </div>
 
    {% include '../b/footer.html' %}   
  </div>
    {% include '../b/menu.block.html' %} 
    {% include '../b/popups.block.html' %}
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

 	