<!DOCTYPE
  html>
<html lang="ru">
<head> 
  <title>!Perfetto!</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
   

 

</head>
<body>
  <div class="wrapper">  

  <!--accordion start -->
  <div id="accordion">
    <h3>Section 1</h3>
    <div>
      <p>
      Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
      ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
      amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
      </p>
    </div>
    <h3>Section 2</h3>
    <div>
      <p>
      Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
      purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
      velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
      suscipit faucibus urna.
      </p>
    </div> 
  </div>
  <!--accordion end -->

 
  <!--tabs start --> 
  <div  class="tabToAccordiaon tabToAccordiaon-js">
    <ul>
      <li><a href="#tab1">Голова</a></li>
      <li><a href="#tab2">Рука</a></li>
      <li><a href="#tab3">Нога</a></li>
    </ul>
    <h3>Голова</h3>
    <div id="tab1">
      <p>
        Часть тела человека (или животного), состоящая из черепной коробки и лица (или морды животного).
      </p>
    </div>
    <h3>Рука</h3>
    <div id="tab2">
      <p>
        Верхняя конечность человека от плеча до пальцев, а также от запястья до пальцев.
      </p>
    </div>
    <h3>Нога</h3>
    <div id="tab3">
      <p>
        Одна из двух нижних конечностей человека, а также одна из конечностей животного.
      </p>
    </div>

  </div>  
  <!--tabs end -->
  
  
  

  </div>



</body> 
  {% include '../b/include_js.html' %}  
  {% include '../b/include_afterbody.html' %}   

  <script type="text/javascript">  
    $('#accordion').accordion({
      icons: {
        "header": "ui-icon-arrowthick-1-e",
        "activeHeader": " ui-icon-arrowthick-1-s"
        }
    });
  </script>

 
  


</html> 
 