<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>!Perfetto!</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
  <div class="wrapper">
    {% include '../b/header.html' %}
 
        Hellor Perfetto

    {% include '../b/footer.html' %}   
  </div>
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

  