<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>Главная</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
  <div class="wrapper page_roubrick">

    {% include '../b/header_roubrick.html' %} 
 
    <div class="roubric">
      <div class="center">
        <div class="grid"> 
          <div class="row"> 
            <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-12 col-md-12 col-lg-12">
              <div class="grid__item">
                <a href="#" class="analysis analysis_roubric"> 
                  <div class="analysis__content">
                    <div class="analysis__table">
                      <div class="analysis__tr">
                        <div class="analysis__announcement">
                          <div class="announcement"> 
                            <div class="announcement__time">
                              <span>14:58</span><span>1 мая 2017 г.</span>
                            </div>
                            <div href="#" class="announcement__title opacity">
                              Православная княжна на французском престоле
                            </div>  
                            <div class="announcement__autor">
                              <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                              <span class="announcement__autorname">Алексей Луговской</span>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div> 
                  </div> 
                  <div class="analysis__img" style="background-image: url(assets/media/king.jpg);">
                    <img src="assets/media/king.jpg" alt="#">
                  </div> 
                  <div class="analysis__more"></div>
                </a> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-12 col-md-12 col-lg-12">
              <div class="grid__item">
                <div class="band band_horizontal"> 
                  <ul class="band__list"> 
                    <li class="band__item">
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          В аэропорт Геленджика открываются 5 новых рейсов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item">
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item">
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          В аэропорт Геленджика открываются 5 новых рейсов
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>
                    <li class="band__item">
                      <div class="band__content">
                        <a href="#" class="band__name title">
                          В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                        </a>
                        <div class="band__time">
                          <div class="time"> 
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>
                      </div> 
                    </li>  
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
              <div class="grid__item">
                <a href="#" class="card card_full card_full_biggest" style="background-image:url('assets/media/biggest.jpg');">
                  <div class="card__photo">
                    <img src="assets/media/biggest.jpg" alt="#">
                    <div class="card__content">   
                      <div class="card__titlebox">
                        <div class="card__title title">
                          Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                        </div> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div> 
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
              <div class="grid__item">
                <a href="#" class="card card_full card_full_biggest" style="background-image: url(assets/media/biggest.jpg);">
                  <div class="card__photo">
                    <img src="assets/media/biggest.jpg" alt="#">
                    <div class="card__content"> 
                      <div class="card__titlebox">
                        <div class="card__title title">
                          Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                        </div> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-xs-12  col-xxsm-12 col-xsm-12  col-sm-4 col-md-6 col-lg-6">
              <div class="grid__item">
                <a href="#" class="card card_full card_full_biggest" style="background-image:url('assets/media/biggest.jpg');">
                  <div class="card__photo">
                    <img src="assets/media/biggest.jpg" alt="#">
                    <div class="card__content">   
                      <div class="card__titlebox">
                        <div class="card__title title">
                          Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                        </div> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div> 
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12  col-xxsm-12 col-xsm-12  col-sm-8 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-xs-12  col-xxsm-12 col-xsm-4  col-sm-4 col-md-3 col-lg-3">
               <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12  col-xxsm-12 col-xsm-4  col-sm-4 col-md-6 col-lg-6">
              <div class="grid__item">
                <a href="#" class="card card_full card_full_biggest" style="background-image:url('assets/media/biggest.jpg');">
                  <div class="card__photo">
                    <img src="assets/media/biggest.jpg" alt="#">
                    <div class="card__content">   
                      <div class="card__titlebox">
                        <div class="card__title title">
                          Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                        </div> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div> 
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12  col-xxsm-12 col-xsm-4  col-sm-4 col-md-3 col-lg-3">
               <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                </div>
            </div>
          </div> 
          <div class="row">
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-3 col-lg-3">
               <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                </div>
            </div> 
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-3 col-lg-3">
               <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-3 col-lg-3">
               <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-3 col-lg-3">
               <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
              <div class="grid__item">
                <a href="#" class="card card_full card_full_biggest" style="background-image:url('assets/media/biggest.jpg');">
                  <div class="card__photo">
                    <img src="assets/media/biggest.jpg" alt="#">
                    <div class="card__content">   
                      <div class="card__titlebox">
                        <div class="card__title title">
                          Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                        </div> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div> 
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
              <div class="grid__item">
                <a href="#" class="card card_full card_full_biggest" style="background-image: url(assets/media/biggest.jpg);">
                  <div class="card__photo">
                    <img src="assets/media/biggest.jpg" alt="#">
                    <div class="card__content"> 
                      <div class="card__titlebox">
                        <div class="card__title title">
                          Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                        </div> 
                      </div>
                      <div class="card__time">
                        <div class="time">
                          <span class="time__time">14:58</span>
                          <span class="time__ego">20 минут назад</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-3 col-lg-3">
               <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                </div>
            </div> 
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-3 col-lg-3">
               <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-3 col-lg-3">
               <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-3 col-lg-3">
               <div class="grid__item">
                    <a href="#" class="card card_standart card_border  card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      
      <a href="#" class="more">
        <span class="more__icon"></span>
          Показать еще
      </a>

      <div class="related">
        <h3 class="related__title">Материалы по темам:</h3>
        <a href="#" class="btn btn_inline btn_light">Отпуск</a>
        <a href="#" class="btn btn_inline btn_light">Сочи</a>
        <a href="#" class="btn btn_inline btn_light">Отдых на пляже</a>
      </div>
    </div>
    {% include '../b/footer.html' %}   
  </div>
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

 	