<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>Главная</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
  <div class="wrapper">

    {% include '../b/header.html' %}
    
      <div class="grid">
        
 
        <!-- == (ready) ЖИЗНЬ == НА ГЛАВНОЙ  start -->
        <div class="grid__block grid_paddingtop grid_gray">
          <div class="grid_border">
            <hr style="background: #4785B3;">
          </div> 
          <div class="center">

          <!-- Продублированная аналитическая статья! Нужна чтобы на мобильных устройствах мы могли её увидеть в начале потока, как было задумано по дизайну. http://c2n.me/3MtwEoq  START -->
          <div class="row hide show-xs show-xxsm  show-xsm">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
              <div class="grid__item"> 
                <a href="#" class="analysis analysis_flat"> 
                  <div class="analysis__content">
                    <div class="analysis__table">
                      <div class="analysis__tr">
                        <div class="analysis__announcement">
                          <div class="announcement">
                            <div class="announcement__time">
                              <span>14:58</span><span>1 мая 2017 г.</span>
                            </div>
                            <div href="#" class="announcement__title opacity">
                                  Isla de Pasсua, тресотлетние моаи
                                </div> 
                            <div class="analysis__description">
                              <div class="announcement__description"> 
                                Мишень излучает экситон, при этом дефект массы не образуется
                              </div>
                            </div>
                            <div class="announcement__autor">
                              <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                              <span class="announcement__autorname">Алексей Луговской</span>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div> 
                  </div> 
                  <div class="analysis__img" style="background-image: url(assets/media/background_anali.png);">
                    <img src="assets/media/background_anali.png" alt="#">
                  </div>
                  <div class="analysis__more"></div>
                </a>
              </div>
            </div> 
          </div> 
          <!-- Продублированная аналитическая статья! Нужна чтобы на мобильных устройствах мы могли её увидеть в начале потока, как было задумано по дизайну. http://c2n.me/3MtwEoq  END -->

            <div class="row">
              <div class="col-xs-12 col-xxsm-12 col-xsm-12 col-sm-4 col-md-4 col-lg-4 col-band">
                <div class="grid__item"> 
                  <div class="band band_light band_set_height-js">
                    <div class="band__title">Жизнь</div>
                    <ul class="band__list">
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В аэропорт Геленджика открываются 5 новых рейсов
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div>
                          <!-- <div class="band__img"></div> -->
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="band__item">
                        <div class="band__content">
                          <a href="#" class="band__name title">
                            В Краснодаре возбуждено дело против коммерсанта, разместившего баннер с образом Родины-матери на пивной
                          </a>
                          <div class="band__time">
                            <div class="time"> 
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                    </ul>
                  </div>
                </div>
              </div> 
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hide-xsm hide-xxsm hide-xs">
                    <div class="grid__item"> 
                      <a href="#" class="analysis analysis_flat"> 
                        <div class="analysis__content">
                          <div class="analysis__table">
                            <div class="analysis__tr">
                              <div class="analysis__announcement">
                                <div class="announcement">
                                  <div class="announcement__time">
                                    <span>14:58</span><span>1 мая 2017 г.</span>
                                  </div>
                                  <div href="#" class="announcement__title opacity">
                                        Isla de Pasсua, тресотлетние моаи
                                      </div> 
                                  <div class="analysis__description">
                                    <div class="announcement__description"> 
                                      Мишень излучает экситон, при этом дефект массы не образуется
                                    </div>
                                  </div>
                                  <div class="announcement__autor">
                                    <img class="announcement__autorface" src="assets/media/autor.png" alt="Алексей Луговской">
                                    <span class="announcement__autorname">Алексей Луговской</span>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div> 
                        </div> 
                        <div class="analysis__img" style="background-image: url(assets/media/background_anali.png);">
                          <img src="assets/media/background_anali.png" alt="#">
                        </div>
                        <div class="analysis__more"></div>
                      </a>
                    </div>
                  </div> 

                </div> 
                <div class="row">

                <div class="">
                  
                </div>
                  <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_standart card_background_gray">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__tags">
                            <span href="#" class="tag tag_events">события</span>
                          </div>
                          <div class="card__titlebox">
                            <span class="card__title title">
                              Краснодар снова тонет в мусоре. В одной картинке
                            </span> 
                          </div>
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>  
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-xxsm-12 col-xsm-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="grid__item">
                      <a href="#" class="card card_standart card_background_gray">
                        <div class="card__photo">
                          <img src="assets/media/card.jpg" alt="#">
                        </div>
                        <div class="card__content"> 
                          <div class="card__tags">
                            <span href="#" class="tag tag_events">события</span>
                          </div>
                          <div class="card__titlebox">
                            <span class="card__title title">
                              Краснодар снова тонет в мусоре. В одной картинке
                            </span> 
                          </div>
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>  
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <!-- == (ready) ЖИЗНЬ == НА ГЛАВНОЙ  end -->
 

      </div>

    {% include '../b/footer.html' %}   
  </div>
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

 	