<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>Главная</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
  <div class="wrapper">

    {% include '../b/header.html' %}
    
      <div class="grid">
        
        <!-- == ПЕРВЫЕ НОВОСТИ == НА ГЛАВНОЙ  start -->
        <div class="grid__block grid_gray">
          <div class="center"> 
              <div class="row">
 
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>  
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
                  <div class="grid__item">
                    <a href="#" class="card card_full card_full_biggest">
                      <div class="card__photo">
                        <img src="assets/media/biggest.jpg" alt="#">
                        <div class="card__content">  
                          <div class="card__tags">
                            <span href="#" class="tag  tag_white">события</span>
                          </div>
                          <div class="card__titlebox">
                            <div class="card__title title">
                              Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                            </div> 
                          </div>
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div> 
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-6 col-md-6 col-lg-6">
                  <div class="grid__item">
                    <a href="#" class="card card_full card_full_biggest">
                      <div class="card__photo">
                        <img src="assets/media/biggest.jpg" alt="#">
                        <div class="card__content">
                          <div class="card__tags">
                            <span href="#" class="tag  tag_white">события</span>
                          </div>
                          <div class="card__titlebox">
                            <div class="card__title title">
                              Как это работает. Капитан речного пароходства рассказал как он работал 20 лет на корабле «Валерий Брюсов»
                            </div> 
                          </div>
                          <div class="card__time">
                            <div class="time">
                              <span class="time__time">14:58</span>
                              <span class="time__ego">20 минут назад</span>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12  col-xxsm-12 col-xsm-6  col-sm-4 col-md-4 col-lg-4">
                  <div class="grid__item">
                    <a href="#" class="card card_standart card_background_gray">
                      <div class="card__photo">
                        <img src="assets/media/card.jpg" alt="#">
                      </div>
                      <div class="card__content"> 
                        <div class="card__tags">
                          <span href="#" class="tag tag_events">события</span>
                        </div>
                        <div class="card__titlebox">
                          <span class="card__title title">
                            Краснодар снова тонет в мусоре. В одной картинке
                          </span> 
                        </div>
                        <div class="card__time">
                          <div class="time">
                            <span class="time__time">14:58</span>
                            <span class="time__ego">20 минут назад</span>
                          </div>
                        </div>  
                      </div>
                    </a>
                  </div>
                </div>
              </div>  
          </div>
        </div> 
        <!-- == ПЕРВЫЕ НОВОСТИ == НА ГЛАВНОЙ  end -->



      </div>

    {% include '../b/footer.html' %}   
  </div>
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

 	