<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>Главная</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   

</head>
<body>
  <div class="wrapper">

    {% include '../b/header.html' %}
   
    <div class="center">
      <center><h1>UI</h1></center>
      <ul>
        <li>- <a href="#tags">Теги, метки</a></li>
        <li>- <a href="#btn">Кнопки</a></li>
      </ul>
      <hr>

      <!-- tags -->
      <a name="tags"></a>
      <div>
        <a href="#" class="tag tag_news">новости</a>
        <a href="#" class="tag tag_events">события</a>
        <a href="#" class="tag tag_people">люди</a>
        <a href="#" class="tag tag_city">город</a>
        <a href="#" class="tag tag_policy">политика</a>
        <a href="#" class="tag tag_life">жизнь</a>
        <a href="#" class="tag tag_history">история</a>
        <a href="#" class="tag tag_opinions">мнения</a>
        <a href="#" class="tag tag_sport">спорт</a>
        <a href="#" class="tag tag_leisure">досуг</a> 
        <div class="contrast">
          <a href="#" class="tag tag_transparent">досуг</a> 
          <a href="#" class="tag tag_white">досуг</a> 
        </div>
      </div>
      <!-- tags -->
      <!-- btn -->
      <a name="btn"></a>
      <div>
        <h6>Стандартная кнопка (.btn)</h6>
        <a href="#" class="btn">Отдых на пляже</a>
        <h6>Inline стиль (.btn_inline)</h6>
        <a href="#" class="btn btn_inline">Отдых на пляже</a>
        <h6>Светлый стиль (для темного фона) (.btn_transparent)</h6>
        <div style="padding: 10px; background: #000;">
          <a href="#" class="btn btn_inline btn_transparent">Отдых на пляже</a>
        </div>
      </div>
      <!-- btn -->

    </div>


  <style type="text/css">
    .contrast {
      background: #000;
      padding: 4px;
      border-radius: 4px;
      margin:5px 0 ;
    }
  </style>

    {% include '../b/footer.html' %}   
  </div>
</body> 
  {% include '../b/include_afterbody.html' %}   
</html>

  
 