<!DOCTYPE html>
<html lang="ru">
<head> 
  <title>!Perfetto map!</title>  

  {% include '../b/include_meta.html' %}  
  {% include '../b/include_css.html' %}  
  {% include '../b/include_js.html' %}   
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
  <div class="wrapper"> 

  </div>

  <div id="mySuperMap" style="height: 400px;width: 100%"></div>

</body>  
</html>


<script type="text/javascript">

  ymaps.ready(init);

  var placemark;

  function init() {
    var map = new ymaps.Map('mySuperMap', {
        center: [50.443705, 30.530946],
        zoom: 14
    }, {
        searchControlProvider: 'yandex#search'
    });


    var collection = new ymaps.GeoObjectCollection({}, {
      present: "#redIcon"
    });

    map.geoObjects.add(collection);

    placemark = new ymaps.Placemark([50.426472, 30.563022], {
      balloonContent: "Контент балуна"
    });

    collection.add(placemark);
    


  }

  function togglePlacemark() {
    placemark.balloon.open();
  }

var groups = [
        {
            name: "Известные памятники",
            style: "islands#redIcon",
            items: [
                {
                    center: [50.426472, 30.563022],
                    name: "Монумент &quot;Родина-Мать&quot;"
                },
                {
                    center: [50.45351, 30.516489],
                    name: "Памятник &quot;Богдану Хмельницкому&quot;"
                },
                {
                    center: [50.454433, 30.529874],
                    name: "Арка Дружбы народов"
                }
            ]},
        {
            name: "Покушайки",
            style: "islands#greenIcon",
            items: [
                {
                    center: [50.50955, 30.60791],
                    name: "Ресторан &quot;Калинка-Малинка&quot;"
                },
                {
                    center: [50.429083, 30.521708],
                    name: "Бар &quot;Сало-бар&quot;"
                },
                {
                    center: [50.450843, 30.498271],
                    name: "Абсент-бар &quot;Палата №6&quot;"
                },
                {
                    center: [50.454834, 30.516498],
                    name: "Ресторан &quot;Спотыкач&quot;"
                }
            ]},
        {
            name: "Оригинальные музейчики",
            style: "islands#orangeIcon",
            items: [
                {
                    center: [50.443334, 30.520163],
                    name: "Музей грамзаписи и старинных музыкальных инструментов"
                },
                {
                    center: [50.446977, 30.505269],
                    name: "Музей истории медицины или Анатомический театр"
                },
                {
                    center: [50.452512, 30.530889],
                    name: "Музей воды. Водно-информационный центр"
                }
            ]},
        {
            name: "Красивости",
            style: "islands#blueIcon",
            items: [
                {
                    center: [50.45987, 30.516174],
                    name: "Замок Ричарда-Львиное сердце"
                },
                {
                    center: [50.445049, 30.528598],
                    name: "&quot;Дом с химерами&quot;"
                },
                {
                    center: [50.449156, 30.511809],
                    name: "Дом Рыцаря"
                }
            ]}
    ];


</script>

<style type="text/css">

</style>
