/*page navigation start*/

.helpnavigation {
  position: fixed;
  z-index: 1000;
  left: -990px;
  top: 0;
  width: 1000px;
  background: #194884 url('back.jpg');
  height: 100%;
  -webkit-transition: left 0.1s ease;
  transition: left 0.1s ease;
  opacity: 0.4;
  padding-right: 10px;
}

.helpnavigation.show {
  left: 0px;
  opacity: 1;
  padding-right:0px;
}

.helpnavigation__buttons {
  display: table;
  width: 100%;
}

.helpnavigation__item {
  display: table-cell;
  text-align: center;
  border: 1px solid #fff;
  border-right: 0px;
  color: #fff;
  padding: 10px;
}

.helpnavigation__item:first-of-type {
  border-left: 0px;
}

.helpnavigation__content {
  display: none;
  padding-top: 30px;
  overflow: auto;
  max-height: 100%;
  padding-bottom: 60px;
}

.pagenavigation a {
  display: block;
  font-size: 16px;
  padding: 4px 4px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.pagenavigation a:hover,
.pagenavigation a:focus {
  background: #fff;
  color: #194884;
}

.iconsnavigation__item {
  width: 19%;
  display: block; 
  text-align: center;
  margin-bottom: 14px;
  display: inline-block;
  vertical-align: middle;
}

.iconsnavigation__item > .icon {}

.iconsnavigation__name {
  display: block;
  color: #fff;
}


/*page navigation end*/
