<div class="iconsnavigation">
<span class="iconsnavigation__item">
<span class="icon icon-time-black"></span>
<span class="iconsnavigation__name"> .time-black</span>
</span>
<span class="iconsnavigation__item">
<span class="icon icon-time"></span>
<span class="iconsnavigation__name"> .time</span>
</span>
</div>