<div class="pagenavigation">
<a href="/analytics.html">analytics.html</a>
<a href="/autor.html">autor.html</a>
<a href="/autors.html">autors.html</a>
<a href="/blocks.html">blocks.html</a>
<a href="/cards.html">cards.html</a>
<a href="/content-big.html">content-big.html</a>
<a href="/content-small.html">content-small.html</a>
<a href="/icons.html">icons.html</a>
<a href="/index.html">index.html</a>
<a href="/index_advert.html">index_advert.html</a>
<a href="/index_no_main.html">index_no_main.html</a>
<a href="/newblock.html">newblock.html</a>
<a href="/perfetto.html">perfetto.html</a>
<a href="/rubrick_1.html">rubrick_1.html</a>
<a href="/rubrick_2.html">rubrick_2.html</a>
<a href="/rubrick_33.html">rubrick_33.html</a>
<a href="/test-cards.html">test-cards.html</a>
<a href="/test-frist-screen.html">test-frist-screen.html</a>
<a href="/test-two-screen.html">test-two-screen.html</a>
<a href="/test.html">test.html</a>
<a href="/ui.html">ui.html</a>
<a href="/y.html">y.html</a>
<a href="/yandexmap.html">yandexmap.html</a>
</div>