<div class="helpnavigation">
  <div class="helpnavigation__buttons">
    <a href="#" class="helpnavigation__item" data-content=".helpnavigation__pages">Страницы</a>
    <a href="#" class="helpnavigation__item" data-content=".helpnavigation__icons">Иконки</a>
  </div>
  <div class="helpnavigation__pages helpnavigation__content" style="display: block;">
    
  </div>
  <div class="helpnavigation__icons helpnavigation__content">
    
  </div>
</div>