<!-- land start -->
<div class="land">
  <div class="center">
    <h3 class="land__title index__title">
       land заголовок
    </h3>
    <div class="land__content">
      land контент
    </div>
  </div>
</div>
<!-- land end / -->
