/* land start */

.land {
  min-height: 300px;
  background:url('../images/backgrounds/land.jpg') center  no-repeat;
  /*background-size: cover;*/
}
.land__title {

}
.land__content {

}

/* land end */