/* analysis start */

  .analysis {
    min-height: 407px;
    position: relative;
    border-radius: 3px;
    display: block;
    background-position: top right;
    background-repeat: no-repeat;
  }

  .analysis__content {
    width: 91.6%;
    height: 76%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
  }

  .analysis__background {
    width: 91.6%;
    height: 82%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: #fff;
  }

  .analysis__table {
    width: 44%;
    height: 100%;
    display: table;
    float: left;
  }

  .analysis__table2 {
    width: 21%;
    height: 100%;
    display: table;
    float: right;
    color: #222;
    margin-right: 4%;
    /* text-shadow: 0px 0px 2px #fff, 0px 1px 1px #fff, 0px -1px 1px #fff, 1px 0px 1px #fff, -1px 0px 1px #fff; */
  }

  .analysis__tr {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  } 

  .analysis__img {
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: -24px;
    background-repeat: no-repeat;
    background-position: center bottom;
  } 

  .analysis__announcement .announcement {
    color: #222;
  }

  .analysis__announcement .announcement__time {
    color: #222;
    margin-bottom: 8px;
    font-size: 10px;
  }

  .analysis__announcement .announcement__time span {
    margin-right: 10px;
  }

  .analysis__announcement .announcement__time span:last-of-type {
    opacity: 0.5;
  }

  .analysis__announcement .announcement__title {
    font-size: 48px;
    color: #222;
    letter-spacing: 0px;
  }

  .analysis__announcement .announcement__autor {
    margin-top: 1px;
    font-size: 12px;
    /* text-shadow: 0px 0px 2px #fff, 0px 1px 1px #fff, 0px -1px 1px #fff, 1px 0px 1px #fff, -1px 0px 1px #fff; */
  }

  .analysis__announcement {
    float: left;
    max-width: 450px;
  }

  .analysis__description {
    font-family: 'PT Serif', sans-serif;
    font-style: italic;
    float: right;
    line-height: 1.7em;
  }

  .analysis__description .announcement__description {
    font-size: 20px;
    margin: 0; 
  }

  .analysis__description .announcement__description:first-letter  {
    font-size: 36px;
  }
  
  .analysis__description .announcement__description p {
    margin:0;
    line-height: 1.2em;
  }
  .analysis__more {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff url('../images/more.png') center no-repeat;
    position: absolute;
    right: 23px;
    bottom: 24px;
    z-index: 5;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    border-radius: 50%;
  }

  .analysis__more:hover, 
  .analysis__more:focus {
    background: #222 url('../images/more_white.png') center no-repeat;
  }
  
  .analysis__description  p.analysis__beginning {
    font-size: 16px;
    line-height: 1.4em;
    margin-top: 19px;
    overflow: hidden;
    max-height: 132px;
    display: none;
  }
@media(max-width:991px){
  .analysis__description  p.analysis__beginning  {
    display: block;
  }
} 

@media(max-width:900px){
   .analysis__description    p.analysis__beginning {
      max-height: 70px;
    }
 
 }  

@media(max-width: 1070px){
  .analysis__img {
    width: 50%;
    left: 25%;
    background-size: contain;
  } 
  .analysis__description .announcement__description {
    font-size: 20px;
    margin: 0;
  }
  
  .analysis__table2 {
    width: 30%;
    max-width: 184px;
    margin-right: 20px;
  }
  
  .analysis__announcement .announcement__title {
    font-size: 34px;
    color: #222;
    letter-spacing: 0px;
  }
  
  .analysis__description .announcement__description:first-letter {
    font-size: 30px;
  }
}



@media(max-width:767px){
  .analysis__table2 {
    display: none;
  }
  .analysis__table {
    width: 60%;
  }
  .analysis__more {
    display: none;
  }
  .analysis__img {
    width: 55%;
    left: auto;
    background-size: contain;
    right: 20px;
  } 
 }  
@media(max-width:567px){
  .analysis__table2 {
    display: none;
  }
  
  .analysis__img {
    position: relative;
    height: 255px;
    overflow: hidden;
    margin-top: -19px;
    z-index: 3;
    width: 100%;
    left: 0;
    background-size: auto;
    background-position: bottom center;
    margin-bottom: 1px;
    top: 0;
    background-size: contain;
  } 
  
  .analysis__content {
    background: #fff;
    padding: 23px 20px 31px 0;
    position: relative;
  }
  
  .analysis__background {
    display: none;
  }
  
  .analysis__table {
    float: none;
    width: 100%;
  }
  
  .analysis__announcement {
    max-width: 100%;
    float: none;
  }
  
  .analysis__img img {
    width: 100%;
    margin-top: 0px;
  }
  .analysis__more {
    display: none;
  }
  .analysis__description {
    display: none;
  }
} 


  /* modificator: analysis_flat  start */

  .analysis_flat {
    min-height: 420px;
    padding-top: 20px;
    padding-bottom: 35px;
    margin-top: -19px;
  }

  .analysis_flat .analysis__background {
    max-width: 450px;
    width: 52%;
  }

  .analysis_flat .analysis__table {
    width: 100%;
    float: none;
  }

  .analysis_flat .analysis__content {
    top: 19px;
    max-width: 450px;
    width: 58%;
    padding-right: 10px;
    background: #fff;
    position: relative;
  }

  .analysis_flat .analysis__tr {
    vertical-align: top;
    position: relative;
    top: -2px;
  }

  .analysis_flat .analysis__description {
    float: none;
    max-width: 260px;
    line-height: 1.7em;
    margin-bottom: 44px;
  }

  .analysis_flat .announcement__time {
    margin-bottom: 19px;
  }

  .analysis_flat .announcement__title {
    margin-bottom: 32px;
  }

  .analysis_flat .analysis__content {
    height: auto;
    top: -2px;
    padding-top: 2px;
    padding-bottom: 17px;
  } 
 

  .analysis_flat .analysis__img {
    background-position: right top;
    top: 0px;
    width: 100%;
    left: 0;
  }
  .analysis_flat .analysis__img img {
    display: none;
  }

  .grid_gray .analysis_flat .analysis__content {
    background: #f2f2f2;
  }
  @media(max-width:567px){
    .analysis_flat {
    }
    .analysis_flat .announcement__autor {
      margin-bottom: 0px;
    }
    .analysis_flat .analysis__img {
      background-position: center top; 
    }
    .analysis_flat .analysis__content {
      width: 100%;
    }
    .analysis_flat .analysis__img {
      background: none !important;
      height: auto;
    }
    .analysis_flat .analysis__img img {
      display: block;
      width: 100%;
    }
    .analysis_flat .announcement__title {
      font-size: 20px;
      margin-bottom: 15px;
    }
  } 
  /* modificator: analysis_flat  end */





  /* modificator: analysis_text start */

  .analysis_text {
    height: auto;
    min-height: inherit;
  }
  .analysis_text .analysis__announcement{
    float: none;
    max-width: 100%;
  }
  .analysis_text .analysis__content {
    position: relative;
    width: 100%;
    height: auto;
  }
  .analysis_text .announcement__description img{
    border-radius: 2px;
    float: right;
    margin: 10px 0 10px 20px;
  }
  .analysis_text .announcement__time {
    margin-bottom: 10px;
  }
  .analysis_text .announcement__title {
    margin-bottom: 19px;
  }
  .analysis_text .announcement__autor {
    opacity: 0.3;
    margin-bottom: 21px;
  }
  .analysis_text .analysis__description {
    float: none;
    width: 100%;
    max-width: inherit;
  } 
  .analysis_text .announcement__description {
    max-width: inherit;
    position: relative;
  } 
  .analysis_text .announcement__description p:first-of-type:first-letter {
    font-size: 36px;
  }

  @media(max-width:900px){
    .analysis_text .announcement__description img{
      /* width: 80px; */
    }
  } 

  @media(max-width:767px){
    .analysis_text .announcement__title {
      font-size: 32px; 
    } 
    .analysis_text .analysis__description {
      display: block;
    }  
    .analysis_text .analysis__content {
      padding: 0;
    }
  } 

  /* modificator: analysis_text; end */
  

  /* modificator: analysis_squeeze start */
  .analysis_squeeze {
    padding-top: 0;
    border-radius: none;
  }
  .analysis_squeeze .analysis__img img{
    border-radius: 3px;
  }
  .analysis_squeeze.analysis_flat .analysis__content {
    top: 0px;
  }
  /* modificator: analysis_squeeze end */
 

  /* modificator: analysis_zero start */
  .analysis_zero {
    padding: 0;
    border-radius: 3px;
    margin-top: 0px;
    min-height: 416px;
    overflow: hidden;
  }
  .analysis_zero .analysis__img img{
    border-radius: 3px;
  }
  .analysis_zero.analysis_flat .analysis__content {
    top: 0px;
  }
  .analysis_zero.analysis_flat .announcement__title {
    font-size: 32px;
  }
  /* modificator: analysis_ end */


 /* modificator: analysis_detector  start */
  
  .analysis_detector {
    padding-top: 0;
    padding-bottom: 35px;
    margin-top: 0;
    min-height: 416px;
    overflow: hidden;
  }

  .analysis_detector .analysis__background {
    max-width: 450px;
    width: 52%;
  }

  .analysis_detector .analysis__table {
    width: 100%;
    float: none;
  }

  .analysis_detector .analysis__content {
    top: 0;
    max-width: 450px;
    width: 55%;
    padding-right: 10px;
    background: #fff;
    position: relative;
  }

  .analysis_detector .analysis__tr {
    vertical-align: top;
    position: relative;
    top: -2px;
  }

  .analysis_detector .analysis__description {
    float: none;
    max-width: 260px;
    line-height: 1.7em;
    margin-bottom: 44px;
  }

  .analysis_detector .announcement__time {
    margin-bottom: 19px;
  }

  .analysis_detector .announcement__title {
    margin-bottom: 27px;
    font-size: 32px;
  }

  .analysis_detector .analysis__content {
    height: auto;
    padding-top: 31px;
    padding-bottom: 17px;
    max-height: 100%;
    min-width: 348px;
  } 
  .analysis_detector .analysis__data {
    margin-bottom: 32px;
  }
  .analysis_detector .analysis__data .tag{
    margin-right: 24px;
  }
  .analysis_detector .analysis__announcement .announcement__time {
    /* font-size: 11px; */
    margin-bottom: 0px;
    /* position: absolute; */
    top: -20px;
  }
  .analysis_detector .analysis__announcement .announcement__time span:last-of-type {
    /* opacity: 1; */
  }
 

  .analysis_detector .analysis__img {
    background-position: right top;
    top: 0px;
    width: 100%;
    left: 0;
  }
  .analysis_detector .analysis__img img {
    display: none;
  }

  .grid_gray .analysis_detector .analysis__content {
    background: #f2f2f2;
  }

  @media(max-width:567px){
    .analysis_detector {
    padding-bottom: 0;
    }
    .analysis_detector .announcement__autor {
      margin-bottom: 0px;
    }
    .analysis_detector .analysis__img {
      background-position: center top; 
    }
    .analysis_detector .analysis__content {
      width: 100%;
      padding-right: 0;
    }
    .analysis_detector .analysis__img {
      background: none !important;
      height: auto;
      margin-top: 0;
    }
    .analysis_detector .analysis__img img {
      display: block;
      width: 100%;
    }
    .analysis_detector .analysis__content {
      min-width: 100%;
    }
  }

  /* modificator: analysis_detector  end */

 /* modificator: analysis_transparent  start */
  
  .analysis_transparent {
    padding-top: 0;
    padding-bottom: 35px;
    margin-top: 0;
    min-height: 416px;
    overflow: hidden;
    border-radius: 3px;
    overflow: hidden;
  }

  .analysis_transparent .analysis__background {
    max-width: 450px;
    width: 52%;
  }

  .analysis_transparent .analysis__table {
    width: 100%;
    float: none;
  }

  .analysis_transparent .analysis__content {
    top: 19px;
    max-width: 450px;
    width: 55%;
    padding-right: 10px;
    position: relative;
  }

  .analysis_transparent .analysis__tr {
    vertical-align: top;
    position: relative;
    top: -2px;
  }

  .analysis_transparent .analysis__description {
    float: none;
    max-width: 330px;
    line-height: 1.2em;
    margin-bottom: 28px;
    font-style: inherit;
    color: #fff;
  }

  .analysis_transparent .announcement__time {
    margin-bottom: 19px;
  }

  .analysis_transparent .announcement__title {
    margin-bottom: 22px;
    font-size: 32px;
    color: #fff;
  }

  .analysis_transparent .analysis__content {
    height: auto;
    padding-top: 31px;
    padding-bottom: 17px;
    top: 0;
    max-height: 100%;
    width: 100%;
    padding-left: 33px;
  } 
  .analysis_transparent .analysis__data {
    margin-bottom: 22px;
  }
  .analysis_transparent .analysis__data .tag{
    margin-right: 24px;
  }
  .analysis_transparent .announcement__autorname {
    color: #fff;
  } 
  .analysis_transparent .analysis__img {
    background-position: left top;
    top: 0px;
    width: 100%;
    left: 0px;
    background-size: inherit;
  }
  .analysis_transparent .announcement__description:first-letter {
    font-size: 14px;
  }
  .analysis_transparent .analysis__description .announcement__description  {
    font-size: 14px;
  } 
  .analysis_transparent .analysis__announcement .announcement__time span:last-of-type {
    opacity: 1;
    color: #fff;
  }
  .analysis_transparent .analysis_transparent .analysis__data {
    color: #fff;
  }
  .analysis_transparent .analysis__img img {
    display: none;
  }

  .grid_gray .analysis_transparent .analysis__content {
    background: #f2f2f2;
  } 
  @media(max-width:991px){
    .analysis_transparent .analysis__content {
      float: right;
      background: #fff;
    }
    .analysis_transparent .announcement__title {
      color: #222;
    }
    .analysis_transparent .analysis__description .announcement__description {
      color: #222;
    }
    .analysis_transparent .analysis__announcement .announcement__time span:last-of-type {
      color: #222;
      opacity: 0.5;
    }
    .analysis_transparent .announcement__autorname {
      color: #222;
    }
  } 
  @media(max-width:567px){
    .analysis_transparent {
    padding-bottom: 0;
    }
    .analysis_transparent .announcement__autor {
      margin-bottom: 0px;
    }
    .analysis_transparent .analysis__img {
      background-position: center top; 
    }
    .analysis_transparent .analysis__content {
      width: 100%;
      float: left;
      padding-left: 0;
    }
    .analysis_transparent .analysis__img {
      background: none !important;
      height: auto;
    }
    .analysis_transparent .analysis__img img {
      display: block;
      width: 100%;
    }
  }
  /* modificator: analysis_transparent  end */


 /* modificator: analysis_roubric  start */
  
  .analysis_roubric {
    padding-top: 0;
    padding-bottom: 35px;
    margin-top: 0;
    min-height: 416px;
    overflow: hidden;
  }

  .analysis_roubric .analysis__background {
    max-width: 450px;
    width: 52%;
  }

  .analysis_roubric .analysis__table {
    width: 100%;
    float: none;
  }

  .analysis_roubric .analysis__content {
    top: 0;
    max-width: 450px;
    width: 55%;
    padding-right: 10px;
    background: #fff;
    position: relative;
  }

  .analysis_roubric .analysis__tr {
    vertical-align: top;
    position: relative;
    top: -2px;
  }

  .analysis_roubric .analysis__description {
    float: none;
    max-width: 260px;
    line-height: 1.7em;
    margin-bottom: 44px;
  }

  .analysis_roubric .announcement__time {
    margin-bottom: 19px;
  }

  .analysis_roubric .announcement__title {
    margin-bottom: 31px;
    font-size: 48px;
  }

  .analysis_roubric .analysis__content {
    height: auto;
    padding-top: 0px;
    padding-bottom: 27px;
    max-height: 100%;
    min-width: 348px;
  } 
  .analysis_roubric .analysis__data {
    margin-bottom: 32px;
  }
  .analysis_roubric .analysis__data .tag{
    margin-right: 24px;
  }
  .analysis_roubric .analysis__announcement .announcement__time {
    margin-bottom: 19px;
    top: -20px;
  } 
  
  .analysis_roubric .analysis__img {
    background-position: right top;
    top: 0px;
    width: 100%;
    left: 0;
  }
  .analysis_roubric .analysis__img img {
    display: none;
  }

  .grid_gray .analysis_roubric .analysis__content {
    background: #f2f2f2;
  }



 @media(max-width: 1070px){
  .analysis_roubric .analysis__announcement .announcement__title {
    font-size: 34px;
    color: #222;
    letter-spacing: 0px;
  }
  .analysis_roubric .analysis__content {
    padding-right: 20px;
  }
 } 
   @media(max-width:767px){
    .analysis_roubric {
    padding-bottom: 0;
    }
    .analysis_roubric .announcement__autor {
      margin-bottom: 0px;
    }
    .analysis_roubric .analysis__img {
      background-position: center top; 
    }
    .analysis_roubric .analysis__content {
      width: 100%;
      padding-right: 0;
    }
    .analysis_roubric .analysis__img {
      background: none !important;
      height: auto;
      margin-top: 0;
      position: relative;
    }
    .analysis_roubric .analysis__img img {
      display: block;
      width: 100%;
    }
  }

  /* modificator: analysis_roubric  end */
  

  /* modificator: analysis_full  start */
  .analysis_full .analysis__announcement .announcement__title{
      text-shadow: 0px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff, 1px 0px 0px #fff, -1px 0px 0px #fff;
  }
  .analysis_full .analysis__announcement .announcement__autor {
    text-shadow: 0px 0px 2px #fff, 0px 1px 1px #fff, 0px -1px 1px #fff, 1px 0px 1px #fff, -1px 0px 1px #fff;
  }
  /* modificator: analysis_full  end */

/* analysis end */
