/* autor start */

.autor {
  background: #f8f8f8;
  padding-top: 41px;
  padding-bottom: 1px;
}

.autor__info {
  margin-bottom: 27px;
}

.autor__photo {
  border-radius: 50%;
  overflow: hidden;
  width: 144px;
  height: 144px;
  float: left;
  margin-right: 48px;
}

.autor__photo img {
  display: block;
  width: 100%;
}

.autor__name {
  font-weight: bold;
  font-size: 40px;
  font-family: 'PT Serif', sans-serif;
  line-height: 1.2em;
  margin: 7px 0 12px 0;
}

.autor__written {
  font-size: 9px;
  color: rgba(34, 34, 34, 0.5);
}

.autor__written b {
  color: #000;
  display: inline-block;
  margin-right: 5px;
}

.autor__footer {
  margin-bottom: 31px;
}

.autor__related {
  float: left;
}

.autor__info .autor__all {
  display: none;
  margin-top: 16px;
}

.autor__all {
  float: right;
  margin-right: 0;
  margin-top: 26px;
}
.autor__all a{
  margin-right: 0px;
}


@media(max-width:767px){
  .autor__info .autor__all {
    display: inline-block;
    float: none;
  }
  .autor__photo {
    float: none;
    margin: 0 auto 18px auto;
    width: 80px;
    height: 80px;
  }
  .autor__footer .autor__all {
    float: none; 
    margin-top: 0px;
    display: none;
  }
  .autor__related {
    float: none;
  }
  .autor__info {
    text-align: center;
    margin-top: -9px;
    margin-bottom: 24px;
  }
  .autor__name {
    font-size: 24px;
    line-height: 1.1em;
    margin: 7px 0 14px 0;
  }
  .autor__footer {
    margin-bottom: 15px;
  }
} 

/* autor end */
