/* autors start */

.autors {
    margin-bottom: 4px;
}

.autors__list {
    padding-top: 11px;
}

.autors__item { 
    margin-bottom: 40px;
    min-height: 64px;
}

.autors__img {
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 30px;
}

.autors__img img {
    width: 100%;
}

.autors__description {
    margin-top: 4px;
}

.autors__name {
    font-size: 12px;
    font-weight: bold;
}

.autors__articles {
    color: rgba(34, 34, 34, 0.5);
    font-size: 10px;
}

@media(max-width:767px){
  .autors__item {
    margin-bottom: 23px;
  }
} 


/* autors end */