/* band start */

.band {
  padding: 1px 21px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  max-height: 872px;
  height: 100%;
}

.band__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 17px 0 3px 0;
} 

.band__item {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0 11px 0;
  position: relative;
}

.band .time__ego {
  opacity: 0.3;
}

.band__item:last-of-type {
  border-bottom: none;
}
 
.band__name {
  margin-bottom: 10px;
  display: block;
  line-height: 1.2em;
} 

  /* modificator: band start */ 

  .band_img .band__title {
    margin-bottom: -8px;
  }

  .band_img .band__img {
    display: inline-block;
    float: right;
    border-radius: 3px;
    position: absolute;
    right: 0px;
    overflow: hidden;
    top: 17px;
  }

  .band_img .band__content {
    float: left;
    margin-right: 94px;
    min-height: 64px;
  }

  .band_img .band__item {
    padding: 19px 0 11px 0;
  }

  @media(max-width: 1200px){ 
    .band_media .band__item{ 
    }
    .band_media .band__item:nth-child(3n+3) {
      margin-right: 0;
    }
  }  
 
  @media(max-width: 600px){ 
    .band_media .band__item{ 
    }
    .band_media .band__item:nth-child(3n+3) {
      margin-right: 3%;
    }
    .band_media .band__item:nth-child(2n+2) {
      margin-right: 0;
    }
  }  
  @media(max-width: 500px){ 
    .band_media .band__item{
      display: block;
      vertical-align: bottom;
      width: 100%;
      margin-right: 0;
      margin-bottom: 0px;
    } 
  }  
 
 

    /* modificator: band_gray start */

      .band_gray {
        background: #f8f8f8;
      }

      .band_gray:after {
        content: '';
        display: block;
        width: 100%;
        height: 36px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(248,248,248,0.83) 68%, rgba(248,248,248,1) 82%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(248,248,248,0.83) 68%,rgba(248,248,248,1) 82%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(248,248,248,0.83) 68%,rgba(248,248,248,1) 82%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f8f8f8',GradientType=0 );
        position: absolute;
      }

      .band_light {
        background: #F8F8F8;
      }

      .band_light:after {
        content: '';
        display: block;
        width: 100%;
        height: 36px;
        bottom: 0px;
        left: 0px;
        right: 0px;
 


        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(248,248,248,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(248,248,248,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(248,248,248,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f8f8f8',GradientType=0 );

        position: absolute;
        opacity: 1.9;
        z-index: 2;
      }


    /* modificator: band_gray end */


    /* modificator: band_paddingnone  start */

      .band_paddingnone {
        padding: 1px 0;
      } 

    /* modificator: band_paddingnone  end */


    /* modificator: band_border  start */

      .band_border {
        border: 1px solid #f2f2f2;
      } 

    /* modificator: band_border  end */

 



    /* modificator: band_horizontal start */

      .band_horizontal {
        border-top: 1px solid #e8e8e8;
        padding: 8px 0 0 0;
      }

      .band_horizontal .band__item {
        width: 26%;
        float: left;
        padding-right: 2%;
      }

      .band_horizontal .band__item {
        border-bottom: none;
      }

      .band_horizontal .band__item:last-of-type {
        margin-right: 0px;
        width: 22%;
      }

      @media(max-width:1000px) {
        .band_horizontal .band__item,
        .band_horizontal .band__item:last-of-type {
          width: 50%;
          padding-right: 5%;
        }
      }

      @media(max-width:500px) {
        .band_horizontal .band__item,
        .band_horizontal .band__item:last-of-type {
          width: 100%;
          padding-right: 5%;
        }
      }


    /* modificator: band_horizontal end */


    /* modificator: band_transparent start */

      .band_transparent { 
        padding: 8px 0 0 0;
        color: #fff;
      }

      .band_transparent .band__item {
        border:none;
      }
      .band_transparent .band__name {
        color: #fff;
      }
      .band_transparent .time__ego {
        opacity: 0.5;
      }
      .band_transparent .band__time {
        margin-bottom: 6px;
      }

    /* modificator: band_horizontal end */


    /* modificator: band_no_gradient start */
    .band_no_gradient:after {
      display: none;
    }
    /* modificator: band_no_gradient end */

      
  /* modificator: band end */


  /*exceptions start*/
  @media(max-width:399px){
    .col-xs-12 .band_set_height-js {
      max-height: none !important;
    }
  } 
  @media(max-width:599px){
    .col-xxsm-12 .band_set_height-js {
      max-height: none !important;
    }
  } 
  @media(max-width:767px){
    .col-xsm-12 .band_set_height-js {
      max-height: none !important;
    }
  } 
  @media(max-width:991px){
    .col-sm-12 .band_set_height-js {
      max-height: none !important;
    }
  } 
  /*exceptions end*/

/* band end */
