/* burger start */

.burger {
  display: block;
  float: left;
}

.burger__lines span {
  height: 2px;
  display: block;
  background: #927B60;
  width: 100%;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.burger__lines {
  float: left;
  width: 0px;
  -webkit-transition: width 0.3s ease; 
  transition: width 0.3s ease;
}

.burger:hover .burger__lines span,
.burger:focus .burger__lines span {
  /*background: #fd1313;*/
}

.burger__1 {
  margin-bottom: 2px;
}

.burger__2 {
  margin-bottom: 2px;
}

.burger__text {
  color: #fff;
  font-size: 13px;
  margin-left: 20px;
}

@media(max-width:767px) {
  .burger__text {
    display: none;
  }
  .burger__lines {
    width: 16px;
  }
}

/* burger end */