/* cards start */

.card {
  overflow: hidden;
  border-radius: 3px;
  background: #fff;
  -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  display: block;
}

.card__photo { 
}

.card__photo img {
  width: 100%;
}

.card__content {
   
}

.card__title { 
  font-size: 20px;
}

.card__tags {}

.card__tags .tag {}

.card__time {}

 
.card:hover .card__tags .tag_white, 
.card:focus .card__tags .tag_white {
   background: rgba(255, 255, 255, 0.5);
}
 


  /* modificator: cards_standart start */
    
    .card_standart:hover, 
    .card_standart:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      background-color: #F2F2F2;
      border-color: #F2F2F2;
    } 
    .card_standart .card__photo {
      margin-bottom: 22px;
    }
    
    .card_standart {
      padding-bottom: 16px;
    }

    .card_standart .card__title {
      font-size: 20px;
    }
    
    .card_standart .card__tags {
      margin-bottom: 14px;
    }
    
    .card_standart .card__titlebox {
      min-height: 86px;
    }
    .card_standart .card__titlebox:first-of-type {
      /* min-height: 128px; */
    }
    .card_standart .card__content {
      margin: 0 15px;
    }

    .card_standart .card__time + .card__tags {
      margin-top: 19px;
      margin-bottom: 0px;
    }
 
    @media(max-width:767px){
      .card_standart .card__photo {
        margin-bottom: 15px;
      } 
      .card_standart .card__content {
        margin: 0 15px;
      }
    } 

  /* modificator: cards_standart end */

  /* modificator: card_medium start */
    .card_medium:hover, 
    .card_medium:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      background-color: #F2F2F2;
      border-color: #F2F2F2;
    } 
    .card_medium .card__photo {
      margin-bottom: 22px;
    }
    
    .card_medium {
      padding-bottom: 16px;
      background: #fff;
      -webkit-transition: background 0.3s ease; 
      transition: background 0.3s ease;
    }
    
     
    .card_medium:hover, 
    .card_medium:focus {
      background: #F2F2F2;
    }

    .card_medium .card__title {
      font-size: 20px;
      line-height: 1.2em;
    }
    
    .card_medium .card__tags {
      margin-top: 18px;
    }
    
    .card_medium .card__titlebox {
      min-height: 86px;
    }
    .card_medium .card__content {
      margin: 0px 15px;
    }
 
    @media(max-width:767px){
      .card_medium .card__photo {
        margin-bottom: 15px;
      } 
      .card_medium .card__tags {
        margin-top: 9px;
      }
      .card_medium {
        padding-bottom: 22px;
      }      
    } 
  
  /* modificator: card_medium end */


  /* modificator: card_full start */
    .card_full .card__photo {
      position: relative;
    }

    .card_full {
      overflow: hidden;
      border-radius: 4px;
      display: block;
    }

    .card_full .card__title {
      font-size: 20px;
      line-height: 1.2em;
      color: #fff;
    }

    .card_full .card__time + .card__tags {
      margin-top: 18px;
    }

    .card_full .card__titlebox {
      margin-bottom: 40px;
      max-width: 400px;
      max-height: 76px;
      overflow: hidden;
    }

    .card_full .card__tags + .card__titlebox {
      margin-bottom: 17px;
      max-width: 400px;
      margin-top: 13px;
    }

    .card_full .card__content {
      margin: 0px 23px;
      position: absolute;
      bottom: 15px;
      color: #fff;
      z-index: 3;
    }

    .card_full .time__ego {
      opacity: 1;
    }
    
    .card_full .time {
      opacity: 0.5;
      color: #fff;
    }

    .card_full .card__photo:after {
      content:'';
      display:block;
      width:100%;
      height:100%;
      background:#000;
      top: 0px;
      left:0px;
      position: absolute;
      opacity: 0.2;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      bottom: 0px;
    } 

    .card_full:hover .card__photo:after, 
    .card_full:focus .card__photo:after {
      opacity: 0.3;
    }

    .card_full:hover .card__title, 
    .card_full:focus .card__title {
      opacity: 1;
    }

    @media(max-width:767px) { 
      .card_full .card__tags {
        margin-top: 9px;
      } 
      .card_full .card__title {
        font-size: 16px;
      }
      .card_full .card__titlebox {
        margin-bottom: 16px;
      }
      .card_full .card__content {
        margin: 0px 15px;
      }

    }
    @media(max-width:340px){ 
      .card_full .card__photo {
        padding-top: 30px;
      }
      .card_full .card__photo {
        padding-top: 30px;
      }
    } 
    .card_full.card_full_biggest {
      /* min-height: 344px; */
    }

  
  /* modificator: card_full end */
 

  /* modificator: card_small start */

    .card_small .card__photo {
      border-radius: 3px;
      overflow: hidden;
    }
    
    .card_small {
    } 
     
    .card_small:hover, 
    .card_small:focus {
    }

    .card_small .card__title {
    font-size: 14px;
    line-height: 1.2em;
    }
    
    .card_small .card__tags {
    }
    
    .card_small .card__titlebox {
    margin-top: 6px;
    }
    .card_small .card__content {
    margin-top: 12px;
    }
 
 
  
  /* modificator: card_small end */

  /* modificator: card_small start */

    .card_small.card_miracle {
      padding: 11px 0 19px 0;
      position: relative;
    }
    
    .card_small.card_miracle .card__thumbnail {
      display: none;
    }
    
    @media(max-width:767px) {
      .card_small.card_miracle {
        border-bottom: 1px solid #e8e8e8;
        min-height: 92px;
      }
      .card_small.card_miracle .card__thumbnail {
        display: block;
        display: inline-block;
        float: right;
        border-radius: 3px;
        position: absolute;
        right: 0px;
        overflow: hidden;
        top: 50%;
        margin-top: -32px;
      }
      .card_small.card_miracle .card__photo {
        display: none;
      }
      .card_small.card_miracle .card__content {
        margin: 0 75px 0 0;
        position: relative;
        padding-bottom: 20px;
      }
      .card_small.card_miracle .card__time {
        position: absolute;
        bottom: 0;
        left: 0px;
      }
      .card_small.card_miracle .card__titlebox {
        margin-bottom: 6px;
      }
      .card_small.card_miracle .card__title {}
    }

  /* modificator: card_small end */

 

  /* modificator: card_border start */ 
    .card_border {
      border:1px solid #F2F2F2;
    }
  /* modificator: card_border end */


  /* modificator: card_gray start */
    .card_allocated {
      background: #F2F2F2;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    }
  /* modificator: card_gray end */

/* cards end */


/*test style*/
.card_full .card__photo img {
  opacity: 0;
  width: 86%;
}
.card_full {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card_full .card__photo {
  min-height: 347px;
} 

@media(max-width:399px){
  .col-xs-12 > .grid__item .card_medium .card__titlebox {
    min-height: inherit;
    padding-bottom: 10px;
  }
} 
@media(max-width:599px){
  .col-xxsm-12 > .grid__item .card_medium .card__titlebox {
    min-height: inherit;
    padding-bottom: 10px;
  }
} 
@media(max-width:767px){
  .col-xsm-12 > .grid__item .card_medium .card__titlebox {
    min-height: inherit;
    padding-bottom: 10px;
  }
} 
@media(max-width:991px){
  .col-sm-12 > .grid__item .card_medium .card__titlebox {
    min-height: inherit;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px){ 
  .col-sm-4 > .grid__item .card_full.card_full_biggest .card__content {
    bottom: auto;
    margin-top: 21px; 
  }
  .col-sm-4 > .grid__item .card_full.card_full_biggest   .card__titlebox {
    min-height: 113px;
    margin-bottom: 16px;
  }
  .col-sm-4 > .grid__item .card_full.card_full_biggest  .card__title {
    line-height: 1.1em;
  } 
}  

@media(min-width: 600px) and (max-width:767px){ 
  .col-xsm-4 > .grid__item .card_full.card_full_biggest .card__content {
    bottom: auto;
    margin-top: 16px;
  }
  .col-xsm-4 > .grid__item .card_full.card_full_biggest   .card__titlebox {
    min-height: 113px;
    margin-bottom: 13px;
  }
  .col-xsm-4 > .grid__item .card_full.card_full_biggest  .card__title {
    line-height: 1.1em;
    font-size: 20px;
  } 
}  

/*test style*/



 