/* clipping start */

.clipping__photo {
  margin-bottom: 23px;
  position: relative;
}

.clipping__photo img {
  max-width: 91%;
  position: relative;
  z-index: 2;
}

.clipping__tags {
  position: absolute;
  bottom: 24px;
  left: 47px;
  z-index: 3;
}

.clipping__time {
  margin-bottom: 6px;
}

.clipping__title {
  font-size: 32px;
  font-weight: bold;
}

.clipping__background {
  padding-top: 16px;
  z-index: 1;
  position: absolute;
  right: 32px;
  bottom: 0px;
  left: 0px;
  top: 0px;
}


  /* modificator: clipping_mosaic start */
    .clipping_mosaic {

    }
    .clipping_mosaic .clipping__photo {
      padding-top: 10px;
    }
    .clipping_mosaic .clipping__photo img {
      float: right;
    }
  /* modificator: clipping_mosaic end */


  /* modificator: clipping_card start */

  .clipping_card {
    overflow: hidden;
    display: block;
  }

  
  .clipping_card .clipping__content {
    color: #fff;
    position: absolute;
    bottom: 13px;
    left: 23px;
    padding-right: 20px;
    z-index: 5;
  }
  
  .clipping_card .time__ego {
    opacity: 1;
  }
  
  .clipping_card .time {
    opacity: 0.5;
    color: #fff;
  }
  
  .clipping_card .clipping__title {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 8px;
    display: inline-block;
    line-height: 1.2em;
  }
  .clipping_card .clipping__photo {
    margin-bottom: 0;
  }
  .clipping_card .clipping__photo img {
    border-radius: 0 0 4px 4px;
    width: 100%;
    -webkit-transition: opacity 0.3s ease; 
    transition: opacity 0.3s ease;  
  }
  .clipping_card .clipping__photo img {
    max-width: 100%;
  }
 
  .clipping_card:hover img, 
  .clipping_card:focus img{
    opacity: 0.8;
  } 
  .clipping_card .clipping__title:hover, 
  .clipping_card .clipping__title:focus {
    opacity: 1;
  }

  @media(max-width:400px){
    .clipping_card .clipping__title {
      font-size: 16px;
    } 
    .clipping_card .clipping__content {
      left: 17px;
      padding-right: 23px;
    }
  }

  /* modificator: clipping_card end */

/* clipping end */