/* cedition start */

.cedition__desctop {
    display: block;
}

.cedition__mobile {
    display: none;
}

@media(max-width:767px) {
    .cedition__desctop {
        display: none;
    }
    .cedition__mobile {
        display: block;
    }
}

@media(max-width:767px) {
    .cedition__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0em;
    }
}

/* cedition end */