/* comments start */

.comments_substrate {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}

.comments {
    position: fixed;
    top: 0px;
    z-index: 100;
    background: #fff;
    width: 768px;
    bottom: 0px;
    box-shadow: 0 0 5px #ccc;
    overflow: hidden;
    right: -780px;
    -webkit-transition: right 0.5s ease;
    transition: right 0.5s ease;
}

.comments.show {
    right: 0;
}

.comments.show+.comments_substrate {
    display: block;
}

.comments__header {
    padding: 39px 55px 13px 55px;
    background: #fff;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 3;
}

.comments__close {
    width: 16px;
    height: 16px;
    background: url('../images/comments-close.png') center no-repeat;
    display: inline-block;
    float: right;
}

.comments__logo {
    background: url('../images/comments-logo.png') center no-repeat;
    width: 24px;
    height: 21px;
    float: left;
    margin-right: 24px;
}

.comments__form {
    margin-top: 29px;
}

.comments__username {
    max-width: 328px;
}

button.comments__submit {
    float: right;
}

.comments__box {
    padding: 0px 71px 0 55px;
    position: absolute;
    top: 220px;
    bottom: 0px;
    overflow: auto;
    right: -26px;
    left: 0px;
}

.comments__content {}

.comments__list {
    max-width: 658px;
}

.comments_substrate {}

.comments__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2em;
    position: relative;
    top: -5px;
    float: left;
}
.comments__textarea {
  -webkit-transition: height 0.3s ease; 
  transition: height 0.3s ease;
}

@media(max-width:767px) {
    .comments {
        width: 100%;
    }
    .comments__header {
        padding: 15px 15px 13px;
    }
    .comments__box {
        padding: 0px 24px 0 15px;
        top: 214px;
    }
    .comments__form {
        margin-top: 20px;
    }
    .comments__title {
        font-size: 16px;
        top: 0px;
    }
    .comments.show {}
}

@media(max-width:630px) {
    .comments__username {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .comments__form .input {
        padding: 10px 10px;
    }
    .comments__form textarea.input {}
}
/* comments end */

/* comment start */

.comment {
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  padding-bottom: 17px;
  margin-bottom: 19px; 
}
.comment:last-of-type {
  border-bottom: 0px; 
}

.comment__header {}

.comment__username {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-right: 22px;
}

.comment__data {
    font-size: 11px;
    color: #808080;
    display: inline-block;
    position: relative;
}

.comment__data:after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #808080;
    position: absolute;
    left: -14px;
    top: 7px;
    border-radius: 50%;
}

.comment__content {
    margin-top: 11px;
    line-height: 1.7em;
}

@media(max-width:767px){

} 
/* comment end */