/* dataselect start */
.dataselect__back {
  display: none;
}
.dataselect {
  width: 256px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  position: absolute;
  top: 47px;
  left: 370px;
  display: none;
}
.dataselect.show {
  display: block;
}
.dataselect.show + .dataselect__back {
  display: block;
  position: fixed;
  z-index: 998;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}
.dataselect__header {
  text-align: center;
  color: #fff;
  background: #927B60;
  line-height: 1.2em;
  padding-bottom: 21px;
}
.dataselect__day {
  background: #816B4F;
  font-size: 11px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
}
.dataselect__month {
  font-size: 16px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-top: 15px;
}
.dataselect__number {
  font-size: 72px;
  line-height: 1em;
  margin: 0px 0 8px 0;
  font-weight: bold;
}
.dataselect__year {
  font-size: 16px;
  vertical-align: middle;
  opacity: 0.7;
}
.dataselect__datapicker {

}


@media(max-width:767px){
  .dataselect {
    top: 92px;
  }
} 
@media (max-width:767px) and (orientation:portrait) {

}

@media (max-width:767px) and (orientation:landscape) {
  .dataselect {
    position: fixed;
    top: 0px !important;
    left: auto!important;
    height: 100%;
    right: 0;
  }

  .dataselect__header {
    text-align: center;
    color: #fff;
    background: #927B60;
    line-height: 1.2em;
    padding: 0 0 5px 0;
  }
  .dataselect__day {
    background: #816B4F;
    font-size: 9px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px 0;
    margin-bottom: 5px;
  }
  .dataselect__month {
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
  }
  .dataselect__number {
    font-size: 22px;
    line-height: 1;
    margin: 0;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }
  .dataselect__year {
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    opacity: 1;
  }

}
/* dataselect end */
