/* figure start */

.figure {

}
.figure img{
  max-width: 100%;
  width: 100%;
}
.figure__description {
  padding: 7px 0;
  line-height: 1em;
  background: #fff;
}
.figure__description .sign__resource{
   font-family: 'Roboto', sans-serif;
   margin-top: -2px;
}
/* figure end */