/* first start */

.header + .first {
  padding-top: 56px;
  margin-top: -56px;
  background-position: center top;
  background-size: cover;
  background-color: #222;
  position: relative;
}

 .announcement__autorname {
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
}

.first .announcement__autor {
  margin-top: 75px;
  color: #fff;
}

.first__content {
  vertical-align: middle;
  position: relative;
  z-index: 4;
}

.first__shock {
  width: 60%;
  display: table;
  float: left;
  height: 100%;
  position: relative;
  max-width: 490px;
}

.first__shockmiddle {
  padding-top: 30px;
  padding-bottom: 10px;
}

.first__shocktable {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.first__shockmiddle .announcement__description {
  line-height: 1.7em;
}

.first__additional {
  width: 256px;
  float: right;
  height: 100%;
  position: relative;
  padding-bottom: 100px;
}

.first__additional .clipping__time,
.first__additional .clipping__title {
  color: #fff;
}

.first__additional .clipping__photo {
  margin-top: 40px;
}

.first__additional .clipping .clipping__time:first-of-type {
  margin-top: 60px;
}

.first__time {
  position: absolute;
  top: 20px;
}
.first__time .announcement__time span:last-of-type {
  top: -1px;
}
.first__shockmiddle .announcement__title {
  text-shadow: none;
}
.first__band {
  margin-top: 12px;
}
.first__band {}
.first__all {
  margin-top: 13px;
}
.first__band_duplicate {
  display: none;
}

.first__bandmobile {
  display: none;
  padding-top: 15px;
}


@media(max-width:1280px){
  .first__shocktable .announcement__title {
    font-size: 48px;
    text-shadow: none;
  }
  .first__shock {
      width: 60%;
  }
} 

@media(max-width:1070px) {
  .header + .first {
    margin-top: -100px;
    padding-top: 100px;
  }
}

@media(max-width:767px) {
  .header + .first {
    margin-top: -49px;
    padding-top: 49px;
  }
}


@media(max-width:830px){
  .first__additional {
    display: none;
  }
  .first__band_duplicate {
    display: block;
  }
} 

@media(max-width:767px){
  .first__shocktable {
    vertical-align: bottom;
  }
  .first__shocktable .announcement__autor,
  .first__shocktable .announcement__tags,
  .first__shocktable .announcement__description,
  .first__additional {
    display: none;
  }
  .first__shocktable .announcement__title {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.3em;
    letter-spacing: 1px;
    margin-bottom: 6px;
  }
  .first__shocktable .announcement__date { 
    margin: 0 0 -5px 0;
  }
  .first__shockmiddle {
  padding-bottom: 30px;
  }
  .first__bandmobile {
    display: block;
  }

} 
 
/* modificator first_analistic start */

.header + .first_analistic {
  background-size: inherit;
  background-position: right top;
  background-repeat: no-repeat;
}

.first_analistic .first__shock {
 text-align: center;
 width: 50%;
 max-width: 50%;
}
.first_analistic .first__shockmiddle {
  padding: 20px 18px 45px;
}
.first_analistic .announcement__description {
  max-width: 544px;
  margin: 34px auto 46px auto;
}
.first_backimage {
  position: absolute;
  width: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.first_analistic .announcement__autor {
  margin: 0 0 32px 0px;
}
.first_analistic .announcement__title  {
  font-size: 72px;
  line-height: 1em;
  margin: 0 0 44px 0;
  letter-spacing: 0;
} 

@media(max-width:1024px){
  .first_backimage {
    width: 100%;
  }
  .first_analistic .first__shock {
    width: 100%;
    max-width: 100%;
  }
  .first_analistic .announcement__title {
    font-size: 40px;
  }
} 

@media(max-width:767px){
  .first_backimage {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .first__content {
    position: relative;
    z-index: 3;
  }
  .first_analistic .first__shock {
    width: 100%;
    text-align: left;
  }
  .first_analistic .announcement__autor {
    display: block;
    margin-bottom: 21px;
  }
  .first_analistic .announcement__tags {
    display: block;
    margin-top: 19px;
  }
  .first_analistic .announcement__title {
    font-size: 32px;
    margin: 0 0 16px 0;
  }
  .first_analistic .announcement__tags .tag {
    opacity: 1;
  }
  .first_analistic .first__shock {
    width: 100%;
    max-width: 100%;
  }
} 
/* modificator first_analistic end */


/* first end */


/* anons start */

.announcement {
  color: #fff;
}

.announcement__title {
  color: #fff;
  font-size: 64px;
  font-family: 'PT Serif', sans-serif;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 36px;
  display: inline-block;
  /* text-shadow: 0px 0px 16px #fff, 0px 1px 1px #fff, 0px -1px 1px #fff, 1px 0px 1px #fff, -1px 0px 1px #fff; */
}

.announcement__date {
  font-size: 10px;
  opacity: 0.5;
}

.announcement__description {
  font-size: 24px;
  font-weight: 100;
  max-width: 560px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.announcement__tags {}

.announcement__tags .tag {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #fff;
  font-size: 10px;
  padding: 0;
  margin-right: 20px;
}

.announcement__tags .tag:hover,
.announcement__tags .tag:focus {
  opacity: 1;
}

.announcement__autor {
  
display: block;
}

.announcement__autorface {
  display: inline-block;
  margin-right: 17px;
}

.announcement__autorname {}

.announcement__time {
  color: #fff;
  font-size: 11px;
}

.announcement__time span {
  font-weight: bold;
  display: inline-block;
  margin-right: 14px;
  vertical-align: middle;
}

.announcement__time span:last-of-type {
  font-weight: normal;
  position: relative;
}

.announcement__time i {
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-left: 2px;
  margin-right: 15px;
}
.announcement__descriptionsmall {
  font-style: normal;
  line-height: 1.2em;
  margin-top: 13px;
  position: relative;
}


/* anons end */


/* second start */

.second {
  margin-top: 49px;
}
.second__band {
  margin-top: 8px;
}
.second .grid__item {
  margin-bottom: 16px;
}
.second__time {
  position: absolute;
  top: -28px;
}
.second__time .announcement__time span{
  color: #222;
}

.second__time .announcement__time span:last-of-type {
  top: -1px;
}


/* second end */