/* footer start */
  .footer {
  margin-top: 20px;
}

  .footer__top {
    border-top: 4px solid #222;
    padding-top: 12px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgb(217, 217, 217);
  }

  .footer__subscription {
    float: left;
    position: relative;
    z-index: 3;
    margin-bottom: -1px;
  }

  .footer__social {
    float: right;
    position: relative;
    z-index: 2;
  }

  .footer__social a {
    margin-left: 13px;
  }

  .footer__logo {
    margin-top: 14px;
    width: 81px;
    height: 16px;
    background: url('../images/logo_footer.png') center no-repeat;
    display: inline-block;
    float: none;
  }

  .footer__logocenter {
    text-align: center;
    float: none;
    position: relative;
    top: -5px;
  }

  .footer__subscription .subscription__icon {
    border-color: #808080;
    margin-right: 28px;
  }

  .footer__subscription .subscription__description {
    top: 0px;
  }

  .footer__navigation a,
  .footer__submenu a {
    color: #222;
    font-size: 11px;
    font-weight: bold;
    display: inherit;
  }

  .footer__navigation {
    columns: auto 4;
    width: 79%;
    float: left;
    margin-right: 1%;
  }

  .footer__navigation li {
    margin-right: 0;
    display: inherit;
  }

  .footer__menus {
    margin-top: 28px;
  }

  .footer__menus li {
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-right: 0;
  } 

  .footer__submenu {
    float: left;
    width: 20%;
  }

  .footer__submenu li {
    display: block;
  }
  .footer__copy {
    color: #222222;
    font-size: 12px;
    float: left;
    max-width: 427px;
    opacity: 0.3;
  }
  .footer__develop {
    float: right;
    margin: 4px 18px 0 0;
  }
  .footer__bottom {
    margin-top: 22px;
    padding-bottom: 31px;
  }

  @media(max-width:767px) {
    .footer__top {
      padding: 24px 0 21px 0;
    }
    .footer__subscription,
    .footer__logocenter {
      display: none;
    }
    .footer__menus {
      margin-top: 12px;
    }
    .footer__submenu {
      float: left;
      width: 50%;
    }
    .footer__navigation {
      columns: auto 1;
      width: 50%;
      float: left;
      margin-right: 0;
    }
    .footer__social {
      width: 100%;
      text-align: center;
      float: none;
    }
    .footer__develop {
      float: none;
      margin: 24px 18px 0 0;
      clear: both;
    }
    .footer__copy { 
      float: none; 
    }    
  }
 

/* footer end */

/* social start */

  [class*="socialbutton-"] {
    display: inline-block;
    -webkit-transition: all 0.3s ease; 
    transition: all 0.3s ease;
    border: 1px solid #808080;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
  }

   
  [class*="socialbutton-"]:hover, 
  [class*="socialbutton-"]:focus {
    background-color: #222;
    border-color: #222;
  }

  .socialbutton-facebook {
    background-image:  url('../images/facebook.png');
    margin-left: 0px !important;
  }
  .socialbutton-vk {
    background-image:  url('../images/vk.png');
  }
  .socialbutton-ok {
    background-image:  url('../images/ok.png');
  }
  .socialbutton-inst {
    background-image:  url('../images/inst.png');
  }
   
  .socialbutton-facebook:hover, 
  .socialbutton-facebook:focus {
    background-image:  url('../images/facebook_white.png');
  }

  .socialbutton-vk:hover, 
  .socialbutton-vk:focus {
    background-image:  url('../images/vk_white.png');
  }

  .socialbutton-ok:hover, 
  .socialbutton-ok:focus {
    background-image:  url('../images/ok_white.png');
  }

  .socialbutton-inst:hover, 
  .socialbutton-inst:focus {
    background-image:  url('../images/inst_white.png');
  }

/* social end */

/* develop start */

  .develop {
    font-size: 12px;
    color: #222;
  }
  
  .develop span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .develop__logo {
  margin-right: 10px;
}
  
  .develop__create {
    opacity: 0.3;
    -webkit-transition: opacity 0.3s ease; 
    transition: opacity 0.3s ease;
  }
  
  .develop__name {}
   
  .develop:hover .develop__create, 
  .develop:focus .develop__create {
    opacity: 1;
  }

/* develop end */