input,
textarea {}

textarea {
    min-height: 100px;
    padding-top: 10px;
}


.input {
    height: 40px;
    width: 100%;
    padding: 0 14px;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    outline: none;
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    color: #000;
}

.input:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.48);
}

textarea.input {
    padding: 10px 14px;
    min-height: 40px;
}

.input_ui {
    background: none;
    border: none;
    border-bottom: 1px solid #927B60;
    font-size: 24px;
    padding: 0px 0 0px 0;
    border-radius: 0;
    height: 46px;
}

.input_ui:hover,
.input_ui:focus {
    box-shadow: none;
}

.input_ui_search {
    background: url('../images/search_brown.png') 0px  14px no-repeat;
    padding: 0px 0 4px 33px;
}


/*form groups start*/

.form-group {
    margin-bottom: 13px;
}

.form-group label {
    display: block;
    margin-bottom: 3px;
}

.form_inline .form-group {
    display: inline-block;
}



/*form groups end*/

.btn {
    width: 100%;
    display: block;
    background: none;
    border: none;
    text-align: center;
    padding: 7px 15px;
    color: #222;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    font-size: 11px;
    -webkit-transition: background 0.3s ease, border 0.3s ease;
    transition: background 0.3s ease, border 0.3s ease;
}


.btn:hover,
.btn:focus {
    background: rgba(128, 128, 128, 0.5);
    border: 1px solid rgba(128, 128, 128, 0.0);
}

.btn_inline {
    display: inline-block;
    width: auto;
    /* margin-top: 16px; */
}

.btn_transparent {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.3);
}

.btn_transparent:hover,
.btn_transparent:focus {
    border-color: rgba(255, 255, 255, 0.8);
    background: none;
}

.btn_white {
    border: 1px solid #fff;
    background: #fff;
    color: #222;
}

.btn_brown {
    background: rgba(146, 123, 96, 0.8);
    border: 1px solid #927B60;
    color: #fff;
}

.btn_brown:hover,
.btn_brown:focus {
    background: #927B60;
}

.btn_small {
    font-size: 21px;
    padding: 0px 20px 3px;
}

.btn_big {
    padding: 10px 27px 12px;
    font-size: 12px;
}

.btn_compact {
    padding: 10px 18px 12px;
}

.btn_middle {}


.btn_shadow {
    box-shadow: 0px 0 16px #ff2d16;
}



/* modificator btn_light start */

.btn_light {}



/* modificator btn_light end */

span[class*=icon-] {
    display: inline-block;
}

::-webkit-input-placeholder {
    color: rgba(34, 34, 34, 0.65);
}

::-moz-placeholder {
    color: rgba(34, 34, 34, 0.65);
}



/* Firefox 18- */

::-ms-input-placeholder {
    color: rgba(34, 34, 34, 0.65);
}


.comments__textarea {
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

.comments__textarea.focus {
    height: 160px;
}



/* inputlabel  start */


/********* GOT TO SNIPPET! ***********/

.inputlabel {
    display: block;
}

.inputlabel label {
    position: relative;
    padding-top: 14px;
    display: block;
}

.inputlabel__placeholder {
    display: block;
    font-size: 23px;
    font-weight: normal;
    position: absolute;
    top: 23px;
    -webkit-transition: font-size 0.5s ease, opacity 0.5s ease, top 0.5s ease;
    transition: font-size 0.5s ease, opacity 0.5s ease, top 0.5s ease;
    z-index: 1;
    line-height: 1.2em;
}

.textarea+.inputlabel__placeholder {
    top: 40px;
    left: 10px;
}

.inputlabel label .inputlabel__field:focus+.inputlabel__placeholder,
.select2-container--focus+.inputlabel__placeholder,
.select2-container--below+.inputlabel__placeholder,
.select2-container--above+.inputlabel__placeholder {

    top: -1px;
    font-size: 10px;
    opacity: 0.5;
    left: 0;
}

.inputlabel label .inputlabel__field.not_empty+.inputlabel__placeholder {
    top: -1px;
    font-size: 10px;
    opacity: 0.5;
    left: 0;
}

 

/********* GOT TO SNIPPET! ***********/


/* inputlabel  end */