/* found start */
 
.found__list {
    position: absolute;
    top: 96px;
    bottom: 0px;
    overflow: hidden;
}

.found {
    position: relative;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
    padding-bottom: 18px;
    padding-top: 17px;
    -webkit-transition: border-bottom 0.3s ease;
    transition: border-bottom 0.3s ease;
}

.found:last-of-type {
    border-bottom: 1px solid rgba(34, 34, 34, 0);
}

.found__img {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 3px;
    overflow: hidden;
}

.found__img img {
    width: 100%;
}

.found__content {}

.found__img+.found__content {
    min-height: 64px;
    margin-left: 97px;
    padding-top: 1px;
}

.found__title {
    font-size: 16px;
    font-family: 'PT Serif', sans-serif;
    line-height: 1.2em;
    display: block;
    margin-bottom: 7px;
    -webkit-transition: opacity 0.3s ease; 
    transition: opacity 0.3s ease;
}
 
.found__title:hover, 
.found__title:focus {
    opacity: 0.8;
} 

.found__text {
    color: #222;
    opacity: 0.6;
    margin-bottom: 10px;
}

.found__data {
    font-size: 10px;
    opacity: 0.6;
}

.found__overflow {
    overflow-y: auto;
    height: 100%;
    margin-right: -17px;
    padding-right: 17px;
}

@media(max-width:767px){
    .found__list {
    top: 47px;
    }
    .found__overflow {
        padding-right: 17px;
    }
} 

@media(max-width:400px){
    .found__img {
        position: relative;
        float: left;
        margin: 0 20px 10px 0;
    }
    .found__img+.found__content {
        margin-left: 0px;
    }
} 


/* found end */