/* grid start */

.grid {
  overflow: hidden;
}
.grid__item {
  margin-bottom: 23px;
}
.grid_gray {
  background: #f2f2f2;
} 
.grid__block {
  padding-top: 24px;
  position: relative;
  padding-bottom: 25px;
}
.grid_border {
  top: -4px;
  width: 100%;
  position: absolute;
  padding: 0 0px;
}
.grid_border hr{
  margin: 0 auto;
  max-width: 1117px;
  height: 4px;
  border:0px;
} 

.grid__item .analysis
}

.grid_gray .analysis_flat .analysis__content {
  background: #f2f2f2;
}

.grid__analysis {
  margin-top: 24px;
}
.grid_paddingnone {
  padding-bottom: 4px;
}

.grid_paddingtop {
  padding-top: 43px;
}
.row .row {
  margin-left: -16px;
  margin-right: -16px;
} 
/* grid end */
 