/*header start */

.logo {
  display: block;
}

.header {
  min-height: 55px;
  position: fixed;
  top: 0px;
  z-index: 100;
  left: 0px;
  right: 0px;
}

.header__pantry {
  background: #fff;
  border-bottom: 1px solid rgba(210, 210, 210, 0.3);
  position: relative;
  z-index: 4;
  padding-top: 1px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  min-height: 55px;
  overflow: hidden;
}

.header > .center {
  position: relative;
  z-index: 10;
}

.header__logo {
  margin-top: 15px;
  width: 81px;
  height: 16px;
  background: url('../images/logo_standart.png') center no-repeat;
  display: inline-block;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  float: left;
}

.header__navigation {
  margin: 17px 0 0 47px;
  float: left;
}

.header__search {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/search_black.png') center no-repeat;
  float: right;
  margin-top: 18px;
  position: relative; 
}

.header__subscription {
  float: right;
  margin-top: 4px;
  position: relative;
  top: 1px;
  margin-left: 22px;
}
 
.header__tools {
  float: right;
  -webkit-transition: opacity 0.3s ease; 
  transition: opacity 0.3s ease;
}

.header__burger {
  margin-top: 19px;
  float: left; 
  -webkit-transition: margin-right 0.3s ease; 
  transition: margin-right 0.3s ease;
} 
.header__burger .burger {
  margin-right: 0px; 
}
.header__category {
  float: left;
  margin-left: 40px;
}

.header__title {
  float: left;
  margin: 17px 0 0 0;
  font-size: 18px;
  font-weight: bold;
}

.header__choice {
  float: left;
  margin: 13px 0 0 45px;
}
.header__choice a{ 
  border: 1px solid rgba(146, 123, 96, 0);
  font-size: 10px;
  padding: 4px 14px 2px;
  display: inline-block;
  border-radius: 3px;
  color: #927B60;
  -webkit-transition: background 0.3s ease, border-color 0.3s ease; 
  transition: background 0.3s ease, border-color 0.3s ease;
}
.header__choice a.marked {
  border: 1px solid rgba(146, 123, 96, 0.3);
} 
.header__choice a:hover, 
.header__choice a:focus {
 background: rgba(146, 123, 96, 0.7);
 border: 1px solid rgba(146, 123, 96, 0);
 color: #fff;
} 

@media(max-width:1100px){
  .header .mainnavigation li {
    margin-right: 11px;
  }
  .header__navigation {
    margin: 17px 0 0 27px; 
  }
} 

@media(max-width:1046px) {  
  .header__search {
    position: relative;
    left: 0;
    top: 0; 
  }
  .header__navigation {
    display: none;
  }
  .header__logo {
    margin: 15px auto 0 auto;
    display: block;
  }
  .header__tools {
    margin-top: 0px;
    margin-bottom: 0;
  }
  .header__burger {
    display: inline-block;
    margin-right: 29px;
  }
  .header__burger .burger__lines {
    width: 16px;
  }

}

@media(max-width:767px) {
  .header__pantry {
     height: 48px;
  }
  .header__subscription {
     display: none; 
  }
  .header__search {
    margin-top: 0;
  } 
  .header__logo {
    float: none;
  }
  .header__tools {
    margin-top: -16px;
  }
  .header__category {
    float: none;
    border-top: 1px solid #E9E9E9;
    margin: 19px -16px 0px;
    padding: 0 0 0 8px;
    height: 40px;
  }
  .header__title {
    margin: 11px 45px 0 0;
  }
  .header__choice {
    margin: 8px 0 0 0;
  }
}
 
  /* header media requests */
 


  /*modificator header transparent*/ 
  .header_transparent .header__pantry{
    background: rgba(255, 255, 255, 0);
  }
  .header.header_transparent .header__search {
    background: url(../images/search.png) center no-repeat;
  } 
  .header.header_transparent .header__logo {
    background: url(../images/logo_tranparent.png) center no-repeat;
  } 
  .header.header_transparent .header__navigation a {
    color: #fff;
  } 
  .header.header_transparent .header__subscription .subscription__action,
  .header.header_transparent .header__subscription .subscription__number {
    color: #fff;
  }

  .header.header_transparent .burger__lines span {
    background: #fff;
  }
 


/* modificator: header_show_burger start */ 
  .header_show_burger .header__navigation {
    display: none;
  }
  .header_show_burger .header__burger {
    display: inline-block;
    margin-right: 29px;
  }
  .header_show_burger .header__burger .burger__lines{
    width: 16px;
  } 
/* modificator: header_show_burger end */ 


/* modificator: header_scroll start */ 

.header__intertal {
  position: absolute;
  left: 175px;
  right: 8px;
  top: -60px;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  min-height: 53px;
  /* background: #fff; */
}
.header__intertal .header__title {
  font-size: 14px;
  float: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
}

.header__social {
  float: right;
  position: relative;
  top: 9px;
}

.header_scroll .header__intertal {
  display: block;
  top: 0px;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}
.header_scroll .header__tools {
  opacity: 0;
  display: none;
}
.header .center {
  position: relative;
}

@media(max-width:767px){
  .header__intertal {
    left: 32px;
    float: right;
    width: auto;
  }
  .header__intertal .header__title {
    display: none;
  }
  .header_scroll .header__logo {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease; 
    transition: opacity 0.3s ease;
  }
} 
@media(max-width:600px){
  .header__social .social__item { 
    padding: 0px;
    border: none;
  } 
  .header__social .social__number, 
  .header__social .social__conmment { 
    display: none;
  }
   
  .header__social .social__item:hover, 
  .header__social .social__item:focus {
    background: none;
  }

} 
/* modificator: header_scroll end */ 

/* modificator: header_roubrick end */ 
@media(max-width:767px){
.header_roubrick .header__pantry {
  height: 98px;
}
.header__category .header__title{
margin: 11px 45px 0 9px;
}
.wrapper.page_roubrick {
  padding-top: 97px;
}
} 
/* modificator: header_roubrick end */ 



/* header end */

/* bonus start */

.header__search:after {
  content:'';
  display:inline-block;
  width: 0px;
  height: 0px;
  background: #222;
  position: absolute;
  left: 7px;
  top: 7px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 0 4px #222;
} 

 
.header__search:hover:after, 
.header__search:focus:after {
  width: 9px;
  height: 9px;
  left: 2px;
  top: 2px;
  box-shadow: 0 0 3px #222;
}

/* bonus end */