/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-time-black {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.icon-time {
  background-image: url(../images/sprite.png);
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
}
