/* mainnavigation start */

.mainnavigation {}

.mainnavigation li {
  display: inline-block;
  margin-right: 19px;
}

.mainnavigation li:last-of-type {
  margin-right: 0 !important;
}

.mainnavigation a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.mainnavigation a:hover,
.mainnavigation a:focus {
  opacity: 0.8;
}
 
/* mainnavigation end */