/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
font-family: 'Roboto', sans-serif;
font-family: 'PT Serif', sans-serif;
*/
  
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*1. Общие стили*/

html {
  color: #222222;
  font-size: 14px;
  line-height: 1.2em;
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 0;
}


@media(max-width:767px) {
  body {
    /* padding-top: 162px; */
  }
}

.wrapper {
  padding-top: 55px;
}
.wrapper_gray {
    background: #f8f8f8;
}
.wrapper_gray .footer{
  background: #fff;
}

/*1.2 centers*/

.center {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0px 16px;
  max-width: 1149px;
}
 
/*centers end*/


/*2. Заголовки*/

h1,
h2,
h3,
h4 {
  font-weight: 100;
  margin: 0.67em 0;
  line-height: 1.2em;
}

h1 {
  font-size: 40px;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

h4 {
  font-size: 29px;
}

h1+p,
h2+p,
h3+p,
h4+p {
  margin-top: -0.7em;
}

@media(max-width:767px) {
  h1,
  h2,
  h3,
  h4 {
    font-weight: 100;
    margin: 0.67em 0;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 29px;
  }
  h1+p,
  h2+p,
  h3+p,
  h4+p {
    margin-top: -1em;
  }
}


/*3. Списки*/

.list {}


/*4. Ссылки*/

a {
  font-family: 'Roboto', sans-serif;
  color: #222;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: none;
}

a:hover,
a:focus {
  /* color: #ff4a43; */
}

a:visited {}

.lnk {
  text-decoration: underline;
}

.lnk:hover,
.lnk:focus {
  text-decoration: none;
}


/*5. Параграф*/

p {}


/*6. Форма*/

 

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #008ec9;
  text-shadow: none;
  color: #fff;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

 

.clearfix:before,
.clearfix:after {
  content: " "; 
  display: table; 
}

.clearfix:after {
  clear: both;
} 

[class*="icon-"] {
  display: inline-block;
}

/* hover effects start */

.opacity {
  -webkit-transition: opacity 0.5s ease; 
  transition: opacity 0.5s ease;
}

 
.opacity:hover, 
.opacity:focus {
  opacity: 0.9;
}

.wrapper.page_home,
.wrapper.page_analytics {
  padding-top: 54px;
}
 

@media(max-width:767px){
  .wrapper {
    /* padding-top: 126px; */
  }
  
  .wrapper.page_home,
  .wrapper.page_analytics {
    padding-top: 47px;
  }

} 
.icon-video {
  border: 1px solid rgba(34, 34, 34, 0.3);
  height: 32px;
  width: 32px;
  border-radius: 3px;
  background: url(../images/videoplay-black.png) center no-repeat;
  position: relative;
  z-index: 4;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
 
.icon-video__hover:hover .icon-video, 
.icon-video__hover:focus .icon-video
.icon-video.icon-video__hover:hover , 
.icon-video.icon-video__hover:focus  {
  background: #222 url(../images/videoplay.png) center no-repeat;
}
 
/* hover effects end */
/*

@media(max-width:399px){
  .col-xs-12  {
    
  }
} 
@media(max-width:599px){
  .col-xxsm-12  {
    
  }
} 
@media(max-width:767px){
  .col-xsm-12  {
    
  }
} 
@media(max-width:991px){
  .col-sm-12  {
    
  }
} 

*/

.advert {
  background-color: red;
  height: 200px; 
}

.advert__close {
   display: inline-block;
   width: 16px;
   height: 16px;
   position: absolute;
   right: 16px;
   top: 16px;
}

.advert + .wrapper .header { 
  position: relative; 
  top: -1px;
}
.advert + .wrapper  {  
  padding-top: 0px;
}

@media (max-width: 1070px){
  .advert + .wrapper .header + .first {
    margin-top: -56px;
    padding-top: 100px;
  } 
}

.advert_clipping {
  background: #F9F9F9;
  padding-top: 30px;
  margin-right: 30px;
  display: block;
  margin-top: 20px;
}
.advert_clipping img {
  width: 100%;
  position: relative;
  right: -30px;
}