/* menu start */

.menu_substrate {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}

.menu {
    position: fixed;
    top: 0px;
    z-index: 100;
    background: #fff;
    width: 296px;
    bottom: 0px;
    box-shadow: 0 0 5px #ccc;
    overflow: hidden;
    left: -400px;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.menu.show {
    left: 0;
}

.menu.show+.menu_substrate {
    display: block;
}

.menu__header {
    height: 49px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
    padding: 1px 23px 0 23px;
}

.menu__logo {
    background: url(../images/logo_standart.png) center no-repeat;
    width: 81px;
    height: 16px;
    margin-top: 15px;
    float: left;
}

.menu__close {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    display: inline-block;
    float: right;
    margin-top: 7px;
    border-radius: 3px;
    background: #fff url('../images/menu-close.png') center no-repeat;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.menu__close:hover,
.menu__close:focus {
    background-color: #d2d2d2;
    border-color: #d2d2d2;
}

.menu__box {
    position: absolute;
    top: 48px;
    bottom: 0px;
    left: 0px;
    right: -25px;
    overflow-y: auto;
    padding-top: 19px;
}

.menu__content {
    /* padding: 0 23px; */
}

.menu__list {
    border-bottom: 1px solid #ccc;
}

.menu__list:last-of-type {
    border-bottom: 0px;
}

.menu__list:first-of-type {
    padding-top: 0px;
    padding-bottom: 3px;
}

.menu__list+.menu__list {
    padding-top: 29px;
}

.menu__list li {
    margin-bottom: 16px;
    padding: 0 45px 0 24px;
    position: relative;
}

.menu__list li:after {
    content: '';
    width: 7px;
    height: 9px;
    background: url('../images/menuitem.png') center no-repeat;
    position: absolute;
    left: 267px;
    top: 50%;
    margin-top: -5px;
}

.menu__list a {
    font-size: 14px;
    font-weight: bold;
    display: block;
}



/* menu end */