/* mnt start */
.mnt {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.48);
  z-index: 2;
  position: relative;
  width: 100%;
  background: #fff;
}
.mnt__list .band__img{
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 3px;
  float: left;
  margin-right: 16px;
}

.mnt__item {
  width: 288px;
  border-right: 1px solid #f2f2f2;
  padding-left: 15px;
}
.mnt__list .band__item {
    padding: 15px 0 12px 0;
}

.mnt:after {
  content:'';
  display:inline-block;
  width:65px;
  height:100%;
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
} 
.mnt:before {
  content:'';
  display:inline-block;
  width:65px;
  height:100%;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 3;
} 

@media(max-width:767px){
  .mnt__list .band__img {
    width: 40px;
    height: 40px;
  }
  .mnt__list .band__name  {
    font-size: 11px;
    margin-bottom: 1px;
  }
} 

/* mnt end */