/* more start */

.more {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  display: block;
  font-weight: bold; 
  position: relative;
  left: -7px;
}
.more__icon {
  display: inline-block;
  width: 19px;
  height: 24px;
  background:url('../images/more_article.png') center left no-repeat;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 6px;
  -webkit-transition: transform 2s ease; 
  transition: transform 2s ease;
}

 
.more:hover .more__icon, 
.more:focus .more__icon {
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
}
 
/* more end */