/* note start */

.notegroup {
  max-width: 256px;
  float: right;
  padding-top: 32px;
  position: relative;
  right: 24px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease; 
  transition: opacity 0.3s ease;
}
.notegroup:after {
  content:'';
  display:inline-block;
  width:32px;
  height:1px;
  background:#222;
  position: absolute;
  top: 0;
  left: 0;
} 

.notegroup:first-of-type {
  margin-top: 24px;
}
.notegroup.show {
  opacity: 1;
}
 

.note__img {
  display: block;
}
.note__img img{
  width: 100%;
  display: block;
  margin-bottom: 27px;
}
.note__title {
  font-family: 'PT Serif', sans-serif; 
  display: block;
}
.note__description {
  opacity: 0.5;
  display: block; 
  -webkit-transition: opacity 0.3s ease; 
  transition: opacity 0.3s ease;
}
 
 
.note__video {
  display: block;
  position: relative;
}

.note__video .icon-video {
  margin-right: 10px;
  position: absolute;
  top: -3px;
}

.note__video .icon-video + .sign {
  position: relative;
  margin-left: 54px;
}

.note__list a {
  display: block;
  margin-top: 30px;
}
.note__list a:first-of-type {
  margin-top: 0px;
}
.note__thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  overflow: hidden;
  position: absolute;;
}

.note__thumbnail + .sign {
  position: relative;
  margin-left: 54px;
}

  /* modificator note_block start */
    .note_block .note__title {  
      font-size: 14px;
      -webkit-transition: opacity 0.3s ease; 
      transition: opacity 0.3s ease;
    }
    .note_block .note__img:hover .note__title {
      opacity: 0.8;
    }
    .note_block .note__description {
      font-size: 11px;
      margin-bottom: 23px;
    } 
    .note_block .note__img {
      margin-bottom: 17px;
    }
  /* modificator note_block end */

  /* modificator note_know start */
    .note_know .note__title {
      font-size: 20px;
      line-height: 1.2em;
      margin-bottom: 20px;
    } 
    .note_know .note__title:first-letter {
      font-size: 36px;
    }
  /* modificator note_know end */

/* note end */

