/**
 * Owl Carousel v2.1.6
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 * 	Default mini - Owl Carousel CSS File
 */
.owl-mini .owl-nav {
  /* margin-top: 10px; */
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-mini .owl-nav .owl-prev , 
.owl-mini .owl-nav .owl-next {
  color: #FFF;
  font-size: 14px;
  margin: 0 8px;
  padding: 4px 7px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  -webkit-transition: background 0.3s ease, border 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease;
  position: relative;
  top: 3px;
  /* left: 5px; */
}



.owl-mini .owl-nav .owl-prev {
  background:url('../images/row-prev.png') center  no-repeat; 
}
.owl-mini .owl-nav .owl-next {
  background:url('../images/row-next.png') center  no-repeat; 
}

.owl-mini .owl-nav .owl-prev:hover ,
.owl-mini .owl-nav .owl-next:hover {
  background-color: rgba(34, 34, 34, 0.1);
  border: 1px solid rgba(34, 34, 34, 0);
  color: #FFF;
  text-decoration: none;
}

.owl-mini .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-mini .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-mini .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-mini .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-mini .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-mini .owl-dots .owl-dot.active span,
.owl-mini .owl-dots .owl-dot:hover span {
  background: #869791;
}


.owl-mini .owl-panel {
  display: table;
  width: 100%;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  height: 54px;
}
.owl-mini .owl-description {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  line-height: 0.8em;
  padding: 9px 0px;
}
.owl-mini .owl-title {
  font-size: 14px;
  margin-bottom: 2px;
}

.owl-mini .owl-resource {
  color: rgba(34, 34, 34, 0.5);
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: -2px;
}

.owl-mini .owl-buttons {
  display: table-cell;
  width: 120px;
  border-left: 1px solid rgba(34, 34, 34, 0.1);
  vertical-align: middle;
}
@media(max-width:767px){
  .owl-mini .owl-description {
    padding: 13px 10px 8px 0px;
    padding-left: 21px;
    height: 60px;
  }
  .owl-mini .owl-buttons {
    width: 136px;
  }
  .owl-mini .owl-title {
    font-size: 11px;
    margin-bottom: 3px;
  }
  .owl-mini .owl-nav .owl-prev, .owl-mini .owl-nav .owl-next {
    top: 0px;
    margin: 0px 8px;
    left: 3px;
  }
} 