/* pagecontent start */

.pagecontent {
  
}

.pagecontent__title {
  font-size: 40px;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

.pagecontent__header {
  margin-top: 21px;
}

.pagecontent__socialtop {
  margin-top: 26px;
}

.pagecontent__header + .pagecontent__socialtop {
  margin-top: 22px;
}

.pagecontent__socialbottom {
  margin-top: 32px;
}

.pagecontent__related {
  margin-top: 37px;
}
.pagecontent__relatedcard {
  margin-top: 43px;
}

.pagecontent__more {
  margin: 42px 0 2px 0;
}

.pagecontent .content {
  padding-top: 30px;
}
.pagecontent .content p:first-of-type {
   margin-top: 0px; 
}
  @media(max-width:1100px) and (min-width:767px){
    .pagecontent__socialtop .social__item span,
    .pagecontent__socialbottom .social__item span {
      width: 0px;
      white-space: nowrap;
      overflow: hidden;
      -webkit-transition: width 0.3s ease; 
      transition: width 0.3s ease;
    } 
    .pagecontent__socialbottom .social__item,
    .pagecontent__socialtop .social__item {
      padding-right: 0px;
      width: 33px;
      height: 33px;
    }
  } 
  @media(max-width:1120px){
    .pagecontent__socialbottom .social__title {
      float: none;
    }
    .pagecontent__socialbottom .social__list{
      float: none;
    }
  } 

  @media(max-width:768px) {
    .pagecontent__material {
      width: 100%;
    }
    .pagecontent__righthand {
      display: none;
    }
  }
  @media(max-width:767px) {
    .pagecontent__title {
      font-size: 24px;
      line-height: 1em;
    }
    .pagecontent__header {
      margin-top: 15px;
    }
    .pagecontent__header + .pagecontent__socialtop {
      margin-top: 21px;
      margin-bottom: -8px;
    }
    .pagecontent__relatedcard {
      margin-top: 17px;
    }
    .pagecontent__more {
      margin: 10px 0 14px 0;
    }
    .pagecontent__related {
      margin-top: 13px;
    }
    .pagecontent__socialtop {
      margin-top: 17px;
    }
    .pagecontent .content {
      margin-top: -9px;
    }
  }

.content {
  font-family: 'PT Serif', sans-serif;
  line-height: 1.2em;
  font-size: 20px;
}

.content .minislider {
  margin-bottom: 27px;
  margin-top: 0px;
}
.content figure {
  margin: 31px 0;
}
.content figure:first-of-type {
  margin-top: 0px;
}

.content p {
  font-size: 16px;
  margin-left: 96px;
  margin-left: 15%;
}

.content > p:first-of-type {
  font-size: 20px;
}

.content > p:first-of-type {
  margin-left: 0;
}

.content > p:first-of-type:first-letter {
  font-size: 36px;
}

.content div > p:first-of-type:first-letter {
  font-size: 36px;
}

p.important {
  font-size: 20px;
  text-align: center;
  margin-top: 34px;
  font-weight: bold;
  margin-bottom: 38px;
}

p.important b {
  display: block;
  font-size: 48px;
  line-height: 1.2em;
  margin-bottom: 2px;
}

p.important:before,
p.important:after {
  content: '';
  display: block;
  width: 100%;
  max-width: 160px;
  height: 1px;
  background: rgba(34, 34, 34, 0.1);
  margin: 0 auto;
}

p.important:after {
  margin-top: 50px;
}

p.important:before {
  margin-bottom: 26px;
}

.important-minor {
  margin-top: 20px;
}

.important-minor > p:first-of-type {
  font-style: italic;
  font-size: 20px;
  float: left;
  max-width: 256px;
  position: relative;
  margin: -10px 33px 0 0px;
  padding-top: 39px;
  padding-bottom: 40px;
  width: 50%;
}

p.important-minor:first-of-type:first-letter {
  font-size: 36px;
}

.important-minor:after {
  content: " ";
  display: table;
  clear: both;
}

.important-minor p:first-of-type:after {
  width: 32px;
  height: 1px;
  background: #222;
  position: absolute;
  top: 7px;
  left: 0;
  display: inline-block;
  content: '';
}

@media(max-width:767px) {
  .content p {
    margin-left: 0px;
  }
  .important-minor > p:first-of-type {
    float: none;
    max-width: 100%;
    margin: 0;
    padding: 40px 0 20px 0;
    width: 100%;
  }
  .content .videoplay ,
  .content .minislider {
    margin-left: -10px;
    margin-right: -10px;
  }
  .content > p:first-of-type {
    font-size: 18px;
  }
  p.important b {
    font-size: 32px;
  }
  p.important {
    font-size: 16px;
  }
  p.important:before,
  p.important:after {
    max-width: 100%;
    margin: 0 auto;
  }
  p.important:before {
    margin-bottom: 16px;
  }
  p.important:after {
    margin-top: 16px;
  }
  .content > p:first-of-type:first-letter {
    font-size: 24px;
  }
}


/* pagecontent end */
