/* popup start */

.popup__back {
  position: fixed;
  top:0px;
  left:0px;
  right: 0px;
  bottom: 0px;
  background: #fff;
  opacity: 0.95;
  z-index: 100;
  display: none; 
}
.popup__box {
  position: fixed;
  top:0px;
  left:0px;
  right: 0px;
  bottom: 0px;
  z-index: 101;
  overflow: auto;
  display: none; 
}
.popup__table  {
  display: table;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.popup__tr  {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  max-height: 100%;
}
.popup__td  {

}
.popup {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}
 
.popup__close {
  background:url('../images/comments-close.png') center left no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  position: absolute;
  right: 0px;
  top: 19px;
}
.popup__close:hover,
.popup__close:focus {
 
}
 
.popup__hid {
  /* overflow: auto; */
  /* max-height: 100%; */
}

.popup__content {
  text-align: left;
}

.popup__header h3{
    margin: 0.17em 0 0.67em 0;
    font-size: 32px;
    line-height: 1.3em;
}

@media(max-width:767px){
  .popup { 
    padding: 1px 15px 30px; 
  }
  .popup__close {
    top: 16px;
    right: 10px;
  }
} 


/* popup end */