/* related start */

.related { 
}

.related a {
  margin-right: 12px;
}

.related__title {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: bold;
}


/* modificator related_card start */

.related_card .related__title {
  font-size: 24px;
  margin-bottom: 15px;
}

.related_card a {
  margin-right: 0
}

.related_card .row > div:last-of-type .card_miracle {
  border-bottom: 0px;
}

@media(max-width:767px){
  .related_card .related__title {
    margin-bottom: -5px;
  }
  .related a {
    margin-bottom: 15px;
  }
} 

/* modificator related_card end */


/* related end */
