/* roubric start */

.page_roubrick .related {
  margin-top: 23px;
  margin-bottom: 32px;
}

.roubric {
  padding-top: 30px;
}

.roubric .card_full .card__photo img {
  width: 88%;
}

.roubric .card_standart .time {
  font-size: 9px;
}

.roubric .card_standart .card__titlebox:first-of-type {
  min-height: 128px;
}



/* roubric end */