 /* search start */

.search .popup{
 max-width: 736px;
}
.search .popup__tr {
    vertical-align: top;
}
 
.search .form {
    margin-top: 50px;
}
 
@media(max-width:767px){
  .search .form {
    margin-top: 0px;
    margin-right: 30px;
  }
} 

/* search end */


