/* sign start */

.sign {
  display: block;
}

.sign__title {
  display: block;
  font-family: 'PT Serif', sans-serif;
  font-size: 14px;
}

.sign__resource {
  display: block;
  font-size: 11px;
  opacity: 0.5;
  -webkit-transition: color 0.3s ease,opacity 0.3s ease;
  transition: color 0.3s ease,opacity 0.3s ease;
}

.sign_hover:hover .sign .sign__resource,
.sign_hover:focus .sign .sign__resource {
  color: #3F6AB4;
  opacity: 1;
}

.sign__thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  overflow: hidden;
  float: left;
  position: absolute;
}


/* sign end */
