/* socel start */

.social {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 19px 0px 10px 0px;
}

.social__list {
  float: right;
}

.social__title {
  font-size: 12px;
  font-weight: bold;
  margin-right: 4px;
  padding: 8px 0px;
  display: block;
  float: left;
}

.social .social__item {
  margin-right: 11px;
  margin-bottom: 8px;
  float: left;
}

.social .social__item:last-of-type {
  margin-right: 0;
}

.social__item {
  display: inline-block;
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 0px 5px 0px 0px;
  border-radius: 3px;
  -webkit-transition: border-color 0.3s ease, background 0.3s ease;
  transition: border-color 0.3s ease, background 0.3s ease;
}

.social__item:hover,
.social__item:focus {
  background: #d2d2d2;
  border-color: #d2d2d2;
}

.social__item img {
  display: inline-block;
  vertical-align: middle;
  margin-right: -2px;
}

.social__item span {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
}

.social__conmment {
  color: rgba(128, 128, 128, 0.5);
}

.social__autor {
  float: left;
  position: relative;
  top: -4px;
}

.social__time {
  float: left;
  margin-left: 34px;
  margin-top: 8px;
  opacity: 0.5;
  margin-bottom: 10px;
  margin-left: 3%;
}

.social__time + .social__content {
  float: right;
}

.social__time + .social__content .social__title {
  padding: 0px;
  width: 70px;
  margin-right: 25px;
}

.social__time .time {
  font-size: 11px;
}

.social__time .time__time {
  font-weight: normal;
}

.social__time .time__ego {
  opacity: 1;
}

@media(max-width:767px) {
  .social .social__item {
    margin-right: 7px;
  }
  .social__title {
    margin-right: 0;
    float: none;
  }
  .social__list {
    float: none;
  }
}


/* modificator social start */

.social_content {}

@media(max-width:930px) {
  .social_content .social__title {
    display: none;
  }
}

@media(max-width:767px) {
  .social_content .social__content {
    display: none;
  }
  .social__time {
    float: right;
    margin-left: 0;
    /* position: absolute; */
    right: 0px;
  }
}

@media(max-width:500px) {
  .social_content {
    position: relative;
    padding-right: 125px;
  }
  .social_content .announcement__autor {
    display: table;
  }
  .social_content .announcement__autorface {
    position: absolute;
    top: 50%;
    margin-top: -21px;
  }
  .social_content .announcement__autorname {
    display: table-cell;
    padding-left: 59px;
  }
  .social_content .announcement__autor {
    position: relative;
    height: 42px;
  }
}


/* modificator social end */


}

/* socel end */
