/* subscribe start */

.subscribe {

}
.subscribe .popup{
 max-width: 544px;
}
.subscribe .form {
  margin-top: 128px;
}
.subscribe__agreement {
  margin-top: 6px;
  font-size: 12px;
}
.subscribe__agreement input {
  position: relative;
  top: 2px;
  left: 0px;
  margin-right: 8px;
}
.subscribe__agreement span {}
.subscribe__agreement a {
  color: #927B60;
}
.subscribe__submit {
  float: right;
}
.subscribe__footer {
  margin-top: 20px;
}
/* subscribe end */