/* subscription start */

.subscription {
  display: inline-block;
}

.subscription__icon {
  border: 1px solid #FF0000;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 66px;
}

.subscription__description {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 4px;
}

.subscription__action {
  font-size: 12px;
  display: block;
  color: #222222;
}

.subscription__number {
  font-size: 9px;
  opacity: 0.5;
  display: block;
  color: #222222;
}

/* subscription end */