/* survey start */

.survey {
  background: #F2F2F2;
  max-width: 543px;
  border-radius: 3px;
  float: right;
  margin: 46px 0 0;
  padding: 11px 42px 32px 42px;
  width: 100%;
}
.survey__title {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 19px;
}
.survey__list {

}
a.survey__answer  {
  font-family: 'PT Serif', sans-serif;
  font-size: 16px;
  background: #fff;
  display: block;
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 5px 5px 9px 25px;
  margin-bottom: 8px;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  border-radius: 3px;
  /* box-shadow: 0 0 0px #ccc; */
}
a.survey__answer.survey__answer_select {
  border-color: #927B60;
  box-shadow: 0px 2px 3px rgba(204, 204, 204, 0.7);
}


/* survey end */
