/* UI START */


  /* tag start */
  
  .tag {
    font-size: 9px;
    font-weight: bold;
    color: #222;
    background: #dcdcdc;
    border: 1px solid #dcdcdc;
    display: inline-block;
    border-radius: 2px;
    padding: 3px 8px;
    line-height: 1em;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease; 
    transition: all 0.3s ease;
  } 
  .tag_news {
    background-color: rgba(100, 123, 52, 0.3);
    color: rgb(100, 123, 52);
    border-color: rgba(100, 123, 52, 0);
  }
  
  .tag_events {
    background-color: rgba(90, 52, 123, 0.3);
    color: rgb(90, 52, 123);
    border-color: rgba(90, 52, 123, 0.0);
  }
  
  .tag_people {
    background-color: rgba(229, 167, 12, 0.3);
    color: rgba(229, 167, 12, 1);
    border-color: rgba(229, 167, 12, 0.0);
  }
  
  .tag_city {
    background-color: rgba(218, 97, 12, 0.3);
    color: rgba(218, 97, 12, 1);
    border-color: rgba(218, 97, 12, 0.0);
  }
  
  .tag_policy {
    background-color: rgba(169, 0, 27, 0.3);
    color: rgba(169, 0, 27, 1);
    border-color: rgba(169, 0, 27, 0.0);
  }
  
  .tag_life {
    background-color: rgba(28, 78, 205, 0.3);
    color: rgba(28, 78, 205, 1);
    border-color: rgba(28, 78, 205, 0.0);
  }
  
  .tag_history {
    background-color: rgba(163, 113, 46, 0.3);
    color: rgba(163, 113, 46, 1);
    border-color: rgba(163, 113, 46, 0.0);
  }
  
  .tag_opinions {
    background-color: rgba(81, 192, 167, 0.3);
    color: rgba(81, 192, 167, 1);
    border-color: rgba(81, 192, 167, 0.0);
  }
  
  .tag_sport {
    background-color: rgba(0, 174, 218, 0.3);
    color: rgba(0, 174, 218, 1);
    border-color: rgba(0, 174, 218, 0.0);
  }
  
  .tag_leisure {
    background-color: rgba(88, 137, 174, 0.3);
    color: rgba(88, 137, 174, 1);
    border-color: rgba(88, 137, 174, 0.0);
  }
  
  .tag_transparent {
    background: none;
    border: none;
    color: #fff;
  }
  
  .tag_white {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-color: transparent;
  }

  /* hover start */
  
  
   
   .tag_news:hover, 
   .tag_news:focus {
    background-color: rgba(100, 123, 52, 0);
    border-color: rgba(100, 123, 52, 0.5);
  }
   
   .tag_events:hover, 
   .tag_events:focus {
    background-color: rgba(90, 52, 123, 0);
    border-color: rgba(90, 52, 123, 0.5);
  }
   
   .tag_people:hover, 
   .tag_people:focus {
    background-color: rgba(229, 167, 12, 0);
    border-color: rgba(229, 167, 12, 0.5);
  }
   
   .tag_city:hover, 
   .tag_city:focus {
    background-color: rgba(218, 97, 12, 0);
    border-color: rgba(218, 97, 12, 0.5);
  }
   
   .tag_policy:hover, 
   .tag_policy:focus {
    background-color: rgba(169, 0, 27, 0);
    border-color: rgba(169, 0, 27, 0.5);
  }
   
   .tag_life:hover, 
   .tag_life:focus {
    background-color: rgba(28, 78, 205, 0);
    border-color: rgba(28, 78, 205, 0.5);
  }
   
   .tag_history:hover, 
   .tag_history:focus {
    background-color: rgba(163, 113, 46, 0);
    border-color: rgba(163, 113, 46, 0.5);
  }
   
   .tag_opinions:hover, 
   .tag_opinions:focus {
    background-color: rgba(81, 192, 167, 0);
    border-color: rgba(81, 192, 167, 0.5);
  }
   
   .tag_sport:hover, 
   .tag_sport:focus {
    background-color: rgba(0, 174, 218, 0);
    border-color: rgba(0, 174, 218, 0.5);
  }
   
   .tag_leisure:hover, 
   .tag_leisure:focus {
    background-color: rgba(88, 137, 174, 0);
    border-color: rgba(88, 137, 174, 0.5);
  }
   
   .tag_transparent:hover, 
   .tag_transparent:focus {
    background: none;
    border: none;
    color: #fff; 
  }
   
   .tag_white:hover, 
   .tag_white:focus {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-color: transparent;
  }
  /* hover end */

  /* tag end */

  /* time start */
  
  .time {
    font-size: 10px;
  }
  .time__time {
    display: inline-block;
    font-weight: bold;
    margin-right: 8px;
  }
  .time__ego {
    opacity: 0.5;
    display: inline-block;
  }
  /* time end */


  /* title start */
  
  .title {
    font-family: 'PT Serif', sans-serif;
    color:#222;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-size: 14px;
    line-height: 1.1em;
  }
  .title:hover, 
  .title:focus {
    opacity: 0.7;
  }
  
  /* title end */

/* UI END */