/* videoplay start */

.videoplay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.videoplay__description {
  position: absolute;
  z-index: 6;
  bottom: 28px;
  line-height: 0.8em;
  left: 32px;
  right: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.videoplay__video {
  opacity: 0;
  position: relative;
  z-index: 3;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.videoplay__title {
  font-size: 14px;
  margin-bottom: 2px;
  color: #fff;
}

.videoplay__back {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 4;
}

.videoplay__back img {
  width: 100%;
}

.videoplay__icon {
  border: 1px solid rgba(128, 128, 128, 0.3);
  height: 32px;
  width: 32px;
  float: left;
  border-radius: 3px;
  background: url('../images/videoplay.png') center no-repeat;
  position: relative;
  z-index: 4;
  margin-right: 24px;
  margin-top: -3px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.videoplay__icon:hover {
  background: #fff url('../images/videoplay-black.png') center no-repeat;
}

.videoplay__resource {
  color: #fff;
  opacity: 0.3;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
}

.play .videoplay__video {
  display: block;
  opacity: 1;
  z-index: 5;
}

.play .videoplay__back {
  position: absolute;
  z-index: 2;
  opacity: 0;
  height: 100%;
  left: 0;
  top: 0;
}

.play .videoplay__description {
  display: none;
}


/* videoplay end */
